<div class="jnks-iot-custom-mobile-page-panel">
  <div class="jnks-iot-custom-mobile-page-title" translate>mobile.edit-custom-page</div>
  <div class="jnks-iot-custom-mobile-page-panel-content">
    <jnks-iot-mobile-page-item [formControl]="mobilePageControl">
    </jnks-iot-mobile-page-item>
  </div>
  <div class="jnks-iot-custom-mobile-page-panel-buttons">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="apply()"
            [disabled]="mobilePageControl.invalid || !mobilePageControl.dirty">
      {{ 'action.apply' | translate }}
    </button>
  </div>
</div>
