@import '../scss/constants';

.jnks-iot-custom-mobile-page-panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media #{$mat-lt-md} {
    width: 90vw;
  }
  .jnks-iot-custom-mobile-page-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: var(--jnks-iot-text);
  }
  .jnks-iot-custom-mobile-page-panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    margin: -10px;
    padding: 10px;
  }
  .jnks-iot-custom-mobile-page-panel-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
