@import "../scss/constants";
@import '../scss/mixins';

.jnks-iot-mobile-page-item-row-component-container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.jnks-iot-mobile-page-item-row-component {
  display: flex;
  gap: 8px;
  align-items: center;
  .mat-mdc-icon-button.mat-mdc-button-base {
    &:not(.jnks-iot-drag-handle) {
      @media #{$mat-xs} {
        @include jnks-iot-mat-icon-button-size(24);
      }
      @media #{$mat-sm} {
        @include jnks-iot-mat-icon-button-size(32);
      }
    }
    &:not(:disabled) {
      .mat-icon {
        color: rgba(0, 0, 0, 0.54);
      }
    }
    &:disabled {
      .mat-icon {
        color: rgba(0, 0, 0, 0.12);
      }
    }
  }
  .jnks-iot-form-row {
    flex: 1;
    min-width: 0;
    .jnks-iot-mobile-page-item-start-block {
      display: flex;
      align-items: center;
      gap: 0;
      min-width: 0;
    }
    .jnks-iot-mobile-page-item-icon-name-block {
      display: flex;
      align-items: center;
      gap: 12px;
      min-width: 0;
    }
    .jnks-iot-mobile-page-item-input-block {
      display: flex;
      gap: 8px;
      flex: 1;
    }
  }
}

.jnks-iot-mobile-page-item-info {
  .mdc-text-field:not(.mdc-text-field--disabled) {
    input.mdc-text-field__input {
      cursor: default;
      &::placeholder {
        color: $jnks-iot-primary-color;
      }
      &:-ms-input-placeholder {
        color: $jnks-iot-primary-color;
      }
    }
  }
}
