<div class="mobile-layout-container">
  <div class="header flex items-center gap-2">
    <div class="title-section">
      <span jnksIotTruncateWithTooltip class="title-container" translate>mobile.pages</span>
      <mat-slide-toggle class="whitespace-nowrap xs:!hidden" [formControl]="showHiddenPages">{{ 'mobile.show-hidden-pages' | translate }}</mat-slide-toggle>
    </div>
    <span class="flex-1"></span>
    <button *ngIf="!readonly" class="jnks-iot-mobile-layout-button lt-lg:!hidden"
            mat-stroked-button
            color="primary"
            (click)="hideAll()">
      <jnks-iot-icon matButtonIcon>visibility_off</jnks-iot-icon>
      <div jnksIotTruncateWithTooltip>{{ 'mobile.hide-all-pages' | translate }}</div>
    </button>
    <button *ngIf="!readonly" class="jnks-iot-mobile-layout-button lt-lg:!hidden"
            mat-stroked-button
            color="primary"
            (click)="resetToDefault()">
      <jnks-iot-icon matButtonIcon>mdi:broom</jnks-iot-icon>
      <div jnksIotTruncateWithTooltip>{{ 'mobile.reset-to-default-pages' | translate }}</div>
    </button>
    <button *ngIf="!readonly"
            type="button"
            mat-stroked-button
            class="jnks-iot-box-button gt-md:!hidden"
            matTooltip="{{ 'mobile.hide-all-pages' | translate }}"
            matTooltipPosition="above"
            (click)="hideAll()">
      <jnks-iot-icon color="primary" matButtonIcon>visibility_off</jnks-iot-icon>
    </button>
    <button *ngIf="!readonly"
            type="button"
            mat-stroked-button
            class="jnks-iot-box-button gt-md:!hidden"
            matTooltip="{{ 'mobile.reset-to-default-pages' | translate }}"
            matTooltipPosition="above"
            (click)="resetToDefault()">
      <jnks-iot-icon color="primary" matButtonIcon>mdi:broom</jnks-iot-icon>
    </button>
<!---->
  </div>
  <div #mobilePagesContainer class="jnks-iot-drop-list jnks-iot-mobile-items-container"
       cdkDropList
       cdkDropListOrientation="vertical"
       (cdkDropListDropped)="mobileItemDrop($event)"
       [cdkDropListDisabled]="!dragEnabled">
    <div class="jnks-iot-mobile-item-row-container" *ngFor="let menuItemControl of visibleMobilePagesControls(); trackBy: trackByMenuItem;
             let $index = index; last as isLast;">
      <div cdkDrag [cdkDragDisabled]="!dragEnabled"
           class="jnks-iot-draggable jnks-iot-mobile-item-row">
        <div *ngIf="isCustom(menuItemControl)" class="jnks-iot-mobile-item-label">
          {{ 'mobile.custom-page' | translate }}
        </div>
        <button cdkDragHandle *ngIf="dragEnabled"
                mat-icon-button
                matTooltip="{{ 'action.drag' | translate }}"
                matTooltipPosition="above"
                class="jnks-iot-mat-40 jnks-iot-drag-handle">
          <jnks-iot-icon>drag_indicator</jnks-iot-icon>
        </button>
        <jnks-iot-mobile-menu-item-row style="flex: 1; min-width: 0;"
                                 [formControl]="menuItemControl"
                                 [maxIconNameBlockWidth]="maxIconNameBlockWidth"
                                 [hideItems]="hideItems$"
                                 (pageRemoved)="removeCustomPage($index)">
        </jnks-iot-mobile-menu-item-row>
      </div>
      <button *ngIf="!isLast && !readonly"
              (click)="addCustomMobilePage($index)"
              class="jnks-iot-add-mobile-item-button"
              [class.divider]="showMenuDivider($index)"
              mat-button
              matTooltip="{{ 'mobile.add-specific-page' | translate }}"
              matTooltipPosition="above"
              color="primary">
        <div class="jnks-iot-add-mobile-label-container jnks-iot-primary-fill">
          <mat-icon class="jnks-iot-mat-18" color="primary">add</mat-icon>
          <span class="jnks-iot-mobile-divider-label" *ngIf="showMenuDivider($index)">{{ getDividerLabel($index) | translate }}</span>
        </div>
      </button>
    </div>
  </div>
  <button *ngIf="!readonly" (click)="addCustomMobilePage()"
          mat-button color="primary" class="jnks-iot-primary-fill" style="min-height: 52px;">
    <mat-icon color="primary">add</mat-icon>
    <span translate>mobile.add-specific-page</span>
  </button>
</div>
