:host {
  .mat-headline-5 {
    margin-bottom: 8px;
  }

  .mat-mdc-card-title {
    margin: 0;
  }

  .fields-group {
    padding: 8px 16px 0;
    margin: 10px 0;
    border: 1px groove var(--jnks-iot-line);
    border-radius: 4px;

    legend {
      color: var(--jnks-iot-text-muted);
    }
  }
}
