<div [formGroup]="form" class="mqtt-pull-subscribe-requests">
  <div *ngFor="let req of subscribeRequestsArray.controls; let i = index"
       class="subscribe-request-card" [formGroup]="req">
    <div class="subscribe-request-header flex flex-row items-center justify-between gap-2">
      <mat-form-field class="flex-1 mat-block subscribe-name-field">
        <mat-label translate>device-profile.mqtt-pull.subscribe-request-name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-slide-toggle formControlName="enabled" class="subscribe-enabled-toggle">
        {{ 'device-profile.mqtt-pull.subscribe-request-enabled' | translate }}
      </mat-slide-toggle>
      <button *ngIf="!disabled && subscribeRequestsArray.length > 1"
              type="button" mat-icon-button color="primary"
              (click)="removeSubscribeRequest(i)"
              matTooltip="{{ 'action.remove' | translate }}">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <section class="flex flex-row gap-2 xs:flex-col">
      <mat-form-field class="flex-1 mat-block">
        <mat-label translate>device-profile.mqtt-pull.topic</mat-label>
        <input matInput formControlName="topic" required placeholder="devices/+/telemetry">
      </mat-form-field>
      <mat-form-field class="flex-1 mat-block">
        <mat-label translate>device-profile.mqtt-pull.qos</mat-label>
        <mat-select formControlName="qos">
          <mat-option *ngFor="let q of qosOptions" [value]="q">{{ q }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flex-1 mat-block">
        <mat-label translate>device-profile.mqtt-pull.data-type</mat-label>
        <mat-select formControlName="dataType">
          <mat-option *ngFor="let t of dataTypes" [value]="t">
            {{ ('device-profile.mqtt-pull.data-type-' + t) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>
    <mat-form-field class="mat-block" *ngIf="showTelemetryKey(req)">
      <mat-label translate>device-profile.mqtt-pull.telemetry-key</mat-label>
      <input matInput formControlName="telemetryPayloadKey">
      <mat-hint translate>device-profile.mqtt-pull.telemetry-key-hint</mat-hint>
    </mat-form-field>
  </div>
  <button *ngIf="!disabled" type="button" mat-stroked-button color="primary" class="add-subscribe-btn"
          (click)="addSubscribeRequest()">
    <mat-icon>add_circle_outline</mat-icon>
    {{ 'device-profile.mqtt-pull.add-subscribe-request' | translate }}
  </button>
</div>
