:host {
  .jnks-iot-template-header {
    position: sticky;
    top: 0;
    z-index: 5;
    padding-bottom: 12px;
    background-color: var(--mdc-dialog-container-color, white);

    .jnks-iot-hint-available-params {
      color: rgba(0, 0, 0, 0.54);
      letter-spacing: 0.4px;

      .content {
        vertical-align: middle;
      }
    }
  }

  .template-tittle {
    gap: 12px;
    font-weight: normal;

    jnks-iot-icon {
      color: rgba(0, 0, 0, .38);
    }
  }

  .jnks-iot-mat-error {
    font-size: 13px;
  }

  .jnks-iot-title {
    font-size: 16px;
    line-height: 24px;

    &.jnks-iot-required::after {
      font-size: initial;
      content: "*";
    }

    &.jnks-iot-error {
      color: var(--mdc-theme-error, #f44336);

      &.jnks-iot-required::after {
        color: var(--mdc-theme-error, #f44336);
      }
    }
  }
}

:host ::ng-deep {
  .jnks-iot-form-panel .mat-expansion-panel.jnks-iot-settings {
    & > .mat-expansion-panel-content > .mat-expansion-panel-body {
      gap: 0;
    }
  }
}
