<section class="jnks-iot-template-header">
  <div class="jnks-iot-form-panel-title" translate>notification.customize-messages</div>
  <div class="jnks-iot-form-panel-hint jnks-iot-hint-available-params">
    <span class="content">{{ 'notification.input-fields-support-templatization' | translate}}</span>
    <span jnks-iot-help-popup="{{ NotificationTemplateTypeTranslateMap.get(notificationType).helpId }}"
          jnks-iot-help-popup-placement="bottom"
          trigger-style="letter-spacing:0.25px;font-size:12px;"
          [jnks-iot-help-popup-style]="{maxWidth: '800px'}"
          trigger-text="{{ 'notification.see-documentation' | translate }}"></span>
  </div>
</section>
<section [formGroup]="templateConfigurationForm" class="jnks-iot-form-panel no-border no-padding">
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.WEB"
           *ngIf="templateConfigurationForm.get('WEB.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.WEB) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.WEB).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.WEB).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block">
          <mat-label translate>notification.subject</mat-label>
          <input matInput formControlName="subject">
          <mat-error *ngIf="templateConfigurationForm.get('WEB.subject').hasError('required')">
            {{ 'notification.subject-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>notification.message</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cols="1"
                    cdkAutosizeMinRows="1"
                    formControlName="body">
          </textarea>
          <mat-error *ngIf="templateConfigurationForm.get('WEB.body').hasError('required')">
            {{ 'notification.message-required' | translate }}
          </mat-error>
        </mat-form-field>
        <section formGroupName="additionalConfig" class="jnks-iot-form-panel no-padding no-border">
          <div class="jnks-iot-form-row space-between" formGroupName="icon">
            <mat-slide-toggle formControlName="enabled" class="mat-slide">
              {{ 'icon.icon' | translate }}
            </mat-slide-toggle>
            <div class="flex flex-row items-center justify-start gap-2">
              <jnks-iot-material-icon-select asBoxInput
                                       [color]="templateConfigurationForm.get('WEB.additionalConfig.icon.color').value"
                                       formControlName="icon">
              </jnks-iot-material-icon-select>
              <jnks-iot-color-input asBoxInput
                              formControlName="color">
              </jnks-iot-color-input>
            </div>
          </div>
          <jnks-iot-notification-action-button-configuration
            actionTitle="{{ 'notification.action-button' | translate }}"
            formControlName="actionButtonConfig">
          </jnks-iot-notification-action-button-configuration>
        </section>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.MOBILE_APP"
           *ngIf="templateConfigurationForm.get('MOBILE_APP.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.MOBILE_APP) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.MOBILE_APP).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.MOBILE_APP).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block">
          <mat-label translate>notification.subject</mat-label>
          <input matInput formControlName="subject">
          <mat-error *ngIf="templateConfigurationForm.get('MOBILE_APP.subject').hasError('required')">
            {{ 'notification.subject-required' | translate }}
          </mat-error>
          <mat-error *ngIf="templateConfigurationForm.get('MOBILE_APP.subject').hasError('maxlength')">
            {{ 'notification.subject-max-length' | translate :
            {length: templateConfigurationForm.get('MOBILE_APP.subject').getError('maxlength').requiredLength}
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>notification.message</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cols="1"
                    cdkAutosizeMinRows="1"
                    formControlName="body">
          </textarea>
          <mat-error *ngIf="templateConfigurationForm.get('MOBILE_APP.body').hasError('required')">
            {{ 'notification.message-required' | translate }}
          </mat-error>
          <mat-error *ngIf="templateConfigurationForm.get('MOBILE_APP.body').hasError('maxlength')">
            {{ 'notification.message-max-length' | translate :
            {length: templateConfigurationForm.get('MOBILE_APP.body').getError('maxlength').requiredLength}
            }}
          </mat-error>
        </mat-form-field>
        <div formGroupName="additionalConfig" class="jnks-iot-form-panel no-padding no-border">
          <div class="jnks-iot-form-row space-between" formGroupName="icon">
            <mat-slide-toggle formControlName="enabled" class="mat-slide">
              {{ 'icon.icon' | translate }}
            </mat-slide-toggle>
            <div class="flex flex-row items-center justify-start gap-2">
              <jnks-iot-material-icon-select asBoxInput
                                       [color]="templateConfigurationForm.get('MOBILE_APP.additionalConfig.icon.color').value"
                                       formControlName="icon">
              </jnks-iot-material-icon-select>
              <jnks-iot-color-input asBoxInput
                              formControlName="color">
              </jnks-iot-color-input>
            </div>
          </div>
          <jnks-iot-notification-action-button-configuration
            formControlName="onClick"
            hideButtonText
            [sliderHint]="notificationTapActionHint"
            actionTitle="{{ 'notification.notification-tap-action' | translate }}">
          </jnks-iot-notification-action-button-configuration>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.SMS"
           *ngIf="templateConfigurationForm.get('SMS.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.SMS) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.SMS).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.SMS).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block" subscriptSizing="dynamic">
          <mat-label translate>notification.message</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cols="1"
                    cdkAutosizeMinRows="1"
                    formControlName="body">
          </textarea>
          <mat-hint></mat-hint>
          <mat-error *ngIf="templateConfigurationForm.get('SMS.body').hasError('required')">
            {{ 'notification.message-required' | translate }}
          </mat-error>
          <mat-error *ngIf="templateConfigurationForm.get('SMS.body').hasError('maxlength')">
            {{ 'notification.message-max-length' | translate :
            {length: templateConfigurationForm.get('SMS.body').getError('maxlength').requiredLength}
            }}
          </mat-error>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.EMAIL"
           *ngIf="templateConfigurationForm.get('EMAIL.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.EMAIL) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.EMAIL).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.EMAIL).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block">
          <mat-label translate>notification.subject</mat-label>
          <input matInput formControlName="subject">
          <mat-error *ngIf="templateConfigurationForm.get('EMAIL.subject').hasError('required')">
            {{ 'notification.subject-required' | translate }}
          </mat-error>
        </mat-form-field>
        <mat-label class="jnks-iot-title jnks-iot-required"
                   [class.jnks-iot-error]="(interacted || templateConfigurationForm.get('EMAIL.body').touched) && templateConfigurationForm.get('EMAIL.body').hasError('required')"
                   translate>notification.message
        </mat-label>
        <editor [init]="tinyMceOptions" formControlName="body"></editor>
        <mat-error class="jnks-iot-mat-error"
                   *ngIf="(interacted || templateConfigurationForm.get('EMAIL.body').touched) && templateConfigurationForm.get('EMAIL.body').hasError('required')">
          {{ 'notification.message-required' | translate }}
        </mat-error>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.SLACK"
           *ngIf="templateConfigurationForm.get('SLACK.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.SLACK) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.SLACK).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.SLACK).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block">
          <mat-label translate>notification.message</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cols="1"
                    cdkAutosizeMinRows="1"
                    formControlName="body">
          </textarea>
          <mat-error *ngIf="templateConfigurationForm.get('SLACK.body').hasError('required')">
            {{ 'notification.message-required' | translate }}
          </mat-error>
        </mat-form-field>
      </ng-template>
    </mat-expansion-panel>
  </section>
  <section class="jnks-iot-form-panel jnks-iot-slide-toggle stroked"
           [formGroupName]="NotificationDeliveryMethod.MICROSOFT_TEAMS"
           *ngIf="templateConfigurationForm.get('MICROSOFT_TEAMS.enabled').value">
    <mat-expansion-panel class="jnks-iot-settings" expanded="{{ expandedForm(NotificationDeliveryMethod.MICROSOFT_TEAMS) }}">
      <mat-expansion-panel-header class="fill-width flex flex-row flex-wrap">
        <mat-panel-title class="template-tittle">
          <jnks-iot-icon>{{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.MICROSOFT_TEAMS).icon }}</jnks-iot-icon>
          {{ NotificationDeliveryMethodInfoMap.get(NotificationDeliveryMethod.MICROSOFT_TEAMS).name | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent class="jnks-iot-extension-panel">
        <mat-form-field class="mat-block">
          <mat-label translate>notification.subject</mat-label>
          <input matInput formControlName="subject">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>notification.message</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    cols="1"
                    cdkAutosizeMinRows="1"
                    formControlName="body">
          </textarea>
          <mat-error *ngIf="templateConfigurationForm.get('MICROSOFT_TEAMS.body').hasError('required')">
            {{ 'notification.message-required' | translate }}
          </mat-error>
        </mat-form-field>
        <div class="jnks-iot-form-panel no-padding no-border">
          <div class="jnks-iot-form-row space-between">
            <div translate>notification.theme-color</div>
            <jnks-iot-color-input asBoxInput formControlName="themeColor"></jnks-iot-color-input>
          </div>
          <jnks-iot-notification-action-button-configuration
            actionTitle="{{ 'notification.action-button' | translate }}"
            formControlName="button">
          </jnks-iot-notification-action-button-configuration>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </section>
</section>
