@import "../../../../../scss/constants";

:host {
  height: 100%;
  display: grid;
  width: 100%;

  @media #{$mat-gt-xs} {
    min-width: 760px;
  }

  @media #{$mat-gt-md} {
    min-width: 880px;
  }

  .dialog-actions-row {
    padding: 8px;
  }
}

:host-context(.tb-fullscreen-dialog .mat-mdc-dialog-container) {
  @media #{$mat-lt-sm} {
    .mat-mdc-dialog-content {
      max-height: 75vh;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-dialog-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;

    .mat-stepper-horizontal {
      overflow: hidden;

      .mat-horizontal-stepper-wrapper {
        max-height: 100%;
      }

      .mat-horizontal-content-container {
        height: 680px;
        max-height: 100%;
        width: 100%;
        overflow-y: auto;
        scrollbar-gutter: stable;
        box-sizing: border-box;
        padding: 8px 28px 20px;

        @media #{$mat-gt-sm} {
          min-width: 720px;
        }

        @media #{$mat-gt-md} {
          min-width: 820px;
        }

        fieldset {
          max-width: 100%;
        }
      }

      .mat-horizontal-stepper-header-container {
        padding: 0 12px;
      }
    }
  }
}
