<div [formGroup]="entitySelectFormGroup">
  <jnks-iot-entity-type-select
    *ngIf="displayEntityTypeSelect"
    [showLabel]="true"
    [required]="required"
    [useAliasEntityTypes]="useAliasEntityTypes"
    [allowedEntityTypes]="allowedEntityTypes"
    [additionEntityTypes]="additionEntityTypes"
    formControlName="entityType">
  </jnks-iot-entity-type-select>
  <jnks-iot-entity-autocomplete
    *ngIf="modelValue.entityType && !entityTypeNullUUID.has(modelValue.entityType)"
    [required]="required"
    [entityType]="modelValue.entityType"
    formControlName="entityId">
  </jnks-iot-entity-autocomplete>
</div>
