<div [formGroup]="entitySelectFormGroup">
  <tb-entity-type-select
    *ngIf="displayEntityTypeSelect"
    [showLabel]="true"
    [required]="required"
    [useAliasEntityTypes]="useAliasEntityTypes"
    [allowedEntityTypes]="allowedEntityTypes"
    [additionEntityTypes]="additionEntityTypes"
    formControlName="entityType">
  </tb-entity-type-select>
  <tb-entity-autocomplete
    *ngIf="modelValue.entityType && !entityTypeNullUUID.has(modelValue.entityType)"
    [required]="required"
    [entityType]="modelValue.entityType"
    formControlName="entityId">
  </tb-entity-autocomplete>
</div>
