<div class="jnks-iot-entity-list-select flex flex-row" [formGroup]="entityListSelectFormGroup">
  <jnks-iot-entity-type-select
    style="min-width: 100px; padding-right: 8px;"
    *ngIf="displayEntityTypeSelect"
    [showLabel]="true"
    [required]="required"
    [useAliasEntityTypes]="useAliasEntityTypes"
    [allowedEntityTypes]="allowedEntityTypes"
    formControlName="entityType">
  </jnks-iot-entity-type-select>
  <jnks-iot-entity-list
    class="flex-1"
    [class.jnks-iot-not-empty]="modelValue.ids?.length > 0"
    *ngIf="modelValue.entityType"
    [required]="required"
    [entityType]="modelValue.entityType"
    formControlName="entityIds">
  </jnks-iot-entity-list>
</div>
