<section [formGroup]="checkMessageConfigForm" class="jnks-iot-form-panel stroked">
  <div class="jnks-iot-form-row no-padding no-border space-between">
    <div class="jnks-iot-form-panel-title jnks-iot-required" translate>rule-node-config.fields-to-check</div>
    <div class="jnks-iot-form-panel-hint jnks-iot-error" translate [hidden]="!(touchedValidationControl && checkMessageConfigForm.hasError('atLeastOne'))">
      rule-node-config.at-least-one-field-required
    </div>
  </div>
  <jnks-iot-string-items-list editable subscriptSizing="dynamic"
                        [label]="'rule-node-config.data-keys' | translate"
                        [placeholder]="'rule-node-config.add-message-field' | translate"
                        formControlName="messageNames">
    <mat-icon matSuffix color="primary" class="help-icon margin-8 cursor-pointer" aria-hidden="false" aria-label="help-icon"
              matTooltip="{{ 'rule-node-config.chip-help' | translate: { inputName: 'rule-node-config.field-name' | translate } }}">help</mat-icon>
  </jnks-iot-string-items-list>
  <jnks-iot-string-items-list editable subscriptSizing="dynamic"
                        [label]="'rule-node-config.metadata-keys' | translate"
                        [placeholder]="'rule-node-config.add-metadata-field' | translate"
                        formControlName="metadataNames">
    <mat-icon matSuffix color="primary" class="help-icon margin-8 cursor-pointer" aria-hidden="false" aria-label="help-icon"
              matTooltip="{{ 'rule-node-config.chip-help' | translate: { inputName: 'rule-node-config.field-name' | translate } }}">help</mat-icon>
  </jnks-iot-string-items-list>
  <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.check-all-keys-tooltip' | translate }}"
       class="jnks-iot-form-row no-border no-padding">
    <mat-slide-toggle class="mat-slide" formControlName="checkAllKeys">
      {{ 'rule-node-config.check-all-keys' | translate }}
    </mat-slide-toggle>
  </div>
</section>
