<section [formGroup]="checkRelationConfigForm" class="jnks-iot-form-panel stroked no-padding-bottom">
  <div class="jnks-iot-form-panel-title" translate>rule-node-config.relation-search-parameters</div>
  <div class="flex flex-col">
    <mat-form-field class="mat-block" hideRequiredMarker>
      <mat-label>{{ 'relation.direction' | translate }}</mat-label>
      <mat-select formControlName="direction" required>
        <mat-option *ngFor="let direction of entitySearchDirection" [value]="direction">
          {{ entitySearchDirectionTranslationsMap.get(direction) | translate }} <span translate>rule-node-config.relations-query-config-direction-suffix</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <jnks-iot-relation-type-autocomplete
      required
      formControlName="relationType">
    </jnks-iot-relation-type-autocomplete>
    <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.check-relation-to-specific-entity-tooltip' | translate }}"
         class="jnks-iot-form-row no-border no-padding slide-toggle">
      <mat-slide-toggle class="mat-slide" formControlName="checkForSingleEntity">
        {{ 'rule-node-config.check-relation-to-specific-entity' | translate }}
      </mat-slide-toggle>
    </div>
    <div *ngIf="checkRelationConfigForm.get('checkForSingleEntity').value" class="same-width-component-row">
      <jnks-iot-entity-type-select
        style="min-width: 100px; flex: 1;"
        showLabel
        required
        formControlName="entityType">
      </jnks-iot-entity-type-select>
      <jnks-iot-entity-autocomplete
        class="flex-1"
        required
        *ngIf="checkRelationConfigForm.get('entityType').value"
        [entityType]="checkRelationConfigForm.get('entityType').value"
        formControlName="entityId">
      </jnks-iot-entity-autocomplete>
    </div>
  </div>
</section>
