.jnks-iot-widget-type-autocomplete {
  .mat-mdc-option {
    .mdc-list-item__primary-text {
      width: 100%;
      .jnks-iot-widget-type-option-container {
        display: flex;
        gap: 8px;
        align-items: center;
      }
      .jnks-iot-widget-type-option-image-preview {
        width: 36px;
        max-height: 100%;
        object-fit: contain;
        border-radius: 6px;
      }
      .jnks-iot-widget-type-option-details {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .jnks-iot-widget-type-option-text {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.2px;
        }
        .jnks-iot-widget-type-option-deprecated {
          font-size: 13px;
          font-weight: 400;
          color: var(--jnks-iot-text-muted);
        }
      }
    }
  }
}
