<mat-form-field [formGroup]="selectWidgetTypeFormGroup" class="mat-block" [floatLabel]="floatLabel"
                [appearance]="appearance" [subscriptSizing]="subscriptSizing">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput type="text"
         #widgetTypeInput
         placeholder="{{ placeholder }}"
         formControlName="widgetType"
         (focusin)="onFocus()"
         [required]="required"
         [matAutocomplete]="widgetTypeAutocomplete">
  <button *ngIf="selectWidgetTypeFormGroup.get('widgetType').value && !disabled"
          type="button"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-autocomplete
    class="jnks-iot-autocomplete jnks-iot-widget-type-autocomplete"
    #widgetTypeAutocomplete
    [displayWith]="displayWidgetTypeFn">
    <mat-option *ngFor="let widgetType of filteredWidgetTypes | async" [value]="widgetType">
      <div class="jnks-iot-widget-type-option-container">
        <img class="jnks-iot-widget-type-option-image-preview" [src]="widgetType.image | image: {preview: true, emptyUrl: '/assets/widget-preview-empty.svg'} | async" alt="{{ widgetType.name }}">
        <div class="jnks-iot-widget-type-option-details">
          <div class="jnks-iot-widget-type-option-text" [innerHTML]="widgetType.name | highlight:searchText:true"></div>
          <div *ngIf="widgetType.deprecated" class="jnks-iot-widget-type-option-deprecated">{{ 'widget.deprecated' | translate }}</div>
        </div>
      </div>
    </mat-option>
    <mat-option *ngIf="!(filteredWidgetTypes | async)?.length" [value]="null">
      <div (click)="$event.stopPropagation()">
        <div *ngIf="!textIsNotEmpty(searchText); else searchNotEmpty">
          <span>{{ 'widget.no-widgets-text' | translate }}</span>
        </div>
        <ng-template #searchNotEmpty>
          <span>
          {{ translate.get('widget.no-widgets-matching', {entity: searchText}) | async }}
          </span>
        </ng-template>
      </div>
    </mat-option>
  </mat-autocomplete>
  <mat-error>
    <ng-content select="[jnks-iot-error]"></ng-content>
  </mat-error>
  <mat-hint>
    <ng-content select="[jnks-iot-hint]"></ng-content>
  </mat-hint>
</mat-form-field>
