<div class="jnks-iot-form-panel no-border no-padding">
  <div class="jnks-iot-form-table" [formGroup]="relationFiltersFormGroup">
    <div class="jnks-iot-form-table-header">
      <div *ngIf="enableNotOption" class="jnks-iot-form-table-header-cell flex-18"></div>
      <div class="jnks-iot-form-table-header-cell flex-50">{{ 'relation.relation-type' | translate }}</div>
      <div class="jnks-iot-form-table-header-cell flex-50">{{ 'entity.entity-types' | translate }}</div>
      <div class="jnks-iot-form-table-header-cell actions-header"></div>
    </div>
    <div class="jnks-iot-form-table-body" formArrayName="relationFilters">
      <div class="jnks-iot-form-table-row align-start"
           *ngFor="let relationFilterControl of relationFiltersFormArray.controls; let $index = index">
        <mat-chip-listbox *ngIf="enableNotOption" class="flex-18 center-stretch" [formControl]="relationFilterControl.get('negate')">
          <mat-chip-option color="primary" [value]="true">{{ 'relation.not' | translate }}</mat-chip-option>
        </mat-chip-listbox>
        <jnks-iot-relation-type-autocomplete subscriptSizing="dynamic"
                                       class="flex-50" showLabel="false"
                                       [additionalClasses]="['jnks-iot-inline-field']"
                                       appearance="outline"
                                       [formControl]="relationFilterControl.get('relationType')">
        </jnks-iot-relation-type-autocomplete>
        <jnks-iot-entity-type-list class="entity-type-list flex-50" subscriptSizing="dynamic" appearance="outline"
                             [additionalClasses]="['jnks-iot-inline-field', 'jnks-iot-chips', 'flex']"
                             filledInputPlaceholder="{{ 'entity.add-entity-type' | translate }}"
                             [allowedEntityTypes]="allowedEntityTypes"
                             [formControl]="relationFilterControl.get('entityTypes')">
        </jnks-iot-entity-type-list>
        <div class="jnks-iot-form-table-row-cell-buttons">
          <button type="button"
                  mat-icon-button
                  (click)="removeFilter($index)"
                  [disabled]="isLoading$ | async"
                  matTooltip="{{ 'relation.remove-filter' | translate }}"
                  matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div [class.!hidden]="relationFiltersFormArray.length">
        <span class="jnks-iot-prompt flex items-center justify-center" translate>relation.any-relation</span>
      </div>
    </div>
  </div>
  <div>
    <button type="button" mat-stroked-button color="primary" (click)="addFilter()">
      {{ 'filter.add' | translate }}
    </button>
  </div>
</div>
