<div class="w-full max-w-xl" [formGroup]="argumentFormGroup">
  <div class="jnks-iot-form-panel no-border no-padding mb-2">
    <div class="jnks-iot-form-panel-title">{{ 'calculated-fields.argument-settings' | translate }}</div>
    <div class="jnks-iot-form-panel no-border no-padding">
      <div class="jnks-iot-form-row">
        <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.argument-name' | translate }}</div>
        <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
          <input matInput autocomplete="off" name="value" formControlName="argumentName" maxlength="255" placeholder="{{ 'action.set' | translate }}"/>
          @if (argumentFormGroup.get('argumentName').touched && argumentFormGroup.get('argumentName').hasError('required')) {
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'calculated-fields.hint.argument-name-required' | translate"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          } @else if (argumentFormGroup.get('argumentName').touched && argumentFormGroup.get('argumentName').hasError('duplicateName')) {
          <mat-icon matSuffix
                    matTooltipPosition="above"
                    matTooltipClass="jnks-iot-error-tooltip"
                    [matTooltip]="'calculated-fields.hint.argument-name-duplicate' | translate"
                    class="jnks-iot-error">
            warning
          </mat-icon>
        } @else if (argumentFormGroup.get('argumentName').touched && argumentFormGroup.get('argumentName').hasError('pattern')) {
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'calculated-fields.hint.argument-name-pattern' | translate"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          } @else if (argumentFormGroup.get('argumentName').touched && argumentFormGroup.get('argumentName').hasError('maxlength')) {
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'calculated-fields.hint.argument-name-max-length' | translate"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          } @else if (argumentFormGroup.get('argumentName').touched && argumentFormGroup.get('argumentName').hasError('forbiddenName')) {
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'calculated-fields.hint.argument-name-forbidden' | translate"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          }
        </mat-form-field>
      </div>
      <ng-container [formGroup]="refEntityIdFormGroup">
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width">{{ 'entity.entity-type' | translate }}</div>
          <mat-form-field class="jnks-iot-flex no-gap" appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="entityType">
              @for (type of argumentEntityTypes; track type) {
                <mat-option [value]="type">{{ ArgumentEntityTypeTranslations.get(type) | translate }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        @if (ArgumentEntityTypeParamsMap.has(entityType)) {
          <div class="jnks-iot-form-row">
            <div class="fixed-title-width jnks-iot-required">{{ ArgumentEntityTypeParamsMap.get(entityType).title | translate }}</div>
            <jnks-iot-entity-autocomplete
              class="flex flex-1"
              #entityAutocomplete
              formControlName="id"
              inlineField
              [placeholder]="'action.set' | translate"
              [required]="true"
              [entityType]="ArgumentEntityTypeParamsMap.get(entityType).entityType"
              (entityChanged)="entityNameSubject.next($event?.name)"
            />
          </div>
        }
      </ng-container>
      <ng-container [formGroup]="refEntityKeyFormGroup">
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.argument-type' | translate }}</div>
          <mat-form-field class="jnks-iot-flex no-gap" appearance="outline" subscriptSizing="dynamic">
            <mat-select formControlName="type">
              @for (type of argumentTypes; track type) {
                <mat-option [value]="type">{{ ArgumentTypeTranslations.get(type) | translate }}</mat-option>
              }
            </mat-select>
            @if (refEntityKeyFormGroup.get('type').hasError('required') && refEntityKeyFormGroup.get('type').touched) {
              <mat-icon matSuffix
                        matTooltipPosition="above"
                        matTooltipClass="jnks-iot-error-tooltip"
                        [matTooltip]="'calculated-fields.hint.argument-type-required' | translate"
                        class="jnks-iot-error">
                warning
              </mat-icon>
            }
          </mat-form-field>
        </div>
        @if (entityFilter.singleEntity?.id || entityType === ArgumentEntityType.Current || entityType === ArgumentEntityType.Tenant) {
          @if (refEntityKeyFormGroup.get('type').value !== ArgumentType.Attribute) {
            <div class="jnks-iot-form-row">
              <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.timeseries-key' | translate }}</div>
              @if (refEntityKeyFormGroup.get('type').value === ArgumentType.LatestTelemetry) {
                <ng-container [ngTemplateOutlet]="timeseriesKeyAutocomplete"/>
              } @else {
                <ng-container [ngTemplateOutlet]="timeseriesKeyAutocomplete"/>
              }
              <ng-template #timeseriesKeyAutocomplete>
                <jnks-iot-entity-key-autocomplete class="flex-1" formControlName="key" [dataKeyType]="DataKeyType.timeseries" [entityFilter]="entityFilter"/>
              </ng-template>
            </div>
          } @else {
            @if (enableAttributeScopeSelection) {
              <div class="jnks-iot-form-row">
                <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.attribute-scope' | translate }}</div>
                <mat-form-field appearance="outline" subscriptSizing="dynamic" class="flex-1">
                  <mat-select formControlName="scope">
                    <mat-option [value]="AttributeScope.SERVER_SCOPE">
                      {{ 'calculated-fields.server-attributes' | translate }}
                    </mat-option>
                    <mat-option [value]="AttributeScope.CLIENT_SCOPE">
                      {{ 'calculated-fields.client-attributes' | translate }}
                    </mat-option>
                    <mat-option [value]="AttributeScope.SHARED_SCOPE">
                      {{ 'calculated-fields.shared-attributes' | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            }
            <div class="jnks-iot-form-row">
              <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.attribute-key' | translate }}</div>
              <jnks-iot-entity-key-autocomplete
                formControlName="key"
                class="flex-1"
                [dataKeyType]="DataKeyType.attribute"
                [entityFilter]="entityFilter"
                [keyScopeType]="argumentFormGroup.get('refEntityKey').get('scope').value"
              />
            </div>
          }
        }
      </ng-container>
      @if (refEntityKeyFormGroup.get('type').value !== ArgumentType.Rolling) {
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width">{{ 'calculated-fields.default-value' | translate }}</div>
          <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
            <input matInput autocomplete="off" name="value" formControlName="defaultValue" placeholder="{{ 'action.set' | translate }}"/>
          </mat-form-field>
        </div>
      } @else {
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.time-window' | translate }}</div>
          <jnks-iot-timeinterval
            subscriptSizing="dynamic"
            appearance="outline"
            class="time-interval-field flex-1"
            formControlName="timeWindow"
          />
        </div>
        @if (maxDataPointsPerRollingArg) {
          <div class="jnks-iot-form-row limit-field-row">
            <div class="fixed-title-width jnks-iot-required">{{ 'calculated-fields.limit' | translate }}</div>
            <div class="limit-slider-container flex w-full flex-1 flex-row items-center justify-start">
              <mat-slider class="flex-1" min="1" max="{{maxDataPointsPerRollingArg}}">
                <input matSliderThumb formControlName="limit" [value]="argumentFormGroup.get('limit').value"/>
              </mat-slider>
              <mat-form-field class="limit-slider-value" subscriptSizing="dynamic" appearance="outline">
                <input matInput formControlName="limit" type="number" step="1" [value]="argumentFormGroup.get('limit').value" min="1" max="{{maxDataPointsPerRollingArg}}"/>
              </mat-form-field>
            </div>
          </div>
        }
      }
    </div>
  </div>
  <div class="flex justify-end gap-2">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="saveArgument()"
            [disabled]="argumentFormGroup.invalid || !argumentFormGroup.dirty">
      {{ buttonTitle | translate }}
    </button>
  </div>
</div>
