<div class="jnks-iot-scada-symbol-editor-shape" [class.!hidden]="editorMode !== 'svg'" #scadaSymbolShape></div>
<div class="jnks-iot-scada-symbol-editor-tooltips" [class.!hidden]="editorMode !== 'svg'" #tooltipsContainer>
  <jnks-iot-anchor #tooltipsContainerComponent></jnks-iot-anchor>
</div>
<div class="jnks-iot-scada-symbol-editor-svg-xml" [class.!hidden]="editorMode !== 'xml'">
  <jnks-iot-svg-xml [formControl]="svgContentFormControl"
              fillHeight
              noLabel>
  </jnks-iot-svg-xml>
</div>
<div class="jnks-iot-scada-symbol-editor-buttons">
  <div class="jnks-iot-scada-symbol-editor-view-buttons">
    <div class="jnks-iot-scada-symbol-editor-zoom-buttons jnks-iot-primary-fill" [class.!hidden]="editorMode !== 'svg'">
      <button mat-icon-button
              [disabled]="zoomInDisabled"
              (click)="zoomIn()"
              matTooltip="{{ 'scada.zoom-in' | translate }}"
              matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button
              [disabled]="zoomOutDisabled"
              (click)="zoomOut()"
              matTooltip="{{ 'scada.zoom-out' | translate }}"
              matTooltipPosition="above">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div *ngIf="displayShowHidden" [class.!hidden]="editorMode !== 'svg'" class="jnks-iot-primary-fill">
      <button mat-icon-button
              (click)="toggleShowHidden()"
              matTooltip="{{ (showHiddenElements ? 'scada.hide-hidden-elements' : 'scada.show-hidden-elements') | translate }}"
              matTooltipPosition="above">
        <mat-icon>{{ showHiddenElements ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </div>
  <div class="jnks-iot-scada-symbol-editor-right-buttons">
    <div class="jnks-iot-primary-fill">
      <button mat-icon-button
              (click)="updateScadaSymbol.emit()"
              matTooltip="{{ 'scada.update-symbol' | translate }}"
              matTooltipPosition="above">
        <mat-icon>file_upload</mat-icon>
      </button>
    </div>
    <div class="jnks-iot-primary-fill">
      <button mat-icon-button
              (click)="downloadScadaSymbol.emit()"
              matTooltip="{{ 'scada.download-symbol' | translate }}"
              matTooltipPosition="above">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    <jnks-iot-toggle-select appearance="fill"
                      [disabled]="!readonly && !svgContentFormControl.valid"
                      fillHeight
                      extraPadding
                      primaryBackground
                      [(ngModel)]="editorMode">
      <jnks-iot-toggle-option value="svg">{{ 'scada.mode-svg' | translate }}</jnks-iot-toggle-option>
      <jnks-iot-toggle-option value="xml">{{ 'scada.mode-xml' | translate }}</jnks-iot-toggle-option>
    </jnks-iot-toggle-select>
  </div>
</div>
