:host {
  .mat-mdc-list-item.jnks-iot-argument {
    border: solid var(--jnks-iot-line) 1px;
    border-radius: 4px;
    padding: 10px 0;
    margin-bottom: 16px;
  }

  .arguments-list {
    padding: 0px;
  }
}
