<div [hidden]="!hintText" class="jnks-iot-form-hint jnks-iot-primary-fill flex justify-between gap-5">
  <div [innerHTML]=" hintText | translate | safe: 'html'"
       [style.text-align]="textAlign"
       class="w-full"></div>
  <div *ngIf="popupHelpLink" class="flex shrink-0" jnks-iot-help-popup="{{ popupHelpLink }}"
       hintMode
       jnks-iot-help-popup-placement="right"
       trigger-style="letter-spacing:0.25px; font-size:12px"
       [jnks-iot-help-popup-style]="{maxWidth: '820px'}"
       trigger-text="{{ 'rule-node-config.key-val.see-examples' | translate }}">
  </div>
</div>
