<section [formGroup]="svListFormGroup" class="jnks-iot-form-panel stroked">
  <div class="jnks-iot-form-row no-padding no-border space-between">
    <div class="jnks-iot-form-panel-title">{{ labelText }}</div>
    <div class="jnks-iot-form-panel-hint jnks-iot-error" translate *ngIf="svListFormGroup.hasError('required')">
      rule-node-config.map-fields-required
    </div>
    <div class="jnks-iot-form-panel-hint jnks-iot-error" translate *ngIf="svListFormGroup.hasError('svMapRequired')">
      {{ requiredText }}
    </div>
  </div>
  <div class="jnks-iot-form-panel no-border no-padding">
    <div class="jnks-iot-form-table">
      <div class="jnks-iot-form-table-header">
        <div class="jnks-iot-form-table-header-cell field-space">{{ selectText }}</div>
        <div class="jnks-iot-form-table-header-cell field-space">{{ valText }}</div>
        <div class="jnks-iot-form-table-header-cell actions-header"></div>
      </div>
      <div class="jnks-iot-form-table-body">
        <div class="jnks-iot-form-table-row"
             *ngFor="let keyValControl of keyValsFormArray().controls; let $index = index;">
          <mat-form-field class="jnks-iot-inline-field field-space" appearance="outline" subscriptSizing="dynamic">
            <mat-select [placeholder]="selectText" [formControl]="keyValControl.get('key')" required>
              <mat-option *ngFor="let option of filterSelectOptions(keyValControl)" [value]="option.value">
                {{option.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="jnks-iot-inline-field field-space" appearance="outline" subscriptSizing="dynamic">
            <input [placeholder]="valText" [formControl]="keyValControl.get('value')" matInput/>
          </mat-form-field>
          <div class="jnks-iot-form-table-row-cell-buttons">
            <button [class.jnks-iot-hidden]="keyValsFormArray().controls.length === 1"
                    type="button"
                    mat-icon-button
                    (click)="removeKeyVal($index)"
                    [disabled]="isLoading$ | async"
                    matTooltip="{{ 'rule-node-config.key-val.remove-mapping-entry' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button [disabled]="(isLoading$ | async) || keyValsFormArray().length >= selectOptions.length"
            type="button" mat-stroked-button color="primary" (click)="addKeyVal()">
      {{ 'rule-node-config.key-val.add-mapping-entry' | translate }}
    </button>
  </div>
  <jnks-iot-example-hint [hintText]="hintText" [popupHelpLink]="popupHelpLink"></jnks-iot-example-hint>
</section>
