<section [formGroup]="timeInputForm" class="flex gap-4">
  <mat-form-field class="max-w-66% flex-full" subscriptSizing="dynamic">
    <mat-label *ngIf="labelText">{{ labelText }}</mat-label>
    <input type="number" min="0" step="1" matInput formControlName="time">
    <div matSuffix>
      <ng-content select="[matSuffix]"></ng-content>
    </div>
    <mat-hint *ngIf="subscriptSizing === 'fixed'"></mat-hint>
    <mat-error *ngIf="timeInputForm.get('time').hasError('required') && requiredText">
      {{ requiredText }}
    </mat-error>
    <mat-error *ngIf="timeInputForm.get('time').hasError('min') && minErrorText">
      {{ minErrorText }}
    </mat-error>
    <mat-error *ngIf="timeInputForm.get('time').hasError('max') && maxErrorText">
      {{ maxErrorText }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="h-fit max-w-33% flex-full" [subscriptSizing]="subscriptSizing">
    <mat-label translate>rule-node-config.units</mat-label>
    <mat-select formControlName="timeUnit">
      @for (timeUnit of timeUnits; track timeUnit) {
        <mat-option [value]="timeUnit">{{ timeUnitTranslations.get(timeUnit) | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</section>
