@import "../../../../../scss/constants";

:host {
  .jnks-iot-default-dashboard {
    jnks-iot-dashboard-autocomplete {
      @media #{$mat-gt-sm} {
        padding-right: 12px;
      }

      @media #{$mat-lt-md} {
        padding-bottom: 12px;
      }
    }
    .mat-mdc-checkbox {
      @media #{$mat-gt-sm} {
        margin-top: 16px;
      }
    }
  }
}
