<form [formGroup]="form" class="http-transport-form">
  <section class="http-mode-section">
    <mat-form-field class="mat-block">
      <mat-label translate>device-profile.http.mode</mat-label>
      <mat-select formControlName="httpMode">
        <mat-option [value]="httpTransportMode.PASSIVE">
          {{ 'device-profile.http.mode-passive' | translate }}
        </mat-option>
        <mat-option [value]="httpTransportMode.PULL">
          {{ 'device-profile.http.mode-pull' | translate }}
        </mat-option>
      </mat-select>
      <mat-hint translate>device-profile.http.mode-hint</mat-hint>
    </mat-form-field>
  </section>

  <section *ngIf="form.get('httpMode').value === httpTransportMode.PASSIVE" class="http-passive-panel">
    <mat-icon class="http-passive-icon">cloud_upload</mat-icon>
    <div class="http-passive-text">
      <div class="tb-small" translate>device-profile.http.passive-title</div>
      <div class="tb-hint" translate>device-profile.http.passive-description</div>
      <ul class="http-passive-endpoints tb-hint">
        <li translate>device-profile.http.passive-endpoint-telemetry</li>
        <li translate>device-profile.http.passive-endpoint-attributes</li>
        <li translate>device-profile.http.passive-endpoint-rpc</li>
      </ul>
    </div>
  </section>

  <div [hidden]="form.get('httpMode').value !== httpTransportMode.PULL">
    <tb-http-pull-device-profile-transport-configuration
      formControlName="pullConfiguration">
    </tb-http-pull-device-profile-transport-configuration>
  </div>
</form>
