:host {
  .jnks-iot-aggregation-options-form {
    height: 100%;
    max-width: 350px;

    .jnks-iot-form-table {
      overflow: hidden;
    }

    .jnks-iot-form-table-body {
      overflow-y: auto;
    }

    .jnks-iot-form-hint {
      flex-shrink: 0;
    }

    .mdc-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line {
        height: 40px;
      }
    }
  }
}

