<jnks-iot-details-panel class="flex-1"
                   [headerTitle]="entitiesTableConfig.entityTitle(entity)"
                   headerSubtitle="{{ translations.details | translate }}"
                   [isReadOnly]="entitiesTableConfig.detailsReadonly(entity)"
                   [isEdit]="isEditValue"
                   (closeDetails)="onCloseEntityDetails()"
                   (toggleDetailsEditMode)="onToggleEditMode($event)"
                   (applyDetails)="saveEntity()"
                   [theForm]="detailsForm">
  <div class="details-buttons">
    <div [jnks-iot-help]="helpLinkId()"></div>
  </div>
  <mat-tab-group mat-stretch-tabs="false"
                 animationDuration="0ms"
                 class="jnks-iot-absolute-fill flex-1 jnks-iot-tabs-fade"
                 [class.jnks-iot-headless]="hideDetailsTabs()"
                 [(selectedIndex)]="selectedTab">
    <mat-tab label="{{ 'details.details' | translate }}">
      <jnks-iot-anchor #entityDetailsForm></jnks-iot-anchor>
    </mat-tab>
    <jnks-iot-anchor #entityTabs></jnks-iot-anchor>
  </mat-tab-group>
</jnks-iot-details-panel>
