:host {
  .jnks-iot-entity-filter {
    #relationsQueryFilter {
      padding-top: 20px;

      jnks-iot-entity-select {
        min-height: 92px;
      }
    }

    .jnks-iot-root-state-entity-switch {
      padding-left: 10px;
      padding-bottom: 10px;

      .root-state-entity-switch {
        margin: 0;
      }

      .root-state-entity-label {
        margin: 5px 0 5px 10px;
      }
    }
  }
}
