<mat-card appearance="outlined" class="settings-card">
  <mat-toolbar class="details-toolbar">
    <div class="mat-toolbar-tools flex flex-row items-center justify-start gap-2">
      <div class="jnks-iot-details-title-header flex flex-col items-start justify-center">
        <div class="jnks-iot-details-title jnks-iot-ellipsis">{{ headerTitle }}</div>
        <div class="jnks-iot-details-subtitle jnks-iot-ellipsis">{{ headerSubtitle }}</div>
      </div>
      <span class="flex-1"></span>
      <section *ngIf="!isReadOnly" class="jnks-iot-header-button flex flex-row gap-2">
        <button [disabled]="(isLoading$ | async) || detailsForm.invalid || !detailsForm.dirty"
                mat-fab
                matTooltip="{{ 'action.apply-changes' | translate }}"
                matTooltipPosition="above"
                color="accent" class="jnks-iot-btn-header"
                [class.jnks-iot-hide]="!isEdit"
                (click)="onApplyDetails()">
          <mat-icon class="material-icons">done</mat-icon>
        </button>
        <button [disabled]="(isLoading$ | async)"
                mat-fab
                matTooltip="{{ (isEdit ? 'action.decline-changes' : 'details.toggle-edit-mode') | translate }}"
                matTooltipPosition="above"
                color="accent" class="jnks-iot-btn-header"
                (click)="onToggleDetailsEditMode()">
          <mat-icon class="material-icons">{{isEdit ? 'close' : 'edit'}}</mat-icon>
        </button>
      </section>
    </div>
  </mat-toolbar>
  <mat-card-content class="flex-full">
    <mat-tab-group mat-stretch-tabs="false"
                   animationDuration="0ms"
                   class="jnks-iot-absolute-fill size-full jnks-iot-tabs-fade"
                   [class.jnks-iot-headless]="hideDetailsTabs()"
                   [(selectedIndex)]="selectedTab">
      <mat-tab label="{{ 'details.details' | translate }}">
        <jnks-iot-anchor #entityDetailsForm></jnks-iot-anchor>
      </mat-tab>
      <jnks-iot-anchor #entityTabs></jnks-iot-anchor>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

