@import '../../../../scss/constants';

:host-context(.jnks-iot-form-row) {
  :host {
    display: flex;
  }
  .mat-mdc-form-field {
    &.jnks-iot-datetime-field {
      width: 200px;
      &.with-clear {
        width: 240px;
      }
    }
    &.jnks-iot-date-field {
      width: 140px;
      &.with-clear {
        width: 180px;
      }
    }
    &.jnks-iot-time-field {
      width: 100px;
      &.with-clear {
        width: 140px;
      }
    }
  }
}

:host-context(.jnks-iot-form-row.column-xs) {
  @media #{$mat-xs} {
    .mat-mdc-form-field {
      &.jnks-iot-datetime-field, &.jnks-iot-date-field, &.jnks-iot-time-field {
        width: auto;
        flex: 1;
      }
    }
  }
}

:host {
  .mat-mdc-form-field-icon-suffix,
  .mat-datetimepicker-toggle {
    color: var(--jnks-iot-text-faint);
  }
}
