<form [formGroup]="timewindowForm" mat-dialog-content  class="jnks-iot-timewindow-form">
  <mat-toolbar color="primary">
    <h2>{{ 'timewindow.timewindow-settings' | translate }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="jnks-iot-timewindow-form-header jnks-iot-form-panel no-border no-padding-bottom">
    <jnks-iot-toggle-select class="jnks-iot-timewindow-form-type-options" appearance="fill"
                      [options]="timewindowTypeOptions" formControlName="selectedTab">
    </jnks-iot-toggle-select>
  </div>
  <div class="jnks-iot-timewindow-form-content jnks-iot-form-panel no-border">
    <section *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME"
             formGroupName="realtime" class="jnks-iot-form-panel">
      <div class="jnks-iot-form-panel-title">{{ 'timewindow.timewindow' | translate }}</div>
      <div class="jnks-iot-form-row">
        <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="hideInterval">
          {{ 'timewindow.hide-timewindow-section' | translate }}
        </mat-slide-toggle>
      </div>

      <jnks-iot-toggle-select *ngIf="realtimeTypeSelectionAvailable"
                        appearance="stroked" [options]="realtimeTimewindowOptions" formControlName="realtimeType">
      </jnks-iot-toggle-select>

      <ng-container *ngIf="timewindowForm.get('realtime.realtimeType').value === realtimeTypes.LAST_INTERVAL">
        <div class="jnks-iot-form-row">
          <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="disableCustomInterval">
            {{ 'timewindow.disable-custom-interval' | translate }}
          </mat-slide-toggle>
        </div>
        <div class="jnks-iot-form-row column-xs">
          <mat-slide-toggle *ngIf="!quickIntervalOnly"
                            class="mat-slide" formControlName="hideLastInterval">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-last-interval' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
          <jnks-iot-timeinterval
            formControlName="timewindowMs"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="timewindowForm.get('realtime.advancedParams.allowedLastIntervals').value"
            [disabledAdvanced]="timewindowForm.get('realtime.disableCustomInterval').value"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME &&
                            timewindowForm.get('realtime.realtimeType').value === realtimeTypes.LAST_INTERVAL">
            <button *ngIf="!(timewindowForm.get('realtime.hideLastInterval').value ||
                            timewindowForm.get('realtime.hideInterval').value)"
                    matSuffix mat-icon-button type="button"
                    (click)="configureRealtimeLastIntervalOptions($event)">
              <mat-icon>edit</mat-icon>
            </button>
          </jnks-iot-timeinterval>
        </div>
      </ng-container>

      <div *ngIf="timewindowForm.get('realtime.realtimeType').value === realtimeTypes.INTERVAL"
           class="jnks-iot-form-row column-xs">
        <mat-slide-toggle *ngIf="!quickIntervalOnly"
                          class="mat-slide" formControlName="hideQuickInterval">
          <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-relative-interval' | translate}}">
            {{ 'timewindow.hide' | translate }}
          </div>
        </mat-slide-toggle>
        <jnks-iot-quick-time-interval
          displayLabel="false"
          formControlName="quickInterval"
          onlyCurrentInterval="true"
          subscriptSizing="dynamic"
          appearance="outline"
          [allowedIntervals]="timewindowForm.get('realtime.advancedParams.allowedQuickIntervals').value"
          [required]="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME &&
                          timewindowForm.get('realtime.realtimeType').value === realtimeTypes.INTERVAL">
          <button *ngIf="!(timewindowForm.get('realtime.hideQuickInterval').value ||
                            timewindowForm.get('realtime.hideInterval').value)"
                  matSuffix mat-icon-button type="button"
                  (click)="configureRealtimeQuickIntervalOptions($event)">
            <mat-icon>edit</mat-icon>
          </button>
        </jnks-iot-quick-time-interval>
      </div>
    </section>

    <section *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY"
             formGroupName="history" class="jnks-iot-form-panel">
      <div class="jnks-iot-form-panel-title">{{ 'timewindow.timewindow' | translate }}</div>
      <div class="jnks-iot-form-row">
        <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="hideInterval">
          {{ 'timewindow.hide-timewindow-section' | translate }}
        </mat-slide-toggle>
      </div>

      <jnks-iot-toggle-select appearance="stroked" [options]="historyTimewindowOptions" formControlName="historyType">
      </jnks-iot-toggle-select>

      <ng-container *ngIf="timewindowForm.get('history.historyType').value === historyTypes.LAST_INTERVAL">
        <div class="jnks-iot-form-row">
          <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="disableCustomInterval">
            {{ 'timewindow.disable-custom-interval' | translate }}
          </mat-slide-toggle>
        </div>
        <div class="jnks-iot-form-row column-xs">
          <mat-slide-toggle class="mat-slide" formControlName="hideLastInterval">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-last-interval' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
          <jnks-iot-timeinterval
            formControlName="timewindowMs"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="timewindowForm.get('history.advancedParams.allowedLastIntervals').value"
            [disabledAdvanced]="timewindowForm.get('history.disableCustomInterval').value"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                          timewindowForm.get('history.historyType').value === historyTypes.LAST_INTERVAL">
            <button *ngIf="!(timewindowForm.get('history.hideLastInterval').value ||
                            timewindowForm.get('history.hideInterval').value)"
                    matSuffix mat-icon-button type="button"
                    (click)="configureHistoryLastIntervalOptions($event)">
              <mat-icon>edit</mat-icon>
            </button>
          </jnks-iot-timeinterval>
        </div>
      </ng-container>

      <div *ngIf="timewindowForm.get('history.historyType').value === historyTypes.FIXED" class="jnks-iot-form-row column-xs">
        <mat-slide-toggle class="mat-slide" formControlName="hideFixedInterval">
          <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-fixed-interval' | translate}}">
            {{ 'timewindow.hide' | translate }}
          </div>
        </mat-slide-toggle>
        <jnks-iot-datetime-period
          formControlName="fixedTimewindow"
          subscriptSizing="dynamic"
          appearance="outline"
          class="history-time-input"
          [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                        timewindowForm.get('history.historyType').value === historyTypes.FIXED">
        </jnks-iot-datetime-period>
      </div>

      <div *ngIf="timewindowForm.get('history.historyType').value === historyTypes.INTERVAL" class="jnks-iot-form-row column-xs">
          <mat-slide-toggle class="mat-slide" formControlName="hideQuickInterval">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-relative-interval' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
          <jnks-iot-quick-time-interval
            displayLabel="false"
            formControlName="quickInterval"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="timewindowForm.get('history.advancedParams.allowedQuickIntervals').value"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                        timewindowForm.get('history.historyType').value === historyTypes.INTERVAL">
            <button *ngIf="!(timewindowForm.get('history.hideQuickInterval').value ||
                            timewindowForm.get('history.hideInterval').value)"
                    matSuffix mat-icon-button type="button"
                    (click)="configureHistoryQuickIntervalOptions($event)">
              <mat-icon>edit</mat-icon>
            </button>
          </jnks-iot-quick-time-interval>
        </div>
    </section>

    <ng-container *ngIf="aggregation">
      <section class="jnks-iot-form-panel">
        <div class="jnks-iot-form-panel-title">{{ 'aggregation.aggregation' | translate }}</div>
        <div class="jnks-iot-form-row column-xs">
          <mat-slide-toggle class="mat-slide" formControlName="hideAggregation">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-aggregation' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
          <ng-container formGroupName="aggregation">
            <jnks-iot-aggregation-type-select class="flex" subscriptSizing="dynamic" appearance="outline" displayLabel="false"
                                        formControlName="type"
                                        [allowedAggregationTypes]="timewindowForm.get('allowedAggTypes').value">
              <button *ngIf="!timewindowForm.get('hideAggregation').value"
                      matSuffix mat-icon-button type="button"
                      (click)="openAggregationOptionsConfig($event)">
                <mat-icon>edit</mat-icon>
              </button>
            </jnks-iot-aggregation-type-select>
          </ng-container>
        </div>
      </section>

      <section class="jnks-iot-form-panel"
               *ngIf="timewindowForm.get('aggregation.type').value === aggregationTypes.NONE">
        <div class="jnks-iot-form-panel-title">{{ 'aggregation.limit' | translate }}</div>
        <div class="jnks-iot-form-row column-xs">
          <mat-slide-toggle class="mat-slide" formControlName="hideAggInterval">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-max-values' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
          <ng-container formGroupName="aggregation">
            <jnks-iot-datapoints-limit formControlName="limit"
                                 [required]="timewindowForm.get('aggregation.type').value === aggregationTypes.NONE">
            </jnks-iot-datapoints-limit>
          </ng-container>
        </div>
      </section>

      <section class="jnks-iot-form-panel" [class.!hidden]="timewindowForm.get('aggregation.type').value === aggregationTypes.NONE">
        <div class="jnks-iot-form-panel-title">{{ 'aggregation.group-interval' | translate }}</div>

        <ng-container *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME">
          <div class="jnks-iot-form-row" formGroupName="realtime">
            <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="disableCustomGroupInterval">
              {{ 'timewindow.disable-custom-interval' | translate }}
            </mat-slide-toggle>
          </div>
          <div class="jnks-iot-form-row column-xs">
            <ng-container
              *ngTemplateOutlet="timewindowForm.get('aggregation.type').value !== aggregationTypes.NONE ? hideAggInterval : null">
            </ng-container>
            <ng-container formGroupName="realtime">
              <jnks-iot-timeinterval
                formControlName="interval"
                [min]="minRealtimeAggInterval" [max]="maxRealtimeAggInterval"
                [allowedIntervals]="realtimeAllowedAggIntervals"
                useCalendarIntervals
                subscriptSizing="dynamic"
                appearance="outline"
                [disabledAdvanced]="timewindowForm.get('realtime.disableCustomGroupInterval').value">
              </jnks-iot-timeinterval>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY">
          <div class="jnks-iot-form-row" formGroupName="history">
            <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="disableCustomGroupInterval">
              {{ 'timewindow.disable-custom-interval' | translate }}
            </mat-slide-toggle>
          </div>
          <div class="jnks-iot-form-row column-xs">
            <ng-container
              *ngTemplateOutlet="timewindowForm.get('aggregation.type').value !== aggregationTypes.NONE ? hideAggInterval : null">
            </ng-container>
            <ng-container formGroupName="history">
              <jnks-iot-timeinterval
                formControlName="interval"
                [min]="minHistoryAggInterval" [max]="maxHistoryAggInterval"
                [allowedIntervals]="historyAllowedAggIntervals"
                useCalendarIntervals
                subscriptSizing="dynamic"
                appearance="outline"
                [disabledAdvanced]="timewindowForm.get('history.disableCustomGroupInterval').value">
              </jnks-iot-timeinterval>
            </ng-container>
          </div>
        </ng-container>

        <ng-template #hideAggInterval>
          <mat-slide-toggle class="mat-slide" formControlName="hideAggInterval">
            <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-group-interval' | translate}}">
              {{ 'timewindow.hide' | translate }}
            </div>
          </mat-slide-toggle>
        </ng-template>
      </section>
    </ng-container>

    <section class="jnks-iot-form-panel">
      <div class="jnks-iot-form-panel-title">{{ 'timezone.timezone' | translate }}</div>
      <div class="jnks-iot-form-row column-xs">
        <mat-slide-toggle class="mat-slide" formControlName="hideTimezone">
          <div jnks-iot-hint-tooltip-icon="{{'timewindow.hide-timezone' | translate}}">
            {{ 'timewindow.hide' | translate }}
          </div>
        </mat-slide-toggle>
        <jnks-iot-timezone-select [localBrowserTimezonePlaceholderOnEmpty]="true"
                            formControlName="timezone"
                            subscriptSizing="dynamic"
                            appearance="outline"
                            displayLabel="false">
        </jnks-iot-timezone-select>
      </div>
    </section>
  </div>
  <mat-divider></mat-divider>
  <div mat-dialog-actions class="jnks-iot-dialog-actions jnks-iot-flex flex-end no-gap">
    <button type="button"
            mat-button
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button type="button"
            mat-raised-button
            color="primary"
            (click)="update()"
            [disabled]="(isLoading$ | async) || timewindowForm.invalid || !timewindowForm.dirty">
      {{ 'action.apply' | translate }}
    </button>
  </div>
</form>
