:host {
  width: 450px;

  .jnks-iot-timewindow-form {
    display: flex;
    flex-direction: column;
    max-height: 100%;

    &-header {
      flex-direction: row;
      align-items: center;
    }

    &-content {
      .jnks-iot-flex {
        gap: 16px;
      }
    }

    &-type-options {
      flex: 1;
    }

    &-settings-btn {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
