:host {
  display: flex;
  flex-direction: column;
  width: 380px;
  max-height: 100%;
  max-width: 100%;
  background-color: var(--jnks-iot-surface-card);

  jnks-iot-timezone-select {
    flex: 1;
  }

  .jnks-iot-timezone-panel-actions {
    padding-top: 12px;
  }

}
