<form [formGroup]="timewindowForm" class="jnks-iot-timewindow-form">
  <div class="jnks-iot-timewindow-form-header jnks-iot-form-panel no-border no-padding-bottom" *ngIf="!historyOnly">
    <jnks-iot-toggle-select class="jnks-iot-timewindow-form-type-options" appearance="fill"
                      [options]="timewindowTypeOptions" formControlName="selectedTab">
    </jnks-iot-toggle-select>
    <button mat-icon-button type="button" class="jnks-iot-timewindow-form-settings-btn jnks-iot-mat-24"
            *ngIf="isEdit"
            (click)="openTimewindowConfig()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="jnks-iot-timewindow-form-content jnks-iot-form-panel no-border">
    <ng-container *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME">
      <section class="jnks-iot-form-panel stroked" *ngIf="realtimeIntervalSelectionAvailable; else timezoneSelectionPanel">
        <div class="jnks-iot-flex space-between"
             [class.align-end]="realtimeTypeSelectionAvailable"
             [class.align-center]="!realtimeTypeSelectionAvailable">
          <div class="jnks-iot-flex-xs column">
            <div class="jnks-iot-form-panel-title">{{ 'timewindow.timewindow' | translate }}</div>
            <ng-container formGroupName="realtime" *ngIf="realtimeTypeSelectionAvailable">
              <jnks-iot-toggle-select appearance="stroked" [options]="realtimeTimewindowOptions" formControlName="realtimeType">
              </jnks-iot-toggle-select>
            </ng-container>
          </div>

          <ng-container *ngTemplateOutlet="timezoneSelection">
          </ng-container>
        </div>

        <div class="jnks-iot-form-row no-border no-padding" formGroupName="realtime">
          <jnks-iot-timeinterval
            *ngIf="timewindowForm.get('realtime.realtimeType').value === realtimeTypes.LAST_INTERVAL"
            formControlName="timewindowMs"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="realtimeAllowedLastIntervals"
            [disabledAdvanced]="realtimeDisableCustomInterval"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME &&
                              timewindowForm.get('realtime.realtimeType').value === realtimeTypes.LAST_INTERVAL">
          </jnks-iot-timeinterval>

          <jnks-iot-quick-time-interval
            *ngIf="timewindowForm.get('realtime.realtimeType').value === realtimeTypes.INTERVAL"
            displayLabel="false"
            formControlName="quickInterval"
            onlyCurrentInterval="true"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="realtimeAllowedQuickIntervals"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME &&
                              timewindowForm.get('realtime.realtimeType').value === realtimeTypes.INTERVAL">
          </jnks-iot-quick-time-interval>
        </div>
      </section>
    </ng-container>

    <ng-container *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY">
      <section class="jnks-iot-form-panel stroked" *ngIf="historyIntervalSelectionAvailable; else timezoneSelectionPanel">
        <div class="jnks-iot-flex space-between"
             [class.align-end]="historyTypeSelectionAvailable"
             [class.align-center]="!historyTypeSelectionAvailable">
          <div class="jnks-iot-flex-xs column">
            <div class="jnks-iot-form-panel-title">{{ 'timewindow.timewindow' | translate }}</div>
            <ng-container formGroupName="history" *ngIf="historyTypeSelectionAvailable">
              <jnks-iot-toggle-select appearance="stroked" [options]="historyTimewindowOptions" formControlName="historyType">
              </jnks-iot-toggle-select>
            </ng-container>
          </div>

          <ng-container *ngTemplateOutlet="timezoneSelection">
          </ng-container>
        </div>

        <div class="jnks-iot-form-row no-border no-padding"
             formGroupName="history" *ngIf="historyIntervalSelectionAvailable &&
                                  timewindowForm.get('history.historyType').value !== historyTypes.FOR_ALL_TIME">
          <jnks-iot-timeinterval
            *ngIf="timewindowForm.get('history.historyType').value === historyTypes.LAST_INTERVAL"
            formControlName="timewindowMs"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="historyAllowedLastIntervals"
            [disabledAdvanced]="historyDisableCustomInterval"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                            timewindowForm.get('history.historyType').value === historyTypes.LAST_INTERVAL">
          </jnks-iot-timeinterval>

          <jnks-iot-datetime-period
            *ngIf="timewindowForm.get('history.historyType').value === historyTypes.FIXED"
            formControlName="fixedTimewindow"
            subscriptSizing="dynamic"
            appearance="outline"
            class="history-time-input"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                            timewindowForm.get('history.historyType').value === historyTypes.FIXED">
          </jnks-iot-datetime-period>

          <jnks-iot-quick-time-interval
            *ngIf="timewindowForm.get('history.historyType').value === historyTypes.INTERVAL"
            displayLabel="false"
            formControlName="quickInterval"
            subscriptSizing="dynamic"
            appearance="outline"
            [allowedIntervals]="historyAllowedQuickIntervals"
            [required]="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY &&
                          timewindowForm.get('history.historyType').value === historyTypes.INTERVAL">
          </jnks-iot-quick-time-interval>
        </div>
      </section>
    </ng-container>

    <ng-container *ngIf="aggregationOptionsAvailable">
      <ng-container formGroupName="aggregation">
        <section class="jnks-iot-form-row column-xs space-between same-padding" *ngIf="isEdit || !timewindow.hideAggregation">
          <div class="fixed-title-width-180">{{ 'aggregation.aggregation' | translate }}</div>
          <jnks-iot-aggregation-type-select class="flex" subscriptSizing="dynamic" appearance="outline" displayLabel="false"
                                      formControlName="type" [allowedAggregationTypes]="allowedAggTypes">
          </jnks-iot-aggregation-type-select>
        </section>

        <section class="jnks-iot-form-row column-xs space-between same-padding"
                 *ngIf="timewindowForm.get('aggregation.type').value === aggregationTypes.NONE && (isEdit || !timewindow.hideAggInterval)">
          <div>{{ 'aggregation.limit' | translate }}</div>
          <jnks-iot-datapoints-limit formControlName="limit"
                               [required]="timewindowForm.get('aggregation.type').value === aggregationTypes.NONE">
          </jnks-iot-datapoints-limit>
        </section>
      </ng-container>

      <section class="jnks-iot-form-row column-xs same-padding" *ngIf="timewindowForm.get('aggregation.type').value !== aggregationTypes.NONE"
               [class.!hidden]="!(isEdit || !timewindow.hideAggInterval)">
        <ng-container formGroupName="realtime" *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.REALTIME">
          <jnks-iot-timeinterval
            formControlName="interval"
            [min]="minRealtimeAggInterval" [max]="maxRealtimeAggInterval"
            [allowedIntervals]="realtimeAllowedAggIntervals"
            useCalendarIntervals
            subscriptSizing="dynamic"
            appearance="outline"
            [disabledAdvanced]="realtimeDisableCustomGroupInterval">
            <div class="fixed-title-width-180">{{ 'aggregation.group-interval' | translate }}</div>
          </jnks-iot-timeinterval>
        </ng-container>
        <ng-container formGroupName="history" *ngIf="timewindowForm.get('selectedTab').value === timewindowTypes.HISTORY">
          <jnks-iot-timeinterval
            formControlName="interval"
            [min]="minHistoryAggInterval" [max]="maxHistoryAggInterval"
            [allowedIntervals]="historyAllowedAggIntervals"
            useCalendarIntervals
            subscriptSizing="dynamic"
            appearance="outline"
            [disabledAdvanced]="historyDisableCustomGroupInterval">
            <div class="fixed-title-width-180">{{ 'aggregation.group-interval' | translate }}</div>
          </jnks-iot-timeinterval>
        </ng-container>
      </section>
    </ng-container>
  </div>

  <ng-template #timezoneSelectionPanel>
    <section class="jnks-iot-form-row space-between same-padding">
      <div>{{ 'timezone.timezone' | translate }}</div>
      <ng-container *ngTemplateOutlet="timezoneSelection">
      </ng-container>
    </section>
  </ng-template>
  <ng-template #timezoneSelection>
    <jnks-iot-timezone *ngIf="timezone && (isEdit || !timewindow.hideTimezone)"
                 asButton strokedButton noMargin
                 localBrowserTimezonePlaceholderOnEmpty="true"
                 formControlName="timezone">
    </jnks-iot-timezone>
  </ng-template>
  <mat-divider></mat-divider>
  <div class="jnks-iot-panel-actions jnks-iot-flex flex-end no-gap">
    <button type="button"
            mat-button
            [disabled]="(isLoading$ | async)"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button type="button"
            mat-raised-button
            color="primary"
            (click)="update()"
            [disabled]="(isLoading$ | async) || timewindowForm.invalid || !timewindowForm.dirty">
      {{ 'action.update' | translate }}
    </button>
  </div>
</form>
