:host {
  background-color: var(--jnks-iot-surface-card);

  .jnks-iot-timewindow-form {
    overflow: hidden;

    &-content {
      overflow-y: auto;

      jnks-iot-timeinterval,
      jnks-iot-quick-time-interval,
      jnks-iot-datetime-period,
      jnks-iot-datapoints-limit,
      jnks-iot-aggregation-type-select {
        flex: 1;
      }
    }
  }
}
