:host {
  .jnks-iot-timewindow-form {
    width: 600px;

    &.mat-mdc-dialog-content {
      overflow: hidden;
      padding: 0;
    }

    jnks-iot-timezone-select {
      flex: 1;
    }
  }
}

:host-context(.mat-mdc-dialog-container) {
  .jnks-iot-timewindow-form {
    display: grid;
    grid-template-rows: min-content min-content minmax(auto, 1fr) min-content min-content;
  }
}
