services/nginx/certs/**
services/jnks-iot-core/log/**
services/jnks-iot-rule-engine/log/**
jnks-iot-monolith/log/**
jnks-iot-monolith/db/**
jnks-iot-monolith/postgres/**
jnks-iot-monolith/cassandra/**
services/jnks-iot-transports/*/log
services/jnks-iot-vc-executor/log/**
jnks-iot-monolith/redis-cluster-data-0/**
jnks-iot-monolith/redis-cluster-data-1/**
jnks-iot-monolith/redis-cluster-data-2/**
jnks-iot-monolith/redis-cluster-data-3/**
jnks-iot-monolith/redis-cluster-data-4/**
jnks-iot-monolith/redis-cluster-data-5/**
jnks-iot-monolith/redis-sentinel-data-master/**
jnks-iot-monolith/redis-sentinel-data-slave/**
jnks-iot-monolith/redis-sentinel-data-sentinel/**
jnks-iot-monolith/redis-data/**
tb/redis-data/**
tb/postgres-data/**
tb/postgres/**

!services/.env
