<div class="jnks-iot-color-picker-panel">
  <jnks-iot-color-picker class="jnks-iot-color-picker" [formControl]="colorPickerControl"></jnks-iot-color-picker>
  <div class="jnks-iot-color-picker-panel-buttons">
    <button *ngIf="colorClearButton"
            mat-button
            color="primary"
            type="button"
            (click)="clearColor()"
            [disabled]="!colorPickerControl.value">
      {{ 'action.clear' | translate }}
    </button>
    <span class="flex-1"></span>
    <div class="flex flex-row gap-2">
      <button *ngIf="colorCancelButton"
              mat-button
              type="button"
              (click)="cancelColor()">
        {{ 'action.cancel' | translate }}
      </button>
      <button mat-raised-button
              color="primary"
              type="button"
              (click)="selectColor()"
              [disabled]="colorPickerControl.invalid || !colorPickerControl.dirty">
        {{ 'action.select' | translate }}
      </button>
    </div>
  </div>
</div>
