<section [formGroup]="ruleChainInputConfigForm" class="flex flex-col">
  <div class="jnks-iot-form-panel no-padding no-border">
    <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.forward-msg-default-rule-chain-tooltip' | translate }}"
         class="jnks-iot-form-row no-border">
      <mat-slide-toggle class="mat-slide" formControlName="forwardMsgToDefaultRuleChain">
        {{ 'rule-node-config.forward-msg-default-rule-chain' | translate }}
      </mat-slide-toggle>
    </div>
    <jnks-iot-entity-autocomplete required
                            [excludeEntityIds]="[ruleChainId]"
                            [entityType]="entityType.RULE_CHAIN"
                            [entitySubtype]="ruleChainType"
                            formControlName="ruleChainId">
    </jnks-iot-entity-autocomplete>
  </div>
</section>
