<form [formGroup]="form" class="mqtt-pull-device-form">
  <p class="tb-hint" translate>device-profile.mqtt-pull.single-device-device-hint</p>
  <mat-form-field class="mat-block">
    <mat-label translate>device-profile.mqtt-pull.broker-url</mat-label>
    <input matInput formControlName="brokerUrl" required placeholder="tcp://192.168.1.10:1883">
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>device-profile.mqtt-pull.client-id</mat-label>
    <input matInput formControlName="clientId">
    <mat-hint translate>device-profile.mqtt-pull.client-id-hint</mat-hint>
  </mat-form-field>
  <mat-form-field class="mat-block">
    <mat-label translate>device-profile.mqtt-pull.auth-type</mat-label>
    <mat-select formControlName="authType">
      <mat-option *ngFor="let t of authTypes" [value]="t">{{ t }}</mat-option>
    </mat-select>
  </mat-form-field>
  <section *ngIf="form.get('authType').value === 'USERNAME_PASSWORD'" class="flex flex-row gap-2 xs:flex-col">
    <mat-form-field class="flex-1 mat-block">
      <mat-label translate>device-profile.mqtt-pull.username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field class="flex-1 mat-block">
      <mat-label translate>device-profile.mqtt-pull.password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </section>
</form>
