<form [formGroup]="form" class="mqtt-transport-form">
  <section class="mqtt-mode-section">
    <mat-form-field class="mat-block">
      <mat-label translate>device-profile.mqtt.mode</mat-label>
      <mat-select formControlName="mqttMode">
        <mat-option [value]="mqttTransportMode.PASSIVE">
          {{ 'device-profile.mqtt.mode-passive' | translate }}
        </mat-option>
        <mat-option [value]="mqttTransportMode.PULL">
          {{ 'device-profile.mqtt.mode-pull' | translate }}
        </mat-option>
      </mat-select>
      <mat-hint translate>device-profile.mqtt.mode-hint</mat-hint>
    </mat-form-field>
  </section>

  <div [hidden]="form.get('mqttMode').value !== mqttTransportMode.PASSIVE">
    <jnks-iot-mqtt-passive-device-profile-transport-configuration
      formControlName="passiveConfiguration">
    </jnks-iot-mqtt-passive-device-profile-transport-configuration>
  </div>

  <div [hidden]="form.get('mqttMode').value !== mqttTransportMode.PULL">
    <jnks-iot-mqtt-pull-device-profile-transport-configuration
      formControlName="pullConfiguration">
    </jnks-iot-mqtt-pull-device-profile-transport-configuration>
  </div>
</form>
