.jnks-iot-device-profile-rpc-method-panel {
  margin-bottom: 8px;
}

.jnks-iot-device-profile-rpc-method-fields {
  padding-top: 8px;

  &.jnks-iot-rpc-method-locked {
    pointer-events: none;
    opacity: 0.72;
  }
}
