<div class="jnks-iot-device-profile-rpc-methods" [formGroup]="deviceProfileRpcMethodsFormGroup">
  <div class="jnks-iot-hint mat-body-2 jnks-iot-device-profile-rpc-methods-intro" translate>device-profile.rpc-methods-hint</div>
  <mat-error *ngIf="hasDuplicateMethodIds()" translate>device-profile.rpc-method-id-unique</mat-error>
  <div *ngFor="let rpcControl of rpcMethodsFormArray.controls; trackBy: trackByIndex;
               let $index = index; last as isLast;"
       class="flex flex-col" [class.pb-2]="!isLast">
    <jnks-iot-device-profile-rpc-method [formControl]="rpcControl"
                                  [expanded]="$index === 0"
                                  [readOnly]="disabled"
                                  [transportType]="effectiveTransportType"
                                  [transportConfiguration]="transportConfiguration"
                                  [downlinkCommands]="downlinkCommands"
                                  [protocolTemplateBundleSelected]="protocolTemplateBundleSelected"
                                  (removeRpcMethod)="removeRpcMethod($index)">
    </jnks-iot-device-profile-rpc-method>
  </div>
  <div *ngIf="!rpcMethodsFormArray.controls.length">
    <span class="jnks-iot-prompt flex items-center justify-center" translate>device-profile.no-rpc-methods</span>
  </div>
  <div *ngIf="!disabled" class="jnks-iot-device-profile-rpc-methods-actions">
    <button mat-raised-button color="primary" type="button" (click)="addRpcMethod()">
      <span translate>device-profile.add-rpc-method</span>
    </button>
  </div>
</div>
