<div class="tb-event-table-outer" *ngIf="eventTableConfig">
  <div class="tb-event-type-toolbar flex flex-row flex-wrap items-center gap-3">
    <mat-form-field class="tb-event-type-field" subscriptSizing="dynamic">
      <mat-label>{{ 'event.event-type' | translate }}</mat-label>
      <mat-select [ngModel]="eventTableConfig.eventType"
                  (ngModelChange)="onEventTypeChanged($event)">
        <mat-option *ngFor="let type of eventTableConfig.eventTypes" [value]="type">
          {{ eventTypeTranslationsMap.get(type) | translate }}
        </mat-option>
      </mat-select>
      <mat-hint>{{ 'event.device-event-type-hint' | translate }}</mat-hint>
    </mat-form-field>
  </div>
  <tb-entities-table [entitiesTableConfig]="eventTableConfig"></tb-entities-table>
</div>
