<div class="flex flex-1 flex-row items-center justify-start gap-2" [formGroup]="filterPredicateFormGroup">
  <div class="flex flex-1 flex-col" [ngSwitch]="type">
    <ng-template [ngSwitchCase]="filterPredicateType.STRING">
      <jnks-iot-string-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        formControlName="predicate">
      </jnks-iot-string-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.NUMERIC">
      <jnks-iot-numeric-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        [valueType]="valueType"
        formControlName="predicate">
      </jnks-iot-numeric-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.BOOLEAN">
      <jnks-iot-boolean-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        formControlName="predicate">
      </jnks-iot-boolean-filter-predicate>
    </ng-template>
    <ng-template [ngSwitchCase]="filterPredicateType.COMPLEX">
      <jnks-iot-complex-filter-predicate
        [allowUserDynamicSource]="allowUserDynamicSource"
        [onlyUserDynamicSource]="onlyUserDynamicSource"
        [key]="key"
        [valueType]="valueType"
        [displayUserParameters]="displayUserParameters"
        formControlName="predicate">
      </jnks-iot-complex-filter-predicate>
    </ng-template>
  </div>
  <jnks-iot-filter-user-info *ngIf="type !== filterPredicateType.COMPLEX && displayUserParameters"
                       style="width: 60px;"
                       class="flex flex-row items-stretch justify-center"
                       [valueType]="valueType"
                       [operation]="filterPredicateFormGroup.get('predicate').value?.operation"
                       [key]="key"
                       formControlName="userInfo">
  </jnks-iot-filter-user-info>
</div>
