:host {
  .jnks-iot-filter-text {
    overflow-y: auto;
    &.disabled {
      opacity: 0.7;
    }
    &.required {
      color: #f44336;
      padding: 0 4px;
    }
    &.nowrap {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

:host ::ng-deep {
  .jnks-iot-filter-text {
    line-height: 1.8em;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.4em;
    }
    .jnks-iot-filter-predicate {
      padding-right: 4px;
      padding-left: 4px;
    }
    .jnks-iot-filter-entity-key, .jnks-iot-filter-value, .jnks-iot-filter-dynamic-source {
      font-weight: bold;
      border: 1px groove var(--jnks-iot-line);
      border-radius: 4px;
      padding-left: 4px;
      padding-right: 4px;
    }
    .jnks-iot-filter-entity-key, .jnks-iot-filter-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
    }
    .jnks-iot-filter-dynamic-source {
    }
    .jnks-iot-filter-entity-key {
      color: #305680;
    }
    .jnks-iot-filter-value {
      color: #ff5722;
    }
    .jnks-iot-filter-simple-operation {
      font-size: 0.9em;
    }
    .jnks-iot-filter-complex-operation {
      font-weight: bold;
    }
    .jnks-iot-filter-dynamic-value {
      .jnks-iot-filter-dynamic-source, .jnks-iot-filter-value {
        color: #0c959c;
      }
    }
    .jnks-iot-filter-bracket {
      .jnks-iot-left-bracket, .jnks-iot-right-bracket {
        font-size: 1.2em;
      }
    }
  }
}
