<div [formGroup]="datasourcesFormGroup" class="jnks-iot-form-panel jnks-iot-datasources" [class.no-padding-bottom]="!showAddDatasource">
  <div class="flex flex-col">
    <div class="flex flex-row items-center justify-between">
      <div class="jnks-iot-form-panel-title">{{ (singleDatasource ? (isAlarmSource ? 'widget-config.alarm-source' : 'widget-config.datasource') : 'widget-config.datasources') | translate }}</div>
      <div class="flex flex-1 flex-row items-center justify-center" *ngIf="timeseriesKeyError">
        <mat-error >{{ 'widget-config.timeseries-key-error' | translate }}</mat-error>
      </div>
      <jnks-iot-toggle-select *ngIf="basicMode && !hideDatasourcesMode" [ngModel]="datasourcesMode" (ngModelChange)="datasourcesModeChange($event)"
                        [ngModelOptions]="{ standalone: true }">
        <jnks-iot-toggle-option [value]="datasourceType.device">{{ 'device.device' | translate }}</jnks-iot-toggle-option>
        <jnks-iot-toggle-option [value]="datasourceType.entity">{{ 'entity.entity-alias' | translate }}</jnks-iot-toggle-option>
      </jnks-iot-toggle-select>
    </div>
    <div *ngIf="maxDatasources > 1"
         class="jnks-iot-form-panel-hint">{{ 'widget-config.maximum-datasources' | translate:{count: maxDatasources} }}</div>
  </div>
  <div *ngIf="datasourcesFormArray.length === 0; else datasourcesTemplate">
                <span translate
                      class="jnks-iot-prompt flex items-center justify-center">datasource.add-datasource-prompt</span>
  </div>
  <ng-template #datasourcesTemplate>
    <div style="overflow: auto;">
      <mat-list class="jnks-iot-drop-list"
                cdkDropList
                cdkDropListOrientation="vertical"
                (cdkDropListDropped)="onDatasourceDrop($event)"
                [cdkDropListDisabled]="dragDisabled"
                formArrayName="datasources">
        <mat-list-item *ngFor="let datasourceControl of datasourcesControls; trackBy: trackByDatasource; let $index = index;"
                       class="jnks-iot-datasource-list-item jnks-iot-draggable" cdkDrag
                       [cdkDragDisabled]="dragDisabled">
          <div class="jnks-iot-datasource-row">
            <div *ngIf="!singleDatasource" class="jnks-iot-datasource-index-container">
              <div class="jnks-iot-datasource-index">{{$index + 1}}</div>
            </div>
            <div class="jnks-iot-datasource-params">
              <div class="jnks-iot-datasource-item">
                <jnks-iot-datasource [formControl]="datasourceControl">
                </jnks-iot-datasource>
                <div *ngIf="!singleDatasource && !disabled" class="jnks-iot-datasource-buttons">
                  <button class="jnks-iot-box-button" type="button"
                          mat-icon-button
                          (click)="removeDatasource($index)"
                          matTooltip="{{ 'widget-config.remove-datasource' | translate }}"
                          matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button *ngIf="!dragDisabled"
                          class="jnks-iot-box-button"
                          mat-icon-button
                          type="button"
                          cdkDragHandle
                          matTooltip="{{ 'action.drag' | translate }}"
                          matTooltipPosition="above">
                    <mat-icon>drag_indicator</mat-icon>
                  </button>
                </div>
              </div>
              <jnks-iot-error class="jnks-iot-datasource-error" [error]="datasourceError[$index] ? datasourceError[$index] : ''"></jnks-iot-error>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </ng-template>
  <div *ngIf="showAddDatasource">
    <button type="button"
            mat-stroked-button color="primary"
            (click)="addDatasource()"
            matTooltip="{{ 'widget-config.add-datasource' | translate }}"
            matTooltipPosition="above">
      <span translate>widget-config.add-datasource</span>
    </button>
  </div>
</div>
