@import "../../../../../../scss/constants";

.jnks-iot-datasource-list-item {
  &.mat-mdc-list-item {
    height: auto;
    display: block;
    padding: 0;
  }
  &.jnks-iot-draggable {
    &.cdk-drag-preview {
      background: var(--jnks-iot-surface-card);
    }
  }
}

.jnks-iot-datasource-list-item + .jnks-iot-datasource-list-item {
  margin-top: 24px;
}

.jnks-iot-datasource-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  place-content: flex-start;
  align-items: flex-start;
}

.jnks-iot-datasource-index-container {
  width: 36px;
  height: 56px;
  display: flex;
  flex-direction: row;
  place-content: flex-start;
  align-items: center;
}

.jnks-iot-datasource-index {
  width: 24px;
  height: 24px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--jnks-iot-primary-color);
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--jnks-iot-primary-color);
    opacity: 0.06;
    border-radius: 100%;
  }
}

.jnks-iot-datasource-params {
  position: relative;
  flex: 1;
  min-width: 0;
  .jnks-iot-datasource-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    jnks-iot-datasource {
      flex: 1;
      min-width: 0;
    }
    .jnks-iot-datasource-buttons {
      height: 56px;
      display: flex;
      flex-direction: row;
      place-content: center;
      align-items: center;
    }
  }
  jnks-iot-error.jnks-iot-datasource-error {
    position: absolute;
    bottom: 4px;
    left: 8px;
  }
}

:host {
  .jnks-iot-datasources {

    .handle {
      cursor: move;
    }

    .mat-mdc-list {
      min-height: 68px;
      padding-left: 0;
    }
  }
}
