<div [formGroup]="targetDeviceFormGroup" class="jnks-iot-form-panel">
  <div class="flex flex-row items-center justify-between">
    <div class="jnks-iot-form-panel-title" translate>widget-config.target-device</div>
    <jnks-iot-toggle-select formControlName="type">
      <jnks-iot-toggle-option [value]="targetDeviceType.device">{{ 'device.device' | translate }}</jnks-iot-toggle-option>
      <jnks-iot-toggle-option [value]="targetDeviceType.entity">{{ 'entity.entity-alias' | translate }}</jnks-iot-toggle-option>
    </jnks-iot-toggle-select>
  </div>
  <jnks-iot-entity-autocomplete *ngIf="targetDeviceFormGroup.get('type').value === targetDeviceType.device"
                          [required]="(!widgetEditMode && !targetDeviceOptional)"
                          [entityType]="entityType.DEVICE"
                          formControlName="deviceId">
  </jnks-iot-entity-autocomplete>
  <jnks-iot-entity-alias-select
    *ngIf="targetDeviceFormGroup.get('type').value === targetDeviceType.entity"
    [jnksIotRequired]="(!widgetEditMode && !targetDeviceOptional)"
    [aliasController]="aliasController"
    [callbacks]="entityAliasSelectCallbacks"
    formControlName="entityAliasId">
  </jnks-iot-entity-alias-select>
</div>
