<div class="jnks-iot-timewindow-style-panel" [formGroup]="timewindowStyleFormGroup">
  <div class="jnks-iot-timewindow-style-title" translate>timewindow.style</div>
  <div class="jnks-iot-form-row space-between">
    <mat-slide-toggle class="mat-slide" formControlName="showIcon">
      {{ 'timewindow.icon' | translate }}
    </mat-slide-toggle>
    <div class="flex items-center justify-start gap-2">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput formControlName="iconSize">
      </mat-form-field>
      <jnks-iot-material-icon-select asBoxInput
                               iconClearButton
                               formControlName="icon">
      </jnks-iot-material-icon-select>
    </div>
  </div>
  <div class="jnks-iot-form-row">
    <div class="fixed-title-width" translate>timewindow.icon-position</div>
    <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
      <mat-select formControlName="iconPosition" placeholder="{{ 'widget-config.set' | translate }}">
        <mat-option [value]="'left'">
          {{ 'timewindow.icon-position-left' | translate }}
        </mat-option>
        <mat-option [value]="'right'">
          {{ 'timewindow.icon-position-right' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="jnks-iot-form-row space-between">
    <div translate>timewindow.font</div>
    <jnks-iot-font-settings
      clearButton
      [previewText]="timewindowComponent.displayValue()"
      [initialPreviewStyle]="{fontSize: '14px',
                              color: 'rgba(0, 0, 0, 0.87)',
                              opacity: '0.85',
                              lineHeight: 'normal',
                              letterSpacing: 'normal'}"
      formControlName="font">
    </jnks-iot-font-settings>
  </div>
  <div class="jnks-iot-form-row space-between">
    <div translate>timewindow.color</div>
    <jnks-iot-color-input
      formControlName="color"
      colorClearButton
      asBoxInput>
    </jnks-iot-color-input>
  </div>
  <div class="jnks-iot-form-row">
    <mat-slide-toggle class="mat-slide" formControlName="displayTypePrefix">
      {{ 'timewindow.displayTypePrefix' | translate }}
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>
  <div class="jnks-iot-form-row no-border no-padding timewindow-preview">
    <div class="fixed-title-width" translate>timewindow.preview</div>
    <jnks-iot-timewindow #timewindowComponent
                   disablePanel
                   alwaysDisplayTypePrefix
                   timezone="true"
                   noMargin
                   noPadding
                   [timewindowStyle]="previewTimewindowStyle"
                   [ngModel]="previewValue"
                   [ngModelOptions]="{standalone: true}">
    </jnks-iot-timewindow>
  </div>
  <div class="jnks-iot-timewindow-style-panel-buttons">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            (click)="applyTimewindowStyle()"
            [disabled]="timewindowStyleFormGroup.invalid || !timewindowStyleFormGroup.dirty">
      {{ 'action.apply' | translate }}
    </button>
  </div>
</div>
