<div [formGroup]="deviceProfileTransportConfigurationFormGroup">
  <div [ngSwitch]="activeTransportType">
    <ng-template [ngSwitchCase]="deviceTransportType.DEFAULT">
      <jnks-iot-default-device-profile-transport-configuration
        formControlName="configuration">
      </jnks-iot-default-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="basicTransportType.MQTT">
      <jnks-iot-mqtt-device-profile-transport-configuration
        formControlName="configuration"
        [entityTransportType]="entityTransportType"
        [mqttPullActive]="mqttPullActive">
      </jnks-iot-mqtt-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.COAP">
      <jnks-iot-coap-device-profile-transport-configuration
        formControlName="configuration">
      </jnks-iot-coap-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.LWM2M">
      <jnks-iot-profile-lwm2m-device-transport-configuration
        [isAdd]="isAdd"
        formControlName="configuration">
      </jnks-iot-profile-lwm2m-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.SNMP">
      <jnks-iot-snmp-device-profile-transport-configuration
        formControlName="configuration">
      </jnks-iot-snmp-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="basicTransportType.HTTP">
      <jnks-iot-http-device-profile-transport-configuration
        formControlName="configuration"
        [entityTransportType]="entityTransportType"
        [httpPullActive]="httpPullActive">
      </jnks-iot-http-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.HTTP_PULL">
      <jnks-iot-http-device-profile-transport-configuration
        formControlName="configuration"
        [entityTransportType]="entityTransportType"
        [httpPullActive]="httpPullActive">
      </jnks-iot-http-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.MQTT_PULL">
      <jnks-iot-mqtt-device-profile-transport-configuration
        formControlName="configuration"
        [entityTransportType]="entityTransportType"
        [mqttPullActive]="mqttPullActive">
      </jnks-iot-mqtt-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.TCP">
      <jnks-iot-tcp-device-profile-transport-configuration
        formControlName="configuration">
      </jnks-iot-tcp-device-profile-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.UDP">
      <jnks-iot-udp-device-profile-transport-configuration
        formControlName="configuration">
      </jnks-iot-udp-device-profile-transport-configuration>
    </ng-template>
  </div>
</div>
