<section [formGroup]="deleteRelationConfigForm" class="jnks-iot-form-panel no-padding no-border">
  <div class="jnks-iot-form-panel stroked no-padding-bottom">
    <div class="jnks-iot-form-panel-title" translate>rule-node-config.relation-parameters</div>
    <div class="flex flex-col">
      <mat-form-field class="mat-block" hideRequiredMarker>
        <mat-label translate>relation.direction</mat-label>
        <mat-select required matInput formControlName="direction">
          <mat-option *ngFor="let type of directionTypes" [value]="type">
            {{ directionTypeTranslations.get(type) | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <jnks-iot-relation-type-autocomplete
        required
        formControlName="relationType">
      </jnks-iot-relation-type-autocomplete>
    </div>
  </div>
  <div class="jnks-iot-form-panel stroked">
    <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.delete-relation-with-specific-entity-hint' | translate }}"
         class="jnks-iot-form-row no-border no-padding">
      <mat-slide-toggle class="mat-slide" formControlName="deleteForSingleEntity">
        {{ 'rule-node-config.delete-relation-with-specific-entity' | translate }}
      </mat-slide-toggle>
    </div>
    <div *ngIf="deleteRelationConfigForm.get('deleteForSingleEntity').value">
      <div class="flex flex-row gap-2.5">
        <jnks-iot-entity-type-select
          class="flex-1"
          showLabel
          required
          [allowedEntityTypes]="allowedEntityTypes"
          formControlName="entityType">
        </jnks-iot-entity-type-select>
        <mat-form-field *ngIf="deleteRelationConfigForm.get('entityType').value && deleteRelationConfigForm.get('entityType').value !== entityType.TENANT"
                        class="mat-block flex-1">
          <mat-label>{{ entityTypeNamePatternTranslation.get(deleteRelationConfigForm.get('entityType').value) | translate }}</mat-label>
          <input required matInput formControlName="entityNamePattern">
        </mat-form-field>
      </div>
      <jnks-iot-example-hint *ngIf="deleteRelationConfigForm.get('entityType').value && deleteRelationConfigForm.get('entityType').value !== entityType.TENANT"
                       [hintText]="'rule-node-config.kv-map-single-pattern-hint'"></jnks-iot-example-hint>
    </div>
  </div>
</section>
