<section [formGroup]="generatorConfigForm" class="jnks-iot-form-panel no-border no-padding">
  <div class="jnks-iot-form-panel no-padding-bottom stroked">
    <div class="jnks-iot-form-panel-title" translate>rule-node-config.generation-parameters</div>
    <div class="jnks-iot-form-row no-border no-padding jnks-iot-standard-fields column-xs">
      <mat-form-field class="flex">
        <mat-label translate>rule-node-config.message-count</mat-label>
        <input required type="number" min="0" step="1" matInput formControlName="msgCount">
        <mat-error *ngIf="generatorConfigForm.get('msgCount').hasError('required')">
          {{ 'rule-node-config.message-count-required' | translate }}
        </mat-error>
        <mat-error *ngIf="generatorConfigForm.get('msgCount').hasError('min')">
          {{ 'rule-node-config.min-message-count-message' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="flex">
        <mat-label translate>rule-node-config.generation-frequency-seconds</mat-label>
        <input required type="number" min="1" step="1" matInput formControlName="periodInSeconds">
        <mat-error *ngIf="generatorConfigForm.get('periodInSeconds').hasError('required')">
          {{ 'rule-node-config.generation-frequency-required' | translate }}
        </mat-error>
        <mat-error *ngIf="generatorConfigForm.get('periodInSeconds').hasError('min')">
          {{ 'rule-node-config.min-generation-frequency-message' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="jnks-iot-form-panel no-padding-bottom stroked">
    <div class="jnks-iot-form-panel-title" translate>rule-node-config.originator</div>
    <jnks-iot-entity-select class="flex-1"
                      required="true"
                      useAliasEntityTypes="true"
                      [allowedEntityTypes]="allowedEntityTypes"
                      [additionEntityTypes]="additionEntityTypes"
                      formControlName="originator">
    </jnks-iot-entity-select>
  </div>
  <div class="jnks-iot-form-panel stroked">
    <mat-expansion-panel class="jnks-iot-settings" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title translate>rule-node-config.generator-function</mat-panel-title>
      </mat-expansion-panel-header>
      <jnks-iot-js-func *ngIf="generatorConfigForm.get('scriptLang').value === scriptLanguage.JS"
                  #jsFuncComponent
                  formControlName="jsScript"
                  functionName="Generate"
                  [functionArgs]="['prevMsg', 'prevMetadata', 'prevMsgType']"
                  helpId="rulenode/generator_node_script_fn"
                  noValidate="true">
        <jnks-iot-toggle-select toolbarPrefixButton formControlName="scriptLang" appearance="fill" *ngIf="tbelEnabled">
          <jnks-iot-toggle-option [value]="scriptLanguage.TBEL">
            {{ 'rule-node-config.script-lang-tbel' | translate }}
          </jnks-iot-toggle-option>
          <jnks-iot-toggle-option [value]="scriptLanguage.JS">
            {{ 'rule-node-config.script-lang-js' | translate }}
          </jnks-iot-toggle-option>
        </jnks-iot-toggle-select>
        <button toolbarSuffixButton
                mat-icon-button
                matTooltip="{{ testScriptLabel | translate }}"
                matTooltipPosition="above"
                class="jnks-iot-mat-32"
                (click)="testScript()">
          <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
        </button>
      </jnks-iot-js-func>
      <jnks-iot-js-func *ngIf="generatorConfigForm.get('scriptLang').value === scriptLanguage.TBEL"
                  #tbelFuncComponent
                  formControlName="tbelScript"
                  functionName="Generate"
                  [functionArgs]="['prevMsg', 'prevMetadata', 'prevMsgType']"
                  [disableUndefinedCheck]="true"
                  [scriptLanguage]="scriptLanguage.TBEL"
                  helpId="rulenode/tbel/generator_node_script_fn"
                  noValidate="true">
        <jnks-iot-toggle-select toolbarPrefixButton formControlName="scriptLang" appearance="fill">
          <jnks-iot-toggle-option [value]="scriptLanguage.TBEL">
            {{ 'rule-node-config.script-lang-tbel' | translate }}
          </jnks-iot-toggle-option>
          <jnks-iot-toggle-option [value]="scriptLanguage.JS">
            {{ 'rule-node-config.script-lang-js' | translate }}
          </jnks-iot-toggle-option>
        </jnks-iot-toggle-select>
        <button toolbarSuffixButton
                mat-icon-button
                matTooltip="{{ testScriptLabel | translate }}"
                matTooltipPosition="above"
                class="jnks-iot-mat-32"
                (click)="testScript()">
          <mat-icon class="material-icons" color="primary">bug_report</mat-icon>
        </button>
      </jnks-iot-js-func>
      <div class="flex flex-row" style="padding-bottom: 16px;">
        <button mat-button mat-raised-button color="primary" (click)="testScript()">
          {{ testScriptLabel | translate }}
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</section>
