<section [formGroup]="rpcReplyConfigForm" class="jnks-iot-form-panel stroked no-padding-bottom">
  <div class="jnks-iot-form-panel-title" translate>rule-node-config.reply-routing-configuration</div>
  <jnks-iot-example-hint [hintText]="'rule-node-config.rpc-reply-routing-configuration-hint'">
  </jnks-iot-example-hint>
  <div class="jnks-iot-form-row no-border no-padding jnks-iot-standard-fields column-xs">
    <mat-form-field class="flex">
      <mat-label translate>rule-node-config.service-id-metadata-attribute</mat-label>
      <input matInput formControlName="serviceIdMetaDataAttribute">
    </mat-form-field>
    <mat-form-field class="flex">
      <mat-label translate>rule-node-config.session-id-metadata-attribute</mat-label>
      <input matInput formControlName="sessionIdMetaDataAttribute">
    </mat-form-field>
    <mat-form-field class="flex">
      <mat-label translate>rule-node-config.request-id-metadata-attribute</mat-label>
      <input matInput formControlName="requestIdMetaDataAttribute">
    </mat-form-field>
  </div>
</section>
