@import '../../../../../scss/constants';

:host {
  width: 100%;
  height: 100%;
  display: block;
  .jnks-iot-entity-table {

    &.jnks-iot-popover-mode {
      position: relative;
      width: 800px;
      height: 600px;
    }

    .jnks-iot-entity-table-content {
      width: 100%;
      height: 100%;
      background: var(--jnks-iot-surface-card);
      overflow: hidden;

      &.jnks-iot-outlined-border {
        box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%);
        border: solid 1px #e0e0e0;
        border-radius: 4px;
      }

      .mat-toolbar-tools{
        min-height: auto;
      }

      .title-container{
        overflow: hidden;
      }

      .jnks-iot-entity-table-title {
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .table-container {
        overflow: auto;
      }

      .jnks-iot-entity-table-info{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .button-widget-action{
        margin-left: auto;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media #{$mat-xs} {
    .mat-toolbar {
      height: auto;
      min-height: 100px;

      .jnks-iot-entity-table-title{
        padding-bottom: 5px;
        width: 100%;
      }
    }
  }
}
