<jnks-iot-repository-settings #repositorySettingsComponent
                        [detailsMode]="detailsMode"
                        hideLoadingBar
                        [popoverComponent]="popoverComponent"
                        *ngIf="!(hasRepository$ | async); else versionsTable">
</jnks-iot-repository-settings>
<ng-template #versionsTable>
  <jnks-iot-entity-versions-table [singleEntityMode]="singleEntityMode"
                            [popoverComponent]="popoverComponent"
                            [onBeforeCreateVersion]="onBeforeCreateVersion"
                            [active]="active"
                            [entityId]="entityId"
                            [entityName]="entityName"
                            [externalEntityId]="externalEntityId"
                            (versionRestored)="versionRestored.emit()"></jnks-iot-entity-versions-table>
</ng-template>
