:host {
  display: block;

  jnks-iot-json-object-edit.jnks-iot-rule-node-configuration-json {
    display: block;
    height: 300px;
  }

  .jnks-iot-rulenode-directive-error {
    font-size: 13px;
    font-weight: 400;
    color: rgb(221, 44, 0);
  }
}
