@mixin rule-node-colors {
  &.jnks-iot-filter-type {
    background-color: #f1e861;
  }

  &.jnks-iot-enrichment-type {
    background-color: #cdf14e;
  }

  &.jnks-iot-transformation-type {
    background-color: #79cef1;
  }

  &.jnks-iot-action-type {
    background-color: #f1928f;
  }

  &.jnks-iot-external-type {
    background-color: #fbc766;
  }

  &.jnks-iot-flow-type {
    background-color: #d6c4f1;
  }

  &.jnks-iot-unknown-type {
    background-color: #f16c29;
  }

}
