<div class="mat-content jnks-iot-rulechain flex flex-1 flex-col" jnks-iot-fullscreen [fullscreen]="isFullscreen" [jnks-iot-hotkeys]="hotKeys"
     [cheatSheet]="cheatSheetComponent">
  <jnks-iot-hotkeys-cheatsheet #cheatSheetComponent></jnks-iot-hotkeys-cheatsheet>
  <section class="jnks-iot-rulechain-container flex flex-1 flex-col">
    <div class="jnks-iot-rulechain-layout flex flex-1 flex-row">
      <mat-drawer-container class="jnks-iot-rulechain-drawer-container">
        <mat-drawer class="jnks-iot-rulechain-library mat-elevation-z4 flex flex-col"
                    disableClose="true"
                    mode="side"
                    #drawer
                    opened
                    position="start">
          <mat-toolbar class="jnks-iot-rulechain-header-toolbar">
            <jnks-iot-rule-chain-select
              class="jnks-iot-rulechain-header-select flex-1"
              *ngIf="!isImport"
              [ruleChainType]="ruleChainType"
              [disabled]="isDirtyValue"
              [(ngModel)]="ruleChain"
              (ngModelChange)="currentRuleChainIdChanged(ruleChain.id?.id)">
            </jnks-iot-rule-chain-select>
          </mat-toolbar>
          <mat-toolbar class="jnks-iot-rulechain-search-toolbar">
            <div class="mat-toolbar-tools">
              <mat-form-field class="jnks-iot-appearance-transparent flex-1">
                <button mat-icon-button matPrefix class="jnks-iot-small"
                        matTooltip="{{'rulenode.search' | translate}}"
                        matTooltipPosition="above">
                  <mat-icon>search</mat-icon>
                </button>
                <input matInput
                       [formControl]="ruleNodeTypeSearch"
                       placeholder="{{'rulenode.search' | translate}}"/>
                <button mat-icon-button matSuffix class="jnks-iot-small"
                        [class.!hidden]="ruleNodeTypeSearch.value === ''"
                        (click)="ruleNodeTypeSearch.reset()"
                        matTooltip="{{'action.clear-search' | translate}}"
                        matTooltipPosition="above">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </mat-toolbar>
          <div class="jnks-iot-rulechain-library-panel-group">
            <mat-expansion-panel #ruleNodeTypeExpansionPanels
                                 class="mat-elevation-z2"
                                 [expanded]="true" *ngFor="let ruleNodeType of ruleNodeTypesLibraryArray">
              <mat-expansion-panel-header expandedHeight="48px"
                                          (mouseenter)="typeHeaderMouseEnter($event, ruleNodeType)"
                                          (mouseleave)="destroyTooltips()">
                <mat-panel-title>
                  <mat-icon>{{ ruleNodeTypeDescriptorsMap.get(ruleNodeType).icon }}</mat-icon>
                  <div class="jnks-iot-panel-title" translate>{{ ruleNodeTypeDescriptorsMap.get(ruleNodeType).name }}</div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <fc-canvas id="jnks-iot-rulchain-{{ruleNodeType}}"
                         [model]="ruleNodeTypesModel[ruleNodeType].model"
                         [selectedObjects]="ruleNodeTypesModel[ruleNodeType].selectedObjects"
                         [automaticResize]="false"
                         fitModelSizeByDefault
                         [userCallbacks]="nodeLibCallbacks"
                         [nodeWidth]="170"
                         [nodeHeight]="50"
                         [dropTargetId]="'jnks-iot-rulchain-canvas'">
              </fc-canvas>
            </mat-expansion-panel>
          </div>
        </mat-drawer>
        <mat-drawer class="jnks-iot-details-drawer"
                    [opened]="isEditingRuleNode || isEditingRuleNodeLink"
                    (closed)="onDetailsDrawerClosed()"
                    mode="over"
                    position="end">
          <jnks-iot-details-panel *ngIf="editingRuleNode" class="flex-1"
                            headerTitle="{{editingRuleNode.name}}"
                            headerSubtitle="{{
                              (ruleNodeTypeDescriptorsMap.get(editingRuleNode.component.type).name | translate)
                              + ' - ' + editingRuleNode.component.name
                            }}"
                            [isReadOnly]="selectedRuleNodeTabIndex > 0"
                            [isAlwaysEdit]="true"
                            (closeDetails)="onEditRuleNodeClosed()"
                            (toggleDetailsEditMode)="onRevertRuleNodeEdit()"
                            (applyDetails)="saveRuleNode()"
                            [theForm]="jnksIotRuleNode.ruleNodeFormGroup">
            <div class="details-buttons">
            </div>
            <mat-tab-group mat-stretch-tabs="false" class="jnks-iot-absolute-fill jnks-iot-rulenode-details flex-1" [(selectedIndex)]="selectedRuleNodeTabIndex">
              <mat-tab label="{{ 'rulenode.details' | translate }}">
                <jnks-iot-rule-node #jnksIotRuleNode
                              [ruleNode]="editingRuleNode"
                              [ruleChainId]="ruleChain.id?.id"
                              [ruleChainType]="ruleChainType"
                              (initRuleNode)="onRuleNodeInit()"
                              (changeScript)="switchToFirstTab()">
                </jnks-iot-rule-node>
              </mat-tab>
              <mat-tab *ngIf="editingRuleNode.ruleNodeId" label="{{ 'rulenode.events' | translate }}" #eventsTab="matTab">
                <jnks-iot-event-table [debugEventTypes]="[debugEventTypes.DEBUG_RULE_NODE]"
                                [defaultEventType]="debugEventTypes.DEBUG_RULE_NODE"
                                [active]="eventsTab.isActive"
                                [tenantId]="ruleChain.tenantId.id"
                                [entityId]="editingRuleNode.ruleNodeId"
                                [functionTestButtonLabel]="ruleNodeTestButtonLabel"
                                (debugEventSelected)="onDebugEventSelected($event)">
                </jnks-iot-event-table>
              </mat-tab>
              <mat-tab label="{{ 'rulenode.help' | translate }}">
                <div class="jnks-iot-rule-node-help">
                  <div id="jnks-iot-node-content" class="mat-padding flex flex-col">
                    <div class="jnks-iot-node-title">{{editingRuleNode.component.name}}</div>
                    <div>&nbsp;</div>
                    <div class="jnks-iot-node-description" [innerHtml]="editingRuleNode.component.configurationDescriptor.nodeDefinition.description | safe: 'html'"></div>
                    <div>&nbsp;</div>
                    <div class="jnks-iot-node-details" [innerHtml]="editingRuleNode.component.configurationDescriptor.nodeDefinition.details | safe: 'html'"></div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </jnks-iot-details-panel>
          <jnks-iot-details-panel *ngIf="editingRuleNodeLink" class="flex-1"
                            headerTitle="{{editingRuleNodeLink.label}}"
                            headerSubtitle="{{'rulenode.link-details' | translate}}"
                            [isReadOnly]="false"
                            [isAlwaysEdit]="true"
                            (closeDetails)="onEditRuleNodeLinkClosed()"
                            (toggleDetailsEditMode)="onRevertRuleNodeLinkEdit()"
                            (applyDetails)="saveRuleNodeLink()"
                            [theForm]="jnksIotRuleNodeLink.ruleNodeLinkFormGroup">
            <div class="details-buttons">
            </div>
            <jnks-iot-rule-node-link
              class="flex-1"
              #jnksIotRuleNodeLink
              [(ngModel)]="editingRuleNodeLink"
              [allowedLabels]="editingRuleNodeLinkLabels"
              [allowCustom]="editingRuleNodeAllowCustomLabels"
              [sourceRuleChainId]="editingRuleNodeSourceRuleChainId">
            </jnks-iot-rule-node-link>
          </jnks-iot-details-panel>
        </mat-drawer>
        <mat-drawer-content class="jnks-iot-rulechain-graph-content">
          <button color="primary"
                  mat-mini-fab
                  class="jnks-iot-library-node-btn"
                  (click)="drawer.toggle();"
                  matTooltip="{{ (drawer.opened ? 'rulenode.close-node-library' : 'rulenode.open-node-library') | translate }}"
                  matTooltipPosition="above">
            <mat-icon class="jnks-iot-library-node-btn-icon" [class.jnks-iot-library-node-btn-icon-toggled]="drawer.opened">chevron_right</mat-icon>
          </button>
          <button #versionControlButton
                  *ngIf="!isImport && versionControlUiEnabled"
                  color="primary"
                  type="button"
                  mat-mini-fab class="version-control-button"
                  (click)="toggleVersionControl($event, versionControlButton)"
                  matTooltip="{{'version-control.version-control' | translate}}"
                  matTooltipPosition="above">
            <mat-icon>history</mat-icon>
          </button>
          <button type="button"
                  mat-icon-button class="jnks-iot-fullscreen-button jnks-iot-mat-40"
                  (click)="isFullscreen = !isFullscreen"
                  matTooltip="{{(isFullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
                  matTooltipPosition="above">
            <mat-icon>{{ isFullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
          </button>
          <div class="jnks-iot-absolute-fill jnks-iot-rulechain-graph" (tbcontextmenu)="openRuleChainContextMenu($event)">
            <div #ruleChainMenuTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
                 [style.left]="ruleChainMenuPosition.x"
                 [style.top]="ruleChainMenuPosition.y"
                 [matMenuTriggerFor]="ruleChainMenu">
            </div>
            <mat-menu #ruleChainMenu="matMenu" class="jnks-iot-rule-chain-context-menu"
                      [overlapTrigger]="true">
              <ng-template matMenuContent let-contextInfo="contextInfo">
                <div class="jnks-iot-rule-chain-context-menu-container" (mouseleave)="onRuleChainContextMenuMouseLeave()">
                  <div class="jnks-iot-context-menu-header {{contextInfo.headerClass}}">
                    <mat-icon *ngIf="!contextInfo.iconUrl">{{contextInfo.icon}}</mat-icon>
                    <img *ngIf="contextInfo.iconUrl" [src]="contextInfo.iconUrl"/>
                    <div class="flex-1">
                      <div class="jnks-iot-context-menu-title">{{contextInfo.title}}</div>
                      <div class="jnks-iot-context-menu-subtitle">{{contextInfo.subtitle}}</div>
                    </div>
                  </div>
                  <div *ngFor="let menuItem of contextInfo.menuItems">
                    <mat-divider *ngIf="menuItem.divider"></mat-divider>
                    <button *ngIf="!menuItem.divider"
                            mat-menu-item
                            [disabled]="!menuItem.enabled"
                            (click)="menuItem.action(contextMenuEvent)">
                      <span *ngIf="menuItem.shortcut" class="jnks-iot-alt-text"> {{ menuItem.shortcut | keyboardShortcut }}</span>
                      <mat-icon *ngIf="menuItem.icon">{{menuItem.icon}}</mat-icon>
                      <span translate>{{menuItem.value}}</span>
                    </button>
                  </div>
                </div>
              </ng-template>
            </mat-menu>
            <fc-canvas #ruleChainCanvas
                       id="jnks-iot-rulchain-canvas"
                       [model]="ruleChainModel"
                       (modelChanged)="onModelChanged()"
                       [selectedObjects]="selectedObjects"
                       [edgeStyle]="flowchartConstants.curvedStyle"
                       [automaticResize]="true"
                       fitModelSizeByDefault="false"
                       [nodeWidth]="170"
                       [nodeHeight]="50"
                       [dragAnimation]="flowchartConstants.dragAnimationRepaint"
                       [userCallbacks]="editCallbacks">
            </fc-canvas>
          </div>
          <section class="jnks-iot-footer-buttons flex flex-row flex-wrap items-end justify-start">
            <button [disabled]="isLoading$ | async"
                    mat-fab color="accent" class="jnks-iot-btn-footer"
                    [class.jnks-iot-hide]="!objectsSelected()"
                    (click)="deleteSelected()"
                    matTooltip="{{ 'rulenode.delete-selected-objects' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
            <button [disabled]="(isLoading$ | async) || !isDebugSettingsEnabled()"
                    mat-fab color="accent" class="jnks-iot-btn-footer"
                    (click)="resetDebugSettingsInAllNodes()"
                    matTooltip="{{ 'rulenode.reset-debug-settings' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>bug_report</mat-icon>
            </button>
            <button [disabled]="(isLoading$ | async) || isInvalid || (!isDirtyValue && !isImport)"
                    mat-fab color="accent" class="jnks-iot-btn-footer"
                    (click)="saveRuleChain()"
                    matTooltip="{{ 'action.apply-changes' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>done</mat-icon>
            </button>
            <button [disabled]="(isLoading$ | async) || !isDirtyValue"
                    mat-fab color="accent" class="jnks-iot-btn-footer"
                    (click)="revertRuleChain()"
                    matTooltip="{{ 'action.decline-changes' | translate }}"
                    matTooltipPosition="above">
              <mat-icon>close</mat-icon>
            </button>
          </section>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </section>
</div>
