<mat-toolbar color="primary">
  <h2 translate>audit-log.audit-log-details</h2>
  <span class="flex-1"></span>
  <button mat-icon-button
          [mat-dialog-close]="false"
          type="button">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content class="flex flex-col">
  <label translate class="jnks-iot-title no-padding">audit-log.action-data</label>
  <div #actionDataEditor class="jnks-iot-audit-log-action-data">
  </div>
  <span style="min-height: 30px;"></span>
  <label [class.!hidden]="!displayFailureDetails" translate class="jnks-iot-title no-padding">audit-log.failure-details</label>
  <div #failureDetailsEditor [class.!hidden]="!displayFailureDetails" class="jnks-iot-audit-log-failure-details">
  </div>
</div>
<div mat-dialog-actions class="flex items-center justify-end">
  <button mat-button color="primary"
          type="button"
          [disabled]="(isLoading$ | async)"
          [mat-dialog-close]="false" cdkFocusInitial>
    {{ 'action.close' | translate }}
  </button>
</div>
