:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  height: 100%;
}

:host ::ng-deep {
  jnks-iot-entities-table {
    flex: 1;
    min-height: 0;
    height: 100%;

    &.jnks-iot-details-mode {
      .jnks-iot-entities-table-container {
        background-color: white;
      }
    }
  }
}
