@import '../../../../scss/constants';

:host {
  min-width: 52px;
  width: 100%;
  padding: 0;

  .tb-rule-select {
    width: 100%;

    input {
      color: #fff;
      cursor: pointer;
      text-overflow: ellipsis;
      pointer-events: none;

      &:disabled {
        cursor: unset;
      }
    }
  }

  .disabled {
    opacity: 0.5;
  }
}

:host-context(.tb-rulechain-header-select) {
  .tb-rule-select input {
    color: #fff;
  }
}

:host:not(:host-context(.tb-rulechain-header-select)) {
  .tb-rule-select {
    .mat-mdc-text-field-wrapper {
      border-radius: 10px;
      background-color: #f1f5f9;
    }

    input {
      color: $tb-topbar-text;
    }

    .mat-icon {
      color: $tb-secondary-color;
    }
  }
}
