@import "../../../../scss/constants";

:host {
  width: 100%;
}

::ng-deep {
  .jnks-iot-autocomplete.jnks-iot-rule-chain-search {
    .mat-mdc-option.jnks-iot-selected-option {
      display: flex;
      flex-direction: row-reverse;
      background-color: var(--jnks-iot-text-faint);

      mat-icon {
        margin-right: 0;
        margin-left: 16px;
        color: var(--jnks-iot-secondary-color);
      }

      .mdc-list-item__primary-text {
        color: var(--jnks-iot-secondary-color);
        font-weight: 500;
      }
    }
  }
}
