:host {
  z-index: 10;
  background: #F3F6FA;
  display: flex;
  overflow: auto;
  .jnks-iot-preview-dashboard {
    position: relative;
    margin: auto;
  }
  .jnks-iot-preview-panel {
    position: absolute;
    top: 16px;
    left: 24px;
  }
}

:host ::ng-deep {
  jnks-iot-dashboard.jnks-iot-preview-dashboard {
    .jnks-iot-dashboard-content {
      background-color: transparent !important;
    }
  }
}
