<jnks-iot-dashboard class="jnks-iot-preview-dashboard"
              [style.width]="previewWidth"
              [style.height]="previewHeight"
              [aliasController]="aliasController"
              [stateController]="stateController"
              [dashboardTimewindow]="dashboardTimewindow"
              [widgets]="widgets"
              [autofillHeight]="true"
              [columns]="24"
              [isEdit]="false"
              [isPreview]="true"
              [isMobileDisabled]="true"
              [isEditActionEnabled]="false"
              [isRemoveActionEnabled]="false">
</jnks-iot-dashboard>
<div class="jnks-iot-preview-panel">
  <ng-content select=".jnks-iot-preview-panel-content"></ng-content>
</div>
