@import '../scss/constants';

.jnks-iot-widget-container {
  position: absolute;
  inset: 0;
}

.jnks-iot-widget {
  position: absolute;
  inset: 0;
  margin: 0;
  overflow: hidden;
  outline: none;

  transition: all .2s ease-in-out;

  &.jnks-iot-overflow-visible {
    overflow: visible;
    .jnks-iot-widget {
      overflow: visible;
    }
  }
}

div.jnks-iot-widget {
  display: flex;
  flex-direction: column;
  .jnks-iot-widget-header {
    display: flex;
    flex-direction: row;
    place-content: flex-start space-between;
    align-items: flex-start;
  }

  .jnks-iot-widget-title {
    display: flex;
    flex-direction: column;
    place-content: flex-start center;
    align-items: flex-start;
    max-height: 65px;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;

    jnks-iot-timewindow {
      font-size: 14px;
      opacity: .85;
    }

    .title-row {
      display: flex;
      flex-direction: row;
      place-content: center flex-start;
      align-items: center;
      gap: 4px;
      width: 100%;
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 24px;
      letter-spacing: normal;
      margin: 0;
    }
  }

  .jnks-iot-widget-actions {
    display: flex;
    flex-direction: row;
    place-content: center flex-start;
    align-items: center;
    z-index: 101;
    margin: 5px 0 0;

    &-absolute {
      position: absolute;
      top: 3px;
      right: 8px;
      z-index: 150;
    }

    button.mat-mdc-icon-button {
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 20px;
      &.mat-mdc-button-base {
        .mat-mdc-button-touch-target {
          height: 32px;
          width: 32px;
        }
      }

      .mat-icon {
        width: 20px;
        min-width: 20px;
        height: 20px;
        min-height: 20px;
        font-size: 20px;
        line-height: 20px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .jnks-iot-widget-title, .jnks-iot-widget-actions {
    .mat-icon {
      vertical-align: bottom;
    }
  }

  .jnks-iot-widget-content {
    flex: 1;
    position: relative;
    &.jnks-iot-no-interaction {
      pointer-events: none;
    }
  }

  &.jnks-iot-highlighted {
    border: 1px solid #039be5;
    box-shadow: 0 0 20px #039be5;
  }

  &.jnks-iot-not-highlighted {
    opacity: .5;
  }

  &.jnks-iot-hover {
    &:not(.jnks-iot-highlighted) {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
  }

  &.jnks-iot-edit {
    cursor: pointer;
  }
}

gridster-item:hover {
  .jnks-iot-widget-container {
    div.jnks-iot-widget {
      &.jnks-iot-edit {
        &:not(.jnks-iot-highlighted) {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.tooltipster-sidetip.jnks-iot-widget-edit-actions-tooltip {
  position: absolute !important;
  .tooltipster-box {
    user-select: none;
    background: var(--jnks-iot-surface-card);
    border: 1px solid var(--jnks-iot-text-faint);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    .tooltipster-content {
      padding: 4px 8px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 500;
      color: var(--jnks-iot-text);
      .jnks-iot-widget-action-container {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .jnks-iot-widget-actions-panel {
          display: flex;
          flex-direction: row;
          place-content: center space-between;
          align-items: center;
          gap: 8px;
        }
        .jnks-iot-widget-reference-panel {
          display: flex;
          flex-direction: row;
          place-content: center space-between;
          align-items: center;
          gap: 8px;
          font-weight: normal;
          color: var(--jnks-iot-primary-color);
          font-size: 11px;
          padding: 4px 4px 4px 6px;
          border-radius: 2px;
        }
      }
    }
  }
  .tooltipster-arrow {
    .tooltipster-arrow-uncropped {
      .tooltipster-arrow-background {
        border-width: 12px;
      }
    }
  }
  &.tooltipster-top {
    .tooltipster-arrow {
      bottom: -1px;
      .tooltipster-arrow-uncropped {
        .tooltipster-arrow-border {
          border-top-color: var(--jnks-iot-text-faint);
        }
        .tooltipster-arrow-background {
          border-top-color: #fff;
          left: -2px;
        }
      }
    }
  }
}
