:host {
  display: flex;
  a.mat-mdc-button {
    &:hover, &:focus {
      border-bottom: none;
    }
  }
  .jnks-iot-alarm-rule-condition {
    cursor: pointer;
    min-width: 0;
    .jnks-iot-alarm-rule-condition-spec {
      opacity: 0.7;
      padding: 4px;
    }
    &.title {
      padding: 4px;
      opacity: 0.7;
      overflow: visible;
    }
  }
}

:host ::ng-deep {
  .jnks-iot-alarm-rule-condition {
    .jnks-iot-filter-text {
      max-height: 200px;
    }
  }
}
