<form [formGroup]="widgetActionFormGroup" (ngSubmit)="save()" style="width: 900px;">
  <mat-toolbar color="primary">
    <h2>{{ (isAdd ? 'widget-config.add-action' : 'widget-config.edit-action' ) | translate }}</h2>
    <span class="flex-1"></span>
    <button mat-icon-button
            (click)="cancel()"
            type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
  </mat-progress-bar>
  <div style="height: 4px;" *ngIf="(isLoading$ | async) === false"></div>
  <div mat-dialog-content>
    <fieldset [disabled]="isLoading$ | async">
      <div class="jnks-iot-form-panel no-padding no-border">
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width">{{'widget-config.action-source' | translate}}*</div>
          <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
            <mat-select required formControlName="actionSourceId" placeholder="{{ 'widget-config.select-action-source' | translate }}">
              <mat-option *ngFor="let actionSourceItem of data.actionsData.actionSources | keyvalue" [value]="actionSourceItem.key">
                {{ actionSourceName(actionSourceItem.value) }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'widget-config.action-source-required' | translate"
                      *ngIf="widgetActionFormGroup.get('actionSourceId').hasError('required')
                       && widgetActionFormGroup.get('actionSourceId').touched"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="jnks-iot-form-row" *ngIf="widgetActionFormGroup.get('actionSourceId').value === 'cellClick'">
          <div class="fixed-title-width">{{'widget-config.column-index' | translate}}*</div>
          <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
            <mat-select #columnIndexSelect formControlName="columnIndex" placeholder="{{ columnIndexPlaceholderText }}">
              <mat-option *ngFor="let column of configuredColumns; let $index = index"
                          [value]="$index"
                          [disabled]="usedCellClickColumns.includes($index)">
                {{ getCellClickColumnInfo($index, column) }}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="'widget-config.column-index-required' | translate"
                      *ngIf="widgetActionFormGroup.get('columnIndex').hasError('required') &&
                             widgetActionFormGroup.get('columnIndex').touched"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="jnks-iot-form-row">
          <div class="fixed-title-width">{{'widget-config.action-name' | translate}}*</div>
          <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
            <input required matInput formControlName="name" placeholder="{{ 'widget-config.set' | translate }}">
            <mat-icon matSuffix
                      matTooltipPosition="above"
                      matTooltipClass="jnks-iot-error-tooltip"
                      [matTooltip]="(widgetActionFormGroup.get('name').hasError('required')
                                     ? 'widget-config.action-name-required'
                                     : 'widget-config.action-name-not-unique') | translate"
                      *ngIf="widgetActionFormGroup.get('name').invalid
                       && (widgetActionFormGroup.get('name').touched || widgetActionFormGroup.get('name').hasError('actionNameNotUnique'))"
                      class="jnks-iot-error">
              warning
            </mat-icon>
          </mat-form-field>
        </div>
        @if (widgetActionFormGroup.get('actionSourceId').value === 'headerButton') {
          <div class="jnks-iot-form-panel stroked">
            <div class="jnks-iot-form-panel-title" translate>widget-config.header-button.button-settings</div>
            <div class="jnks-iot-form-row">
              <div class="fixed-title-width" translate>widget-config.header-button.button-type</div>
              <mat-form-field class="flex-1" appearance="outline" subscriptSizing="dynamic">
                <mat-select required formControlName="buttonType" placeholder="{{ 'widget-config.set' | translate }}">
                  <mat-option *ngFor="let button of widgetHeaderActionButtonTypes" [value]="button">
                    {{ widgetHeaderActionButtonTypeTranslationMap.get(widgetHeaderActionButtonType[button]) | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="jnks-iot-form-row space-between">
              <div class="flex flex-row items-center justify-start gap-2">
                <mat-slide-toggle class="mat-slide" formControlName="showIcon">
                </mat-slide-toggle>
                <div translate>widget-config.icon</div>
              </div>
              <jnks-iot-material-icon-select asBoxInput
                                       formControlName="icon">
              </jnks-iot-material-icon-select>
            </div>
            <div class="jnks-iot-form-row space-between column-xs">
              <div class="fixed-title-width">{{ 'widget-config.header-button.colors' | translate }}</div>
              <div class="flex flex-row items-center justify-start gap-2">
                <div class="jnks-iot-small-label" translate>widget-config.header-button.color</div>
                <jnks-iot-color-input asBoxInput
                                formControlName="buttonColor">
                </jnks-iot-color-input>
                <mat-divider vertical></mat-divider>
                <div class="jnks-iot-small-label" translate>widget-config.header-button.background</div>
                <jnks-iot-color-input asBoxInput
                                formControlName="buttonFillColor">
                </jnks-iot-color-input>
                <mat-divider vertical></mat-divider>
                <div class="jnks-iot-small-label" translate>widget-config.header-button.border</div>
                <jnks-iot-color-input asBoxInput
                                formControlName="buttonBorderColor">
                </jnks-iot-color-input>
              </div>
            </div>
            <div class="jnks-iot-form-panel stroked">
              <mat-expansion-panel class="jnks-iot-settings">
                <mat-expansion-panel-header>
                  <mat-panel-description class="flex items-stretch justify-start" translate>
                    widget-config.header-button.advanced-button-style
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                  <jnks-iot-json-object-edit
                    [editorStyle]="{minHeight: '100px'}"
                    label="{{ 'widget-config.header-button.button-style' | translate }}"
                    formControlName="customButtonStyle"
                  ></jnks-iot-json-object-edit>
                </ng-template>
              </mat-expansion-panel>
            </div>
          </div>
        } @else {
          <div class="jnks-iot-form-row space-between">
            <div>{{'widget-config.icon' | translate}}</div>
            <jnks-iot-material-icon-select asBoxInput
                                     formControlName="icon">
            </jnks-iot-material-icon-select>
          </div>
        }

        <div class="jnks-iot-form-panel stroked jnks-iot-slide-toggle" *ngIf="displayShowWidgetActionForm()">
          <mat-expansion-panel class="jnks-iot-settings" [expanded]="widgetActionFormGroup.get('useShowWidgetActionFunction').value"
                               [disabled]="!widgetActionFormGroup.get('useShowWidgetActionFunction').value">
            <mat-expansion-panel-header class="flex flex-row flex-wrap">
              <mat-panel-title>
                <mat-slide-toggle class="mat-slide flex items-stretch justify-center" formControlName="useShowWidgetActionFunction" (click)="$event.stopPropagation()">
                  {{ 'widget-config.show-hide-action-using-function' | translate }}
                </mat-slide-toggle>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <jnks-iot-js-func formControlName="showWidgetActionFunction"
                          functionTitle="{{ 'widget-config.show-action-function' | translate }}"
                          withModules
                          [helpId]="getWidgetActionFunctionHelpId()"
                          [functionArgs]="['widgetContext', 'data']"
                          [globalVariables]="functionScopeVariables"
                          [validationArgs]="[]"
                          [resultType]="'boolean'"
                          [editorCompleter]="customActionEditorCompleter"
              ></jnks-iot-js-func>
            </ng-template>
          </mat-expansion-panel>
        </div>
        <jnks-iot-widget-action
            formControlName="widgetAction"
            [callbacks]="data.callbacks"
            [widgetType]="data.widgetType"
            [additionalWidgetActionTypes]="data.additionalWidgetActionTypes">
        </jnks-iot-widget-action>
      </div>
    </fieldset>
  </div>
  <div mat-dialog-actions class="flex items-center justify-end">
    <button mat-button color="primary"
            type="button"
            [disabled]="(isLoading$ | async)"
            (click)="cancel()" cdkFocusInitial>
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary"
            type="submit"
            [disabled]="(isLoading$ | async) || widgetActionFormGroup.invalid || !widgetActionFormGroup.dirty">
      {{ (isAdd  ? 'action.add' : 'action.save') | translate }}
    </button>
  </div>
</form>
