<form [formGroup]="form" class="http-transport-form">
  <section class="http-mode-section">
    <mat-form-field class="mat-block">
      <mat-label translate>device-profile.http.mode</mat-label>
      <mat-select formControlName="httpMode">
        <mat-option [value]="httpTransportMode.PASSIVE">
          {{ 'device-profile.http.mode-passive' | translate }}
        </mat-option>
        <mat-option [value]="httpTransportMode.PULL">
          {{ 'device-profile.http.mode-pull' | translate }}
        </mat-option>
      </mat-select>
      <mat-hint translate>device-profile.http.mode-hint</mat-hint>
    </mat-form-field>
  </section>

  <div [hidden]="form.get('httpMode').value !== httpTransportMode.PASSIVE">
    <tb-http-passive-device-transport-configuration
      formControlName="passiveConfiguration"
      [httpPushRoutingMode]="httpPushRoutingMode">
    </tb-http-passive-device-transport-configuration>
  </div>

  <div [hidden]="form.get('httpMode').value !== httpTransportMode.PULL">
    <tb-http-pull-device-transport-configuration
      formControlName="pullConfiguration">
    </tb-http-pull-device-transport-configuration>
  </div>
</form>
