<form [formGroup]="form" class="http-passive-profile-form">
  <section class="http-passive-panel">
    <mat-icon class="http-passive-icon">cloud_upload</mat-icon>
    <div class="http-passive-text">
      <div class="jnks-iot-small" translate>device-profile.http.passive-title</div>
      <div class="jnks-iot-hint" translate>device-profile.http.passive-description</div>
      <ul class="http-passive-endpoints jnks-iot-hint">
        <li translate>device-profile.http.passive-endpoint-telemetry</li>
        <li translate>device-profile.http.passive-endpoint-attributes</li>
        <li translate>device-profile.http.passive-endpoint-rpc</li>
      </ul>
    </div>
  </section>
</form>
