<form [formGroup]="form" class="http-pull-device-form">
  <p class="tb-hint" translate>device-profile.http-pull.single-device-device-hint</p>
  <p *ngIf="httpPullProfilePollUrl" class="tb-hint profile-poll-url-ref">
    <span translate>device-profile.http-pull.profile-poll-url</span>：{{ httpPullProfilePollUrl }}
  </p>
  <p *ngIf="effectivePollUrl" class="tb-hint effective-poll-url-ref">
    <span translate>device-profile.http-pull.effective-poll-url</span>：{{ effectivePollUrl }}
  </p>
  <mat-form-field class="mat-block">
    <mat-label translate>device-profile.http-pull.poll-url-override</mat-label>
    <input matInput formControlName="pollUrlOverride" placeholder="192.168.1.10:8080">
    <mat-hint translate>device-profile.http-pull.poll-url-override-single-hint</mat-hint>
  </mat-form-field>
</form>
