<form [formGroup]="form" class="http-pull-form">
  <div class="tb-small section-title" translate>device-profile.http-pull.section-poll</div>
  <section class="flex flex-row gap-2 xs:flex-col global-timing">
    <mat-form-field class="flex-1 mat-block">
      <mat-label translate>device-profile.http-pull.querying-frequency-ms</mat-label>
      <input matInput type="number" formControlName="queryingFrequencyMs" required>
      <mat-hint translate>device-profile.http-pull.default-querying-frequency-hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="flex-1 mat-block">
      <mat-label translate>device-profile.http-pull.timeout-ms</mat-label>
      <input matInput type="number" formControlName="timeoutMs" required>
    </mat-form-field>
    <mat-form-field class="flex-1 mat-block">
      <mat-label translate>device-profile.http-pull.read-timeout-ms</mat-label>
      <input matInput type="number" formControlName="readTimeoutMs" required>
    </mat-form-field>
  </section>

  <tb-http-pull-poll-requests-config
    formControlName="pollRequests"
    [defaultQueryingFrequencyMs]="form.get('queryingFrequencyMs').value">
  </tb-http-pull-poll-requests-config>

  <mat-expansion-panel class="http-pull-panel">
    <mat-expansion-panel-header>
      <mat-panel-title translate>device-profile.http-pull.section-auth</mat-panel-title>
    </mat-expansion-panel-header>
    <p class="tb-hint auth-section-hint" translate>device-profile.http-pull.auth-section-hint</p>
    <mat-form-field class="mat-block">
      <mat-label translate>device-profile.http-pull.auth-type</mat-label>
      <mat-select formControlName="authType">
        <mat-option *ngFor="let t of authTypes" [value]="t">{{ t }}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container [ngSwitch]="form.get('authType').value">
      <section *ngSwitchCase="'API_KEY'" class="flex flex-row gap-2 xs:flex-col">
        <mat-form-field class="flex-1 mat-block">
          <mat-label translate>device-profile.http-pull.api-key-header</mat-label>
          <input matInput formControlName="apiKeyHeader">
        </mat-form-field>
        <mat-form-field class="flex-1 mat-block">
          <mat-label translate>device-profile.http-pull.api-key</mat-label>
          <input matInput formControlName="apiKeyValue">
        </mat-form-field>
        <mat-checkbox formControlName="apiKeyInQuery" class="flex items-center">
          {{ 'device-profile.http-pull.api-key-in-query' | translate }}
        </mat-checkbox>
      </section>
      <section *ngSwitchCase="'BASIC'" class="flex flex-row gap-2 xs:flex-col">
        <mat-form-field class="flex-1 mat-block">
          <mat-label translate>device-profile.http-pull.username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field class="flex-1 mat-block">
          <mat-label translate>device-profile.http-pull.password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </section>
      <mat-form-field *ngSwitchCase="'BEARER_STATIC'" class="mat-block">
        <mat-label translate>device-profile.http-pull.bearer-token</mat-label>
        <input matInput formControlName="bearerToken">
      </mat-form-field>
      <ng-container *ngSwitchCase="'LOGIN_TOKEN'">
        <mat-form-field class="mat-block">
          <mat-label translate>device-profile.http-pull.login-url</mat-label>
          <input matInput formControlName="loginUrl">
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-profile.http-pull.login-body</mat-label>
          <textarea matInput formControlName="loginBody" rows="2"></textarea>
        </mat-form-field>
        <mat-form-field class="mat-block">
          <mat-label translate>device-profile.http-pull.credential-json-path</mat-label>
          <input matInput formControlName="accessTokenJsonPath" placeholder="$.token">
          <mat-hint translate>device-profile.http-pull.credential-json-path-hint</mat-hint>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'OAUTH2_CLIENT_CREDENTIALS'">
        <section class="flex flex-row gap-2 xs:flex-col">
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.token-url</mat-label>
            <input matInput formControlName="tokenUrl">
          </mat-form-field>
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.client-id</mat-label>
            <input matInput formControlName="clientId">
          </mat-form-field>
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.client-secret</mat-label>
            <input matInput type="password" formControlName="clientSecret">
          </mat-form-field>
        </section>
      </ng-container>
      <ng-container *ngSwitchCase="'OAUTH2_PASSWORD'">
        <section class="flex flex-row gap-2 xs:flex-col">
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.token-url</mat-label>
            <input matInput formControlName="tokenUrl">
          </mat-form-field>
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.client-id</mat-label>
            <input matInput formControlName="clientId">
          </mat-form-field>
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.client-secret</mat-label>
            <input matInput type="password" formControlName="clientSecret">
          </mat-form-field>
        </section>
        <section class="flex flex-row gap-2 xs:flex-col">
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.username</mat-label>
            <input matInput formControlName="oauthUsername">
          </mat-form-field>
          <mat-form-field class="flex-1 mat-block">
            <mat-label translate>device-profile.http-pull.password</mat-label>
            <input matInput type="password" formControlName="oauthPassword">
          </mat-form-field>
        </section>
      </ng-container>
    </ng-container>
  </mat-expansion-panel>

  <div class="routing-help-row">
    <button type="button" mat-stroked-button color="primary"
            (click)="openRoutingExample($event)">
      {{ 'device-profile.http-pull.routing-example-btn' | translate }}
    </button>
  </div>
</form>
