<div class="jnks-iot-container">
  <label class="jnks-iot-title" *ngIf="label" [class]="{'jnks-iot-error': !disabled && (required && linkType === ImageLinkType.none), 'jnks-iot-required': !disabled && required}">{{label}}</label>
  <div class="jnks-iot-image-select-container" [class]="{disabled: disabled && (linkType === ImageLinkType.none || linkType === ImageLinkType.base64)}">
    <div class="jnks-iot-image-container">
      <img *ngIf="linkType !== ImageLinkType.none && imageUrl; else noImage" class="jnks-iot-image-preview" [src]="imageUrl | image: {preview: true} | async">
    </div>
    <div *ngIf="linkType !== ImageLinkType.none && (linkType !== ImageLinkType.base64 || !disabled)" class="jnks-iot-image-info-container">
      <div *ngIf="linkType === ImageLinkType.base64" class="jnks-iot-base64-image-container">
      </div>
      <div *ngIf="linkType === ImageLinkType.resource" class="jnks-iot-resource-image-container" [class]="{loading: loadingImageResource}">
        <ng-container *ngIf="!loadingImageResource; else loading">
          <div class="jnks-iot-resource-image-name">
            {{ imageResource.title }}
          </div>
          <div class="jnks-iot-resource-image-details">
            <div>{{ imageResource.descriptor.width }}x{{ imageResource.descriptor.height }}</div>
            <mat-divider vertical></mat-divider>
            <div>{{ imageResource.descriptor.size | fileSize }}</div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="linkType === ImageLinkType.external" class="jnks-iot-external-image-container">
        <div class="jnks-iot-external-link-label">
          {{ 'image.image-link' | translate }}
        </div>
        <div class="jnks-iot-external-link-input-container">
          <mat-form-field class="jnks-iot-inline-field" appearance="outline" subscriptSizing="dynamic">
            <input matInput [formControl]="externalLinkControl" placeholder="{{ 'widget-config.set' | translate }}">
          </mat-form-field>
          <button *ngIf="!disabled"
                  class="jnks-iot-image-clear-btn"
                  type="button"
                  mat-icon-button
                  matTooltip="{{ 'image.clear-image' | translate }}"
                  matTooltipPosition="above"
                  (click)="clearImage()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
      <button *ngIf="!disabled && linkType !== ImageLinkType.external"
              class="jnks-iot-image-clear-btn"
              type="button"
              mat-icon-button
              matTooltip="{{ 'image.clear-image' | translate }}"
              matTooltipPosition="above"
              (click)="clearImage()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="linkType === ImageLinkType.none && !disabled" class="jnks-iot-image-select-buttons-container">
      <button mat-stroked-button
              type="button"
              color="primary"
              class="jnks-iot-image-select-button"
              (click)="openGallery($event)">
        <jnks-iot-icon matButtonIcon>filter</jnks-iot-icon>
        <span translate>image.browse-from-gallery</span>
      </button>
      <button mat-stroked-button
              type="button"
              color="primary"
              class="jnks-iot-image-select-button"
              (click)="setLink($event)">
        <jnks-iot-icon matButtonIcon>link</jnks-iot-icon>
        <span translate>image.set-link</span>
      </button>
    </div>
  </div>
</div>

<ng-template #noImage>
  <div class="jnks-iot-no-image">{{ (disabled ? 'image.no-image' : 'image.no-image-selected') | translate }}</div>
</ng-template>
<ng-template #loading>
  <mat-spinner [diameter]="80" strokeWidth="4"></mat-spinner>
</ng-template>
