@import '../../../../scss/constants';

:host {
  .jnks-iot-image-dialog {
    @media #{$mat-gt-xs} {
      width: 50vh;
    }
    .mat-mdc-dialog-content {
      max-height: 100%;
    }
    fieldset {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  .jnks-iot-image-container {
    height: 100%;
    border-radius: 4px;
    border: 1px solid var(--jnks-iot-line);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    .jnks-iot-image-content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      .jnks-iot-image-preview-container {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid var(--jnks-iot-line);
        border-radius: 4px;
        background: var(--jnks-iot-surface-card);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        .jnks-iot-image-preview-spacer {
          @media #{$mat-gt-xs} {
            margin-top: 100%;
          }
        }
        .jnks-iot-image-preview {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .jnks-iot-image-preview-details {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--jnks-iot-text-faint);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        .mat-divider.mat-divider-vertical {
          height: 20px;
        }
      }
      .jnks-iot-image-actions {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        gap: 8px;
        color: var(--jnks-iot-text-muted);
      }
    }
  }
}
