<div class="jnks-iot-container">
  <label class="jnks-iot-title" *ngIf="label" [class]="{'jnks-iot-error': !disabled && (required && linkType === ScadaSymbolLinkType.none), 'jnks-iot-required': !disabled && required}">{{label}}</label>
  <div class="jnks-iot-scada-symbol-select-container" [class]="{disabled: disabled && linkType === ScadaSymbolLinkType.none}">
    <div class="jnks-iot-scada-symbol-container">
      <img *ngIf="linkType !== ScadaSymbolLinkType.none && scadaSymbolUrl; else noSymbol" class="jnks-iot-scada-symbol-preview" [src]="scadaSymbolUrl | image: {preview: true} | async">
    </div>
    <div *ngIf="linkType !== ScadaSymbolLinkType.none && !disabled" class="jnks-iot-scada-symbol-info-container">
      <div *ngIf="linkType === ScadaSymbolLinkType.resource" class="jnks-iot-resource-scada-symbol-container" [class]="{loading: loadingImageResource}">
        <ng-container *ngIf="!loadingImageResource; else loading">
          <div class="jnks-iot-scada-symbol-title">
            {{ imageResource.title | customTranslate }}
          </div>
        </ng-container>
      </div>
      <div *ngIf="linkType === ScadaSymbolLinkType.content" class="jnks-iot-resource-scada-symbol-container">
        <div class="jnks-iot-scada-symbol-title">
          {{ scadaSymbolMetadata.title | customTranslate }}
        </div>
      </div>
      <button *ngIf="linkType === ScadaSymbolLinkType.resource && !disabled"
              class="jnks-iot-scada-symbol-clear-btn"
              type="button"
              mat-icon-button
              matTooltip="{{ 'scada.clear-symbol' | translate }}"
              matTooltipPosition="above"
              (click)="clearSymbol()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div *ngIf="linkType === ScadaSymbolLinkType.none && !disabled" class="jnks-iot-scada-symbol-select-buttons-container">
      <button mat-stroked-button
              type="button"
              color="primary"
              class="jnks-iot-scada-symbol-select-button"
              (click)="openGallery($event)">
        <jnks-iot-icon matButtonIcon>filter</jnks-iot-icon>
        <span translate>scada.browse-symbol-from-gallery</span>
      </button>
    </div>
  </div>
</div>

<ng-template #noSymbol>
  <div class="jnks-iot-no-symbol">{{ (disabled ? 'scada.no-symbol' : 'scada.no-symbol-selected') | translate }}</div>
</ng-template>
<ng-template #loading>
  <mat-spinner [diameter]="80" strokeWidth="4"></mat-spinner>
</ng-template>
