<mat-tab *ngIf="entity"
         label="{{ 'attribute.attributes' | translate }}" #attributesTab="matTab">
  <jnks-iot-attribute-table [defaultAttributeScope]="attributeScopes.SERVER_SCOPE"
                      [active]="attributesTab.isActive"
                      [entityId]="entity.id"
                      [entityName]="entity.name">
  </jnks-iot-attribute-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'attribute.latest-telemetry' | translate }}" #telemetryTab="matTab">
  <jnks-iot-attribute-table [defaultAttributeScope]="latestTelemetryTypes.LATEST_TELEMETRY"
                      disableAttributeScopeSelection
                      [active]="telemetryTab.isActive"
                      [entityId]="entity.id"
                      [entityName]="entity.name">
  </jnks-iot-attribute-table>
</mat-tab>
<mat-tab *ngIf="entity"
         label="{{ 'alarm.alarms' | translate }}" #alarmsTab="matTab">
  <jnks-iot-alarm-table [active]="alarmsTab.isActive" [entityId]="entity.id"></jnks-iot-alarm-table>
</mat-tab>
