:host {
  padding: 12px 0 12px 0;

  .fieldset-element {
    cursor: pointer;
    padding: 0.5em;
    border: 1px groove var(--jnks-iot-line);
    border-radius: 4px;
    width: 100%;

    .legend-element {
      color: var(--jnks-iot-text-muted);
      font-size: 12px;
    }
  }

  .jnks-iot-rate-limits-button {
    margin-top: 0.5em;
  }
}
