@import "../../../../../../../scss/constants";

:host {
  .jnks-iot-rate-limits-form {
    @media #{$mat-gt-sm} {
      min-width: 600px;
    }
  }

  .jnks-iot-rate-limits-preview {
    margin-top: 1.5em;
    span {
      padding-left: 1em;
    }
    jnks-iot-rate-limits-text {
      border: 1px groove var(--jnks-iot-line);
      border-radius: 4px;
      padding: 1em;
    }
  }

  .jnks-iot-rate-limits-operation {
    font-size: 12px;
    color: var(--jnks-iot-text-muted);
    margin-bottom: 16px;
  }

  .jnks-iot-rate-limits-button {
    margin-top: 0.5em;
  }
}
