<ng-container [formGroup]="simpleGaugeWidgetConfigForm">
  <jnks-iot-timewindow-config-panel *ngIf="displayTimewindowConfig"
                              [onlyHistoryTimewindow]="onlyHistoryTimewindow()"
                              formControlName="timewindowConfig">
  </jnks-iot-timewindow-config-panel>
  <jnks-iot-datasources
    [configMode]="basicMode"
    hideDataKeyLabel
    hideDataKeyColor
    hideDataKeyUnits
    hideDataKeyDecimals
    formControlName="datasources">
  </jnks-iot-datasources>
  <div class="jnks-iot-form-panel">
    <div class="jnks-iot-form-panel-title" translate>widgets.gauge.gauge-appearance</div>
    <jnks-iot-image-cards-select rowHeight="1:1"
                           [cols]="{columns: 4,
                                    breakpoints: {
                                      'lt-md': 2
                                    }}"
                           label="{{ 'widgets.gauge.simple-gauge-type' | translate }}"
                           formControlName="gaugeType">
      <jnks-iot-image-cards-select-option *ngFor="let layout of digitalGaugeLayouts"
                                    [value]="layout"
                                    [image]="digitalGaugeLayoutImageMap.get(layout)">
        {{ digitalGaugeLayoutTranslationMap.get(layout) | translate }}
      </jnks-iot-image-cards-select-option>
    </jnks-iot-image-cards-select>

    <div class="jnks-iot-form-row space-between" *ngIf="simpleGaugeWidgetConfigForm.get('gaugeType').value === digitalGaugeType.donut">
      <div class="fixed-title-width">{{ 'widgets.gauge.donut-start-angle' | translate }}</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput formControlName="donutStartAngle" type="number" min="0" max="360" step="1" placeholder="{{ 'widget-config.set' | translate }}">
      </mat-form-field>
    </div>

    <div class="jnks-iot-form-row space-between column-xs">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showMinMax">
        {{ 'widgets.gauge.min-and-max-label' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-row items-center justify-start gap-2">
        <jnks-iot-font-settings formControlName="minMaxFont"
                          disabledLineHeight
                          [previewText]="previewFn">
        </jnks-iot-font-settings>
        <jnks-iot-color-input asBoxInput
                        colorClearButton
                        formControlName="minMaxColor">
        </jnks-iot-color-input>
      </div>
    </div>
    <div class="jnks-iot-form-row space-between column-xs">
      <div class="fixed-title-width">{{ 'widgets.gauge.min-and-max-value' | translate }}</div>
      <div class="flex flex-row items-center justify-start gap-2">
        <div class="jnks-iot-small-label" translate>widgets.gauge.min-value-short</div>
        <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
          <input matInput formControlName="minValue" type="number" step="1" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
        <div class="jnks-iot-small-label" translate>widgets.gauge.max-value-short</div>
        <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
          <input matInput formControlName="maxValue" type="number" step="1" placeholder="{{ 'widget-config.set' | translate }}">
          <mat-icon matSuffix
                    matTooltipPosition="above"
                    matTooltipClass="jnks-iot-error-tooltip"
                    [matTooltip]="'widgets.gauge.min-max-validation-text' | translate"
                    *ngIf="simpleGaugeWidgetConfigForm.get('maxValue').hasError('maxValue')"
                    class="material-icons jnks-iot-suffix-show-always jnks-iot-error">
            warning
          </mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="jnks-iot-form-row column-xs">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showValue">
        {{ 'widgets.gauge.value' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-1 flex-row items-center justify-start gap-2">
        <jnks-iot-unit-input
          class="flex"
          formControlName="units">
        </jnks-iot-unit-input>
        <mat-form-field appearance="outline" class="number flex" subscriptSizing="dynamic">
          <input matInput formControlName="decimals" type="number" min="0" max="15" step="1" placeholder="{{ 'widget-config.set' | translate }}">
          <div matSuffix class="lt-md:!hidden" translate>widget-config.decimals-suffix</div>
        </mat-form-field>
        <jnks-iot-font-settings formControlName="valueFont"
                          disabledLineHeight
                          [previewText]="valuePreviewFn">
        </jnks-iot-font-settings>
        <jnks-iot-color-input asBoxInput
                        colorClearButton
                        formControlName="valueColor">
        </jnks-iot-color-input>
      </div>
    </div>

    <div class="jnks-iot-form-row">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showTitle">
        {{ 'widgets.gauge.label' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-1 flex-row items-center justify-start gap-2">
        <mat-form-field class="flex" appearance="outline" subscriptSizing="dynamic">
          <input matInput formControlName="title" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
        <jnks-iot-font-settings formControlName="titleFont"
                          [previewText]="simpleGaugeWidgetConfigForm.get('title').value">
        </jnks-iot-font-settings>
        <jnks-iot-color-input formControlName="titleColor"
                        asBoxInput
                        colorClearButton>
        </jnks-iot-color-input>
      </div>
    </div>

    <div class="jnks-iot-form-row space-between">
      <div translate>widgets.gauge.gauge-bar-background</div>
      <jnks-iot-color-input asBoxInput
                      colorClearButton
                      formControlName="gaugeColor">
      </jnks-iot-color-input>
    </div>

    <div class="jnks-iot-form-row space-between">
      <div class="fixed-title-width">{{ 'widgets.gauge.bar-color' | translate }}</div>
      <jnks-iot-color-settings formControlName="barColor"
                         rangeAdvancedMode
                         gradientAdvancedMode
                         [minValue]="simpleGaugeWidgetConfigForm.get('minValue').value"
                         [maxValue]="simpleGaugeWidgetConfigForm.get('maxValue').value"
                         [aliasController]="aliasController"
                         [dataKeyCallbacks]="callbacks"
                         [datasource]="datasource"
                         settingsKey="{{'widgets.battery-level.value' | translate }}">
      </jnks-iot-color-settings>
    </div>

  </div>
  <div class="jnks-iot-form-panel">
    <div class="jnks-iot-form-panel-title" translate>widget-config.card-appearance</div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widget-config.background-color' | translate }}</div>
      <jnks-iot-color-input asBoxInput
                      colorClearButton
                      formControlName="backgroundColor">
      </jnks-iot-color-input>
    </div>
    <div class="jnks-iot-form-row space-between column-lt-md">
      <div translate>widget-config.show-card-buttons</div>
      <mat-chip-listbox multiple formControlName="cardButtons">
        <mat-chip-option value="fullscreen">{{ 'fullscreen.fullscreen' | translate }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widget-config.card-border-radius' | translate }}</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput formControlName="borderRadius" placeholder="{{ 'widget-config.set' | translate }}">
      </mat-form-field>
    </div>
  </div>
  <jnks-iot-widget-actions-panel
    formControlName="actions">
  </jnks-iot-widget-actions-panel>
</ng-container>
