<div class="jnks-iot-editor-panel">
  <div class="jnks-iot-editor-title">{{ title | translate }}</div>
  <editor class="jnks-iot-editor" [init]="tinyMceOptions" [formControl]="editorControl"></editor>
  <div class="jnks-iot-editor-buttons">
    <button mat-button
            color="primary"
            type="button"
            (click)="cancel()">
      {{ 'action.cancel' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            type="button"
            *ngIf="!disabled"
            (click)="apply()"
            [disabled]="editorControl.invalid || !editorControl.dirty">
      {{ 'action.apply' | translate }}
    </button>
  </div>
</div>
