@import "../../../../../../scss/constants";

:host {
  width: 900px;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .jnks-iot-hint {
    margin-top: -1.25em;
    padding: 0;
  }

  .fields-group {
    padding: 0 16px;
    border: 1px groove var(--jnks-iot-line);
    border-radius: 4px;

    &.jnks-iot-margin {
      margin-bottom: 12px;
    }

    &.jnks-iot-margin-before-field {
      margin-bottom: 12px;
    }

    &.jnks-iot-hierarchy {
      padding: 0 0 8px 16px;
    }

    legend {
      margin-bottom: 8px;
      color: var(--jnks-iot-text-muted);
      width: fit-content;
    }

    .mat-body-2 {
      margin-bottom: 8px;
      color: var(--jnks-iot-text);
    }

    .clear-button-space {
      margin-right: 48px;
    }

    .mat-mdc-slide-toggle {
      margin-bottom: 16px;
    }
  }

  .limit-slider-container {
    .limit-slider-value {
      margin-left: 16px;
      min-width: 25px;
      max-width: 100px;
    }
    mat-form-field input[type=number] {
      text-align: center;
    }
  }

  @media #{$mat-gt-sm} {
    .history-time-input {
      min-width: 364px;
    }
    .limit-slider-container {
      > label {
        margin-right: 16px;
        width: min-content;
        max-width: 40%;
      }
    }
  }

  ::ng-deep {

    .mat-mdc-dialog-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 0 !important;
      color: var(--jnks-iot-text);

      .mat-stepper-horizontal {
        display: flex;
        height: 100%;
        overflow: hidden;

        .mat-horizontal-stepper-wrapper {
          flex: 1 1 100%;
        }

        .mat-horizontal-content-container {
          height: 700px;
          max-height: 100%;
          width: 100%;;
          overflow-y: auto;
          scrollbar-gutter: stable;
          @media #{$mat-gt-sm} {
            min-width: 500px;
          }
        }
      }
    }
  }
}
