<div class="flex flex-full flex-row items-center justify-start">
  <jnks-iot-toggle-select class="w-44" appearance="fill"
                    [ngModel]="entitiesTableConfig.componentsData.unreadOnly"
                    (ngModelChange)="changeUnreadOnly($event)">
    <jnks-iot-toggle-option [value]=true>{{ 'notification.unread' | translate }}</jnks-iot-toggle-option>
    <jnks-iot-toggle-option [value]=false>{{ 'notification.all' | translate }}</jnks-iot-toggle-option>
  </jnks-iot-toggle-select>
</div>
