<section [formGroup]="deviceAttributesConfigForm" class="jnks-iot-form-panel no-padding no-border">
  <div class="jnks-iot-form-panel stroked no-padding-bottom">
    <div class="jnks-iot-form-panel-title" translate>rule-node-config.device-relations-query</div>
    <jnks-iot-device-relations-query-config
      required
      formControlName="deviceRelationsQuery">
    </jnks-iot-device-relations-query-config>
  </div>
  <div class="jnks-iot-form-panel stroked">
    <div class="jnks-iot-form-row no-padding no-border space-between">
      <div class="jnks-iot-form-panel-title jnks-iot-required" translate>rule-node-config.related-device-attributes</div>
      <div class="jnks-iot-form-panel-hint jnks-iot-error" translate
           [hidden]="!(deviceAttributesConfigForm.get('attributesControl').touched &&
                        deviceAttributesConfigForm.get('attributesControl').hasError('atLeastOneRequired'))">
        rule-node-config.at-least-one-field-required
      </div>
    </div>
    <jnks-iot-select-attributes formControlName="attributesControl"
                          popupHelpLink="rulenode/related_device_attributes_node_fields_templatization"></jnks-iot-select-attributes>
    <jnks-iot-msg-metadata-chip formControlName="fetchTo"
                          [labelText]="'rule-node-config.add-selected-attributes-to' | translate"></jnks-iot-msg-metadata-chip>
  </div>
  <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.tell-failure-tooltip' | translate }}"
       class="jnks-iot-form-row same-padding">
    <mat-slide-toggle class="mat-slide margin" formControlName="tellFailureIfAbsent">
      {{ 'rule-node-config.tell-failure' | translate }}
    </mat-slide-toggle>
  </div>
</section>
