<section [formGroup]="originatorFieldsConfigForm" class="jnks-iot-form-panel no-padding no-border">
  <jnks-iot-sv-map-config
    required
    [selectOptions]="originatorFields"
    targetKeyPrefix="originator"
    formControlName="dataMapping"
    [requiredText]="'rule-node-config.attr-mapping-required' | translate"
    [labelText]="'rule-node-config.originator-fields-mapping' | translate"
    [selectText]="'rule-node-config.source-field' | translate"
    [selectRequiredText]="'rule-node-config.source-field-required' | translate"
    [valText]="'rule-node-config.target-key' | translate"
    [valRequiredText]="'rule-node-config.target-key-required' | translate"
    [hintText]="'rule-node-config.originator-fields-sv-map-hint' | translate"
    popupHelpLink="rulenode/originator_fields_node_fields_templatization">
  </jnks-iot-sv-map-config>
  <jnks-iot-msg-metadata-chip [labelText]="'rule-node-config.add-mapped-originator-fields-to' | translate"
                        formControlName="fetchTo">
  </jnks-iot-msg-metadata-chip>
  <div jnks-iot-hint-tooltip-icon="{{ 'rule-node-config.skip-empty-fields-tooltip' | translate }}" class="jnks-iot-form-row same-padding">
    <mat-slide-toggle class="mat-slide margin" formControlName="ignoreNullStrings">
      {{ 'rule-node-config.skip-empty-fields' | translate }}
    </mat-slide-toggle>
  </div>
</section>
