:host {
  section.jnks-iot-footer-fab-buttons {
    &:not(.relative-buttons) {
      position: fixed;
      right: 20px;
      bottom: 20px;
      z-index: 30;
      pointer-events: none;
    }

    .fab-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        button {
          margin-bottom: 17px;
        }
      }
    }

    .jnks-iot-btn-footer {
      &.fab-toggler {
        margin-top: 0;
      }
      position: relative !important;
      animation: jnksIotMoveFromBottomFade .3s ease both;

      &.jnks-iot-hide {
        animation: jnksIotMoveToBottomFade .3s ease both;
      }
    }
  }
}
