@import '../../../scss/constants';

.jnks-iot-js-func-modules-panel {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media #{$mat-lt-md} {
    width: 90vw;
  }
  .jnks-iot-js-func-modules-panel-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    margin: -10px;
    padding: 10px;
  }
  .jnks-iot-js-func-modules-panel-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: var(--jnks-iot-text);
  }
  .jnks-iot-js-func-modules-panel-buttons {
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .jnks-iot-js-func-modules {
    flex: 1;
    margin: 12px;
    .jnks-iot-form-table-header-cell {
      &.jnks-iot-alias-header {
        flex: 1 1 25%;
      }
      &.jnks-iot-module-link-header {
        flex: 1 1 75%;
      }
      &.jnks-iot-actions-header {
        width: 120px;
        min-width: 120px;
      }
    }
    .jnks-iot-form-table {
      overflow: hidden;
    }
    .jnks-iot-form-table-body {
      overflow: auto;
      jnks-iot-js-func-module-row {
        overflow: hidden;
      }
    }
  }
}
