.jnks-iot-js-func {
  position: relative;

  &.jnks-iot-disabled {
    color: rgba(0, 0, 0, .38);
  }

  &.fill-height {
    height: 100%;
  }

  &:not(.jnks-iot-hide-brackets) {
    .jnks-iot-js-func-panel {
      margin-left: 15px;
    }
  }

  &.jnks-iot-hide-brackets {
    .jnks-iot-js-func-panel {
      height: calc(100% - 40px);
    }
  }

  .jnks-iot-js-func-panel {
    height: calc(100% - 80px);
    border: 1px solid #c0c0c0;

    #jnks-iot-javascript-input {
      width: 100%;
      min-width: 200px;
      height: 100%;
    }
  }

  &:not(.jnks-iot-fullscreen) {
    &.jnks-iot-hide-brackets {
      padding-bottom: 15px;
    }
  }

  .jnks-iot-js-func-toolbar {
    & > * {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-mdc-button-base, button.mat-mdc-button-base.jnks-iot-mat-32 {
      background: rgba(220, 220, 220, .35);
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      font-size: .8rem;
      line-height: 15px;
      &:not(.jnks-iot-help-popup-button) {
        color: #7b7b7b;
      }
    }
    button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
      height: 23px;
    }
    .jnks-iot-help-popup-button-loading {
      background: #f3f3f3;
    }
  }

  .ace_tb {
    &.ace_tbel-utils-func {
      color: rgb(49, 132, 149);
    }
  }

  label.jnks-iot-title.jnks-iot-required::after {
    content: "*";
  }
}
