.jnks-iot-json-content {
  position: relative;

  &.fill-height {
    height: 100%;
  }

  &:not(.jnks-iot-fullscreen) {
    padding-bottom: 15px;
  }

  .jnks-iot-json-content-toolbar {
    button.mat-mdc-button-base, button.mat-mdc-button-base.jnks-iot-mat-32 {
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      margin: 0;
      font-size: .8rem;
      line-height: 15px;
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
      height: 23px;
    }
  }

  .jnks-iot-json-content-panel {
    height: 100%;

    #jnks-iot-json-input {
      width: 100%;
      min-width: 200px;
      height: 100%;

      &:not(.fill-height) {
        min-height: 200px;
      }
    }
  }
}
