<div class="jnks-iot-json-content flex flex-col" style="background: #fff;" [class]="{'fill-height': fillHeight}"
     jnks-iot-fullscreen
     [fullscreen]="fullscreen" (fullscreenChanged)="onFullscreen()">
  <div style="height: 40px;" class="jnks-iot-json-content-toolbar flex flex-row items-center justify-start" *ngIf="!hideToolbar">
    <label class="jnks-iot-title no-padding" [class]="{'jnks-iot-error': !disabled && (!contentValid || required && !contentBody), 'jnks-iot-required': !disabled && required}">{{ label }}</label>
    <span class="flex-1"></span>
    <button type="button"
            mat-button *ngIf="!readonly && !disabled" class="tidy" (click)="beautifyJSON()">
      {{'js-func.tidy' | translate }}
    </button>
    <button type="button"
            mat-button *ngIf="!readonly && !disabled" class="tidy" (click)="minifyJSON()">
      {{'js-func.mini' | translate }}
    </button>
    <fieldset style="width: initial">
      <div matTooltip="{{(fullscreen ? 'fullscreen.exit' : 'fullscreen.expand') | translate}}"
           matTooltipPosition="above"
           style="border-radius: 50%"
           (click)="fullscreen = !fullscreen">
        <button type='button' mat-icon-button class="jnks-iot-mat-32">
          <mat-icon class="material-icons">{{ fullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </fieldset>
  </div>
  <div id="jnks-iot-json-panel" jnks-iot-toast toastTarget="{{toastTargetId}}"
       class="jnks-iot-json-content-panel flex flex-col">
    <div #jsonEditor id="jnks-iot-json-input" [style]="editorStyle" [class.fill-height]="fillHeight"></div>
  </div>
</div>
