:host {
  .jnks-iot-kv-map {
    span.no-data-found {
      position: relative;
      display: flex;
      height: 40px;

      &.disabled {
        color: var(--jnks-iot-text-faint);
      }
    }
  }
}
