.markdown-content {
  min-width: 300px;
  &.jnks-iot-edit-mode {
    .jnks-iot-markdown-view-container {
    }
    .jnks-iot-markdown-view {
      padding: 20px;
    }
    &:not(.jnks-iot-fullscreen) {
      padding-bottom: 15px;
      .markdown-content-editor {
        min-height: 200px;
        max-height: 200px;
        height: 200px;
      }
      .jnks-iot-markdown-view-container {
        min-height: 200px;
        max-height: 200px;
        height: 200px;
      }
    }
  }
  &.jnks-iot-fullscreen {
    background: var(--jnks-iot-surface-card);
    .markdown-content-editor {
      height: calc(100% - 40px);
    }
  }
  .markdown-content-editor {
    position: relative;
    height: 100%;
  }
  .jnks-iot-markdown-editor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .jnks-iot-markdown-view-container {
    overflow: auto;
    height: 100%;
  }

  .markdown-editor-toolbar {
    & > * {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-mdc-button-base, button.mat-mdc-button-base.jnks-iot-mat-32 {
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      font-size: .8rem;
      line-height: 15px;
      &:not(.jnks-iot-help-popup-button) {
      }
    }
    button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
      height: 23px;
    }
    .jnks-iot-help-popup-button-loading {
      background: #f3f3f3;
    }
  }
}
