<div *ngIf="!asBoxInput; else boxInput"  class="flex flex-row" [formGroup]="materialIconFormGroup">
  <jnks-iot-icon class="icon-value" [style]="color ? { color: color } : {}" (click)="openIconDialog()">{{materialIconFormGroup.get('icon').value}}</jnks-iot-icon>
  <mat-form-field class="flex-1">
    <mat-label>{{ label }}</mat-label>
    <input [required]="required" matInput formControlName="icon" (mousedown)="openIconDialog()">
    <button *ngIf="iconClearButton"
            type="button"
            matSuffix mat-icon-button aria-label="Clear"
            (click)="clear()">
      <jnks-iot-icon>close</jnks-iot-icon>
    </button>
  </mat-form-field>
</div>
<ng-template #boxInput>
  <button type="button"
          mat-stroked-button
          class="jnks-iot-box-button"
          [style.color]="color && !disabled ? color : ''"
          [style.background-color]="backgroundColor && !disabled ? backgroundColor : ''"
          [disabled]="disabled"
          #matButton
          (click)="openIconPopup($event, matButton)">
    <jnks-iot-icon matButtonIcon>{{materialIconFormGroup.get('icon').value}}</jnks-iot-icon>
  </button>
</ng-template>
