<mat-form-field [appearance]="appearance" [class]="additionalClass"
                [subscriptSizing]="subscriptSizing" style="width: 100%">
  <mat-label *ngIf="label">{{label}}</mat-label>
  <input matInput #nameInput [formControl]="selectionFormControl"
         [placeholder]="placeholderText"
         (focusin)="onFocus()"
         [matAutocomplete]="optionsAutocomplete">
  <button *ngIf="selectionFormControl.value && !disabled"
          type="button"
          class="jnks-iot-icon-24 mr-2"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="clear()">
    <mat-icon class="material-icons">close</mat-icon>
  </button>
  <mat-icon *ngIf="selectionFormControl.hasError('required') && !showInlineError"
            matIconSuffix
            [matTooltip]="errorText"
            matTooltipPosition="above"
            [matTooltipClass]="tooltipClass"
            class="material-icons jnks-iot-suffix-show-always jnks-iot-error">
    warning
  </mat-icon>
  <mat-error *ngIf="selectionFormControl.hasError('required') && showInlineError">
    {{errorText}}
  </mat-error>
  <mat-autocomplete
    #optionsAutocomplete="matAutocomplete"
    class="jnks-iot-autocomplete jnks-iot-options-input-autocomplete"
    panelWidth="fit-content">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
      <span class="jnks-iot-option-name flex-1" [innerHTML]="option | highlight:searchText:true:'ig'"></span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
