.jnks-iot-svg-xml {
  position: relative;

  &.jnks-iot-disabled {
    color: var(--jnks-iot-text-faint);
  }

  &.fill-height {
    height: 100%;
  }

  &.no-label {
    .jnks-iot-svg-xml-content-panel {
      height: 100%;
    }
    .jnks-iot-svg-xml-toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      pointer-events: none;
      button {
        pointer-events: auto;
      }
    }
  }

  .jnks-iot-svg-xml-content-panel {
    height: calc(100% - 40px);

    #jnks-iot-svg-xml-input {
      width: 100%;
      min-width: 200px;
      height: 100%;
    }
  }

  &:not(.jnks-iot-fullscreen) {
    padding-bottom: 15px;
  }

  .jnks-iot-svg-xml-toolbar {
    & > * {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
    button.mat-mdc-button-base, button.mat-mdc-button-base.jnks-iot-mat-32 {
      align-items: center;
      vertical-align: middle;
      min-width: 32px;
      min-height: 15px;
      padding: 4px;
      font-size: .8rem;
      line-height: 15px;
      &:not(.jnks-iot-help-popup-button) {
      }
    }
    button.mat-mdc-button-base:not(.mat-mdc-icon-button) {
      height: 23px;
    }
    .jnks-iot-help-popup-button-loading {
      background: #f3f3f3;
    }
  }
}
