@import '../../../../../../../../scss/constants';

.jnks-iot-data-keys-panel {
  .jnks-iot-form-table-header-cell {
    &.jnks-iot-source-header {
      width: 108px;
      min-width: 108px;
    }

    &.jnks-iot-key-header {
      flex: 1;
      min-width: 150px;
      @media #{$mat-gt-sm} {
        flex: 1 1 60%;
      }
    }

    &.jnks-iot-label-header {
      flex: 1 1 40%;
      min-width: 100px;
    }

    &.jnks-iot-units-header {
      width: 80px;
      min-width: 80px;
    }

    &.jnks-iot-color-header {
      width: 40px;
      min-width: 40px;
    }

    &.jnks-iot-decimals-header {
      width: 60px;
      min-width: 60px;
    }

    &.jnks-iot-y-axis-header {
      width: 100px;
      min-width: 100px;
    }

    &.jnks-iot-time-series-type-header {
      width: 60px;
      min-width: 60px;
    }

    &.jnks-iot-actions-header {
      width: 40px;
      min-width: 40px;
      @media #{$mat-gt-md} {
        width: 120px;
        min-width: 120px;
      }
    }

    &.jnks-iot-label-header, &.jnks-iot-units-header, &.jnks-iot-color-header, &.jnks-iot-decimals-header {
      display: none;
      @media #{$mat-gt-sm} {
        display: block;
      }
    }

    &.jnks-iot-y-axis-header {
      @media #{$mat-md} {
        display: none;
      }
    }

    &.jnks-iot-time-series-type-header {
      @media #{$mat-xs} {
        display: none;
      }
      @media #{$mat-md} {
        display: none;
      }
    }
  }

  .jnks-iot-form-table-body {
    jnks-iot-data-key-row {
      overflow: hidden;
    }
  }
}
