<div [formGroup]="keyRowFormGroup" class="jnks-iot-form-table-row jnks-iot-data-key-row" [class]="{'jnks-iot-single-row': singleRow}">
  <mat-form-field *ngIf="hasAdditionalLatestDataKeys" class="jnks-iot-inline-field jnks-iot-source-field" appearance="outline" subscriptSizing="dynamic">
    <mat-select formControlName="latest">
      <mat-option [value]="false">{{ 'datakey.timeseries' | translate }}</mat-option>
      <mat-option [value]="true">{{ 'datakey.latest' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>
  <jnks-iot-data-key-input
    [required]="required"
    [widgetType]="widgetType"
    [datasourceType]="datasourceType"
    [entityAliasId]="entityAliasId"
    [deviceId]="deviceId"
    [dataKeyType]="dataKeyType"
    [isLatestDataKeys]="isLatestDataKeys"
    [callbacks]="callbacks"
    [generateKey]="generateDataKey"
    (keyEdit)="editKey()"
    [formControl]="keyFormControl">
  </jnks-iot-data-key-input>
  <mat-form-field *ngIf="!hideDataKeyLabel" class="jnks-iot-inline-field jnks-iot-label-field" appearance="outline" subscriptSizing="dynamic">
    <input matInput formControlName="label" placeholder="{{ 'widget-config.set' | translate }}">
  </mat-form-field>
  <div *ngIf="timeSeriesChart && showTimeSeriesType" class="jnks-iot-time-series-type-field">
    <mat-form-field *ngIf="displayUnitsOrDigits" class="jnks-iot-inline-field fixed-height" appearance="outline" subscriptSizing="dynamic">
      <mat-select formControlName="timeSeriesType" panelClass="jnks-iot-time-series-type-field">
        <mat-select-trigger>
          <jnks-iot-icon *ngIf="keyRowFormGroup.get('timeSeriesType').value">
            {{ timeSeriesChartSeriesTypeIcons.get(keyRowFormGroup.get('timeSeriesType').value) }}
          </jnks-iot-icon>
        </mat-select-trigger>
        <mat-option *ngFor="let type of timeSeriesChartSeriesTypes" [value]="type" class="flex">
          <jnks-iot-icon>{{ timeSeriesChartSeriesTypeIcons.get(type) }}</jnks-iot-icon>
          <span>{{ timeSeriesChartSeriesTypeTranslations.get(type) | translate }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="timeSeriesChart" class="jnks-iot-y-axis-field">
    <mat-form-field *ngIf="displayUnitsOrDigits" class="jnks-iot-inline-field fixed-height" appearance="outline" subscriptSizing="dynamic">
      <mat-select formControlName="yAxis">
        <mat-option *ngFor="let yAxis of yAxisIds" [value]="yAxis">
          {{ yAxis }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!hideDataKeyColor" class="jnks-iot-color-field">
    <jnks-iot-color-input asBoxInput
                    formControlName="color">
    </jnks-iot-color-input>
  </div>
  <div *ngIf="!hideUnits && !hideDataKeyUnits && (!singleRow || displayUnitsOrDigits)" class="jnks-iot-units-field">
    <jnks-iot-unit-input *ngIf="displayUnitsOrDigits"
      formControlName="units">
    </jnks-iot-unit-input>
  </div>
  <div *ngIf="!hideDecimals && !hideDataKeyDecimals && (!singleRow || displayUnitsOrDigits)" class="jnks-iot-decimals-field">
    <mat-form-field *ngIf="displayUnitsOrDigits" appearance="outline" class="jnks-iot-inline-field number" subscriptSizing="dynamic">
      <input matInput formControlName="decimals" type="number" min="0" max="15" step="1" placeholder="{{ 'widget-config.set' | translate }}">
      <div *ngIf="singleRow" matSuffix class="lt-md:!hidden" translate>widget-config.decimals-suffix</div>
    </mat-form-field>
  </div>
  <div *ngIf="!singleRow" class="jnks-iot-form-table-row-cell-buttons">
    <div class="jnks-iot-settings-button lt-lg:!hidden">
      <button *ngIf="modelValue"
              type="button"
              mat-icon-button
              (click)="editKey(true)"
              [matTooltip]="keySettingsTitle"
              matTooltipPosition="above">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <button type="button"
            mat-icon-button
            (click)="keyRemoved.emit()"
            [matTooltip]="removeKeyTitle"
            matTooltipPosition="above">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
