@import '../../../../../../../../scss/constants';

.jnks-iot-data-key-row {

  .jnks-iot-source-field {
    width: 108px;
    min-width: 108px;
  }

  .jnks-iot-data-key-input {
    flex: 1;
    min-width: 150px;
    @media #{$mat-gt-sm} {
      flex: 1 1 60%;
    }
  }

  .jnks-iot-label-field {
    flex: 1 1 40%;
    min-width: 100px;
  }

  .jnks-iot-color-field, .jnks-iot-units-field, .jnks-iot-decimals-field, .jnks-iot-time-series-type-field {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
  }

  .jnks-iot-units-field {
    width: 80px;
    min-width: 80px;
  }

  .jnks-iot-color-field {
    width: 40px;
    min-width: 40px;
  }

  .jnks-iot-decimals-field {
    width: 60px;
    min-width: 60px;
  }

  .jnks-iot-y-axis-field {
    width: 100px;
    min-width: 100px;
    .mat-mdc-form-field {
      width: 100%;
    }
  }

  .jnks-iot-time-series-type-field {
    width: 60px;
    min-width: 60px;
    .mat-icon {
      color: rgba(0,0,0,0.76);
    }
  }

  .jnks-iot-label-field, .jnks-iot-units-field, .jnks-iot-color-field, .jnks-iot-decimals-field {
    display: none;
    @media #{$mat-gt-sm} {
      display: flex;
    }
  }

  .jnks-iot-y-axis-field {
    @media #{$mat-md} {
      display: none;
    }
  }

  .jnks-iot-time-series-type-field {
    @media #{$mat-xs} {
      display: none;
    }
    @media #{$mat-md} {
      display: none;
    }
  }

  .jnks-iot-settings-button {
    width: 40px;
    min-width: 40px;
  }

  &.jnks-iot-single-row {
    padding: 0;
    .jnks-iot-units-field, .jnks-iot-decimals-field {
      min-width: 0;
      width: auto;
    }
    .jnks-iot-units-field {
      jnks-iot-unit-input {
        width: auto;
        max-width: 140px;
      }
    }
    .jnks-iot-decimals-field {
      .mat-mdc-form-field {
        width: auto;
        max-width: 140px;
      }
    }
  }
}

.jnks-iot-time-series-type-field {
  .mat-mdc-option:not(.mdc-list-item--selected) {
    .mat-icon {
      color: rgba(0,0,0,0.54);
    }
  }
}
