.jnks-iot-scada-symbol-metadata-tag-row {
  .jnks-iot-tag-field {
    flex: 1 1 70%;
  }
  .jnks-iot-state-render-function-field {
    flex: 1 1 15%;
  }
  .jnks-iot-on-click-action-field {
    flex: 1 1 15%;
  }
  .jnks-iot-state-render-function-field, .jnks-iot-on-click-action-field {
    display: flex;
    justify-content: flex-end;
    .mdc-button {
      .mat-mdc-button-touch-target {
        height: 36px;
      }
    }
  }
}
