<div class="jnks-iot-form-panel jnks-iot-scada-symbol-metadata-tags">
  <div class="jnks-iot-form-table">
    <div class="jnks-iot-form-table-header">
      <div class="jnks-iot-form-table-header-cell jnks-iot-tag-header" translate>scada.tag.tag</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-state-render-function-header" translate>scada.state-render-function</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-on-click-action-header" translate>scada.tag.on-click-action</div>
    </div>
    <div *ngIf="tagsFormArray().controls.length; else noTags" class="jnks-iot-form-table-body">
      <div *ngFor="let tagControl of tagsFormArray().controls; trackBy: trackByTag; let $index = index; let $last = last">
        <jnks-iot-scada-symbol-metadata-tag class="flex-1"
                                      [elementStateRenderFunctionCompleter]="elementStateRenderFunctionCompleter"
                                      [clickActionFunctionCompleter]="clickActionFunctionCompleter"
                                      [formControl]="tagControl">
        </jnks-iot-scada-symbol-metadata-tag>
        <mat-divider *ngIf="!$last"></mat-divider>
      </div>
    </div>
  </div>
</div>
<ng-template #noTags>
  <span class="jnks-iot-prompt flex items-center justify-center">{{ 'scada.tag.no-tags' | translate }}</span>
</ng-template>
