.jnks-iot-scada-symbol-behaviors {
  flex: 1;
  margin: 12px;
  .jnks-iot-form-table-header-cell {
    &.jnks-iot-id-header {
      flex: 1 1 40%;
    }
    &.jnks-iot-name-header {
      flex: 1 1 40%;
    }
    &.jnks-iot-type-header {
      flex: 1 1 20%;
    }
    &.jnks-iot-actions-header {
      width: 120px;
      min-width: 120px;
      &.disabled {
        width: 40px;
        min-width: 40px;
      }
    }
  }
  .jnks-iot-form-table {
    overflow: hidden;
  }
  .jnks-iot-form-table-body {
    overflow: auto;
    jnks-iot-scada-symbol-metadata-behavior-row {
      overflow: hidden;
    }
  }
}
