.jnks-iot-scada-symbol-metadata-tags {
  flex: 1;
  margin: 12px;
  .jnks-iot-form-table-header-cell {
    &.jnks-iot-tag-header {
      flex: 1 1 70%;
    }
    &.jnks-iot-state-render-function-header {
      flex: 1 1 15%;
    }
    &.jnks-iot-on-click-action-header {
      flex: 1 1 15%;
    }
    &.jnks-iot-state-render-function-header, &.jnks-iot-on-click-action-header {
      display: flex;
      justify-content: flex-end;
    }
  }
  .jnks-iot-form-table {
    overflow: hidden;
  }
  .jnks-iot-form-table-body {
    overflow: auto;
    jnks-iot-scada-symbol-metadata-tag  {
      overflow: hidden;
    }
    .mat-divider {
      margin-top: 8px;
    }
  }
}
