<section [formGroup]="renameKeysConfigForm" class="jnks-iot-form-panel stroked">
  <div class="jnks-iot-form-panel-title" translate>rule-node-config.rename-keys-in</div>
  <div class="fx-centered">
    <div class="fetch-to-data-toggle">
      <jnks-iot-toggle-select class="fetch-to-data-toggle" formControlName="renameIn" appearance="fill">
        <jnks-iot-toggle-option *ngFor="let data of renameIn" [value]="data.value">
          {{ data.name }}
        </jnks-iot-toggle-option>
      </jnks-iot-toggle-select>
    </div>
  </div>
  <jnks-iot-kv-map-config
    required
    labelText="{{ translation.get(renameKeysConfigForm.get('renameIn').value) | translate }} {{'rule-node-config.keys-mapping' | translate}}"
    formControlName="renameKeysMapping"
    uniqueKeyValuePairValidator
    requiredText="{{'rule-node-config.attr-mapping-required' | translate}}"
    keyText="{{'rule-node-config.current-key-name' | translate}}"
    keyRequiredText="{{'rule-node-config.key-name-required' | translate}}"
    valText="{{'rule-node-config.new-key-name' | translate}}"
    valRequiredText="{{'rule-node-config.new-key-name-required' | translate}}">
  </jnks-iot-kv-map-config>
</section>
