@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  .jnks-iot-request-password-reset-content {
    background-color: #eee;
    .jnks-iot-request-password-reset-card {
      @media #{$mat-gt-xs} {
        width: 450px !important;
      }
    }
  }
}
