@import '../../../../../scss/constants';

:host {
  display: flex;
  flex: 1 1 0;
  .jnks-iot-reset-password-content {
    background-color: #eee;
    .jnks-iot-reset-password-card {
      @media #{$mat-gt-sm} {
        width: 450px !important;
      }
    }

    .jnks-iot-card-title{
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
