<div [formGroup]="keyRowFormGroup" class="jnks-iot-form-table-row jnks-iot-comparison-key-row">
  <mat-checkbox class="jnks-iot-show-field" formControlName="showValuesForComparison"></mat-checkbox>
  <jnks-iot-data-key-input
      [editable]="false"
      [removable]="false"
      [datasourceType]="datasourceType"
      [formControl]="keyFormControl">
  </jnks-iot-data-key-input>
  <div class="jnks-iot-label-field">
    <mat-form-field class="jnks-iot-inline-field" appearance="outline" subscriptSizing="dynamic">
      <input matInput formControlName="comparisonValuesLabel" placeholder="{{ 'widgets.time-series-chart.comparison.comparison-values-label-auto' | translate }}">
    </mat-form-field>
  </div>
  <div class="jnks-iot-color-field">
    <jnks-iot-color-input asBoxInput
                    colorClearButton
                    formControlName="color">
    </jnks-iot-color-input>
  </div>
</div>
