@import '../../../../../../../../scss/constants';

.jnks-iot-comparison-keys-table {
  .jnks-iot-form-table-header-cell {

    &.jnks-iot-show-header {
      width: 40px;
      min-width: 40px;
    }

    &.jnks-iot-key-header {
      flex: 1;
      @media #{$mat-gt-xs} {
        min-width: 100px;
        flex: 1 1 40%;
      }
    }

    &.jnks-iot-label-header {
      flex: 1;
      @media #{$mat-gt-xs} {
        min-width: 150px;
        flex: 1 1 60%;
      }
    }

    &.jnks-iot-color-header {
      width: 40px;
      min-width: 40px;
    }
  }

  .jnks-iot-form-table-body {
    jnks-iot-comparison-key-row {
      overflow: hidden;
    }
  }
}
