<div class="jnks-iot-comparison-keys-table jnks-iot-form-table">
  <div class="jnks-iot-form-table-header">
    <div class="jnks-iot-form-table-header-cell jnks-iot-show-header" translate>widgets.time-series-chart.comparison.show</div>
    <div class="jnks-iot-form-table-header-cell jnks-iot-key-header" translate>datakey.key</div>
    <div class="jnks-iot-form-table-header-cell jnks-iot-label-header" translate>datakey.label</div>
    <div class="jnks-iot-form-table-header-cell jnks-iot-color-header" translate>datakey.color</div>
  </div>
  <div *ngIf="keysFormArray().controls.length; else noKeys" class="jnks-iot-form-table-body">
    <div *ngFor="let keyControl of keysFormArray().controls; trackBy: trackByKey; let $index = index;">
      <jnks-iot-comparison-key-row
          class="flex-1"
          [datasourceType]="datasourceType"
          [formControl]="keyControl">
      </jnks-iot-comparison-key-row>
    </div>
  </div>
</div>
<ng-template #noKeys>
  <span class="jnks-iot-prompt flex items-center justify-center">{{ 'widgets.chart.no-series' | translate }}</span>
</ng-template>
