@import '../../../../../../../../scss/constants';

.jnks-iot-comparison-key-row {
  .jnks-iot-show-field {
    width: 40px;
    min-width: 40px;
  }

  .jnks-iot-data-key-input {
    flex: 1;
    @media #{$mat-gt-xs} {
      min-width: 100px;
      flex: 1 1 40%;
    }
  }

  .jnks-iot-label-field, .jnks-iot-color-field {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    .jnks-iot-inline-field {
      flex: 1;
    }
  }

  .jnks-iot-label-field {
    flex: 1;
    @media #{$mat-gt-xs} {
      min-width: 150px;
      flex: 1 1 60%;
    }
  }

  .jnks-iot-color-field {
    width: 40px;
    min-width: 40px;
  }
}
