<div [formGroup]="deviceTransportConfigurationFormGroup">
  <div [ngSwitch]="activeTransportType">
    <ng-template [ngSwitchCase]="deviceTransportType.DEFAULT">
      <jnks-iot-default-device-transport-configuration
        [required]="required"
        formControlName="configuration">
      </jnks-iot-default-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="basicTransportType.MQTT">
      <ng-container *ngIf="mqttPullProfileActive; else mqttPassiveDeviceTransport">
        <jnks-iot-mqtt-pull-device-transport-configuration
          formControlName="configuration">
        </jnks-iot-mqtt-pull-device-transport-configuration>
      </ng-container>
      <ng-template #mqttPassiveDeviceTransport>
        <jnks-iot-mqtt-device-transport-configuration
          [required]="required"
          formControlName="configuration">
        </jnks-iot-mqtt-device-transport-configuration>
      </ng-template>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.LWM2M">
      <jnks-iot-lwm2m-device-transport-configuration
        [required]="required"
        formControlName="configuration">
      </jnks-iot-lwm2m-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.COAP">
      <jnks-iot-coap-device-transport-configuration
        [required]="required"
        formControlName="configuration">
      </jnks-iot-coap-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.SNMP">
      <jnks-iot-snmp-device-transport-configuration
        [required]="required"
        formControlName="configuration">
      </jnks-iot-snmp-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="basicTransportType.HTTP">
      <ng-container *ngIf="httpPullProfilePollUrl; else httpPassiveDeviceTransport">
        <jnks-iot-http-pull-device-transport-configuration
          [httpPullProfilePollUrl]="httpPullProfilePollUrl"
          formControlName="configuration">
        </jnks-iot-http-pull-device-transport-configuration>
      </ng-container>
      <ng-template #httpPassiveDeviceTransport>
        <jnks-iot-http-passive-device-transport-configuration
          [httpPushRoutingMode]="httpPushRoutingMode"
          formControlName="configuration">
        </jnks-iot-http-passive-device-transport-configuration>
      </ng-template>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.HTTP_PULL">
      <jnks-iot-http-pull-device-transport-configuration
        [httpPullProfilePollUrl]="httpPullProfilePollUrl"
        formControlName="configuration">
      </jnks-iot-http-pull-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.MQTT_PULL">
      <jnks-iot-mqtt-pull-device-transport-configuration
        formControlName="configuration">
      </jnks-iot-mqtt-pull-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.TCP">
      <jnks-iot-tcp-device-transport-configuration
        [required]="required"
        [tcpWireAuthenticationMode]="tcpWireAuthenticationMode"
        [tcpProfileTransportConnectMode]="tcpProfileTransportConnectMode"
        formControlName="configuration">
      </jnks-iot-tcp-device-transport-configuration>
    </ng-template>
    <ng-template [ngSwitchCase]="deviceTransportType.UDP">
      <jnks-iot-udp-device-transport-configuration
        [required]="required"
        [udpWireAuthenticationMode]="udpWireAuthenticationMode"
        formControlName="configuration">
      </jnks-iot-udp-device-transport-configuration>
    </ng-template>
  </div>
</div>
