<form [formGroup]="tcpDeviceTransportConfigurationFormGroup" class="flex flex-col gap-2 pb-4">
    <div class="tb-hint" *ngIf="showUdpDeviceHint" translate>device-profile.udp.device-hint</div>
    <mat-form-field class="mat-block" *ngIf="showUdpSourceHostField">
      <mat-label translate>device-profile.udp.source-host</mat-label>
      <input matInput formControlName="sourceHost">
      <mat-hint translate>device-profile.udp.source-host-hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="mat-block" *ngIf="showUdpWireAuthPayloadDeviceId">
      <mat-label translate>device-profile.udp.payload-device-id</mat-label>
      <input matInput formControlName="udpWireAuthPayloadDeviceId" required>
      <mat-hint translate>device-profile.udp.payload-device-id-hint</mat-hint>
      <mat-error *ngIf="tcpDeviceTransportConfigurationFormGroup.get('udpWireAuthPayloadDeviceId').hasError('required')"
                 translate>device-profile.udp.payload-device-id-required</mat-error>
    </mat-form-field>
  </form>
