<div class="jnks-iot-form-panel jnks-iot-aggregated-data-keys-panel">
  <div class="jnks-iot-form-panel-title">{{ 'widgets.aggregated-value-card.values' | translate }}</div>
  <div class="jnks-iot-form-table">
    <div class="jnks-iot-form-table-header">
      <div class="jnks-iot-form-table-header-cell jnks-iot-position-header" translate>widgets.aggregated-value-card.position</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-aggregation-header" translate>widgets.aggregated-value-card.aggregation</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-units-header" translate>widget-config.units-short</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-decimals-header" translate>widget-config.decimals-short</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-font-header" translate>widgets.aggregated-value-card.font</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-color-header" translate>widgets.aggregated-value-card.color</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-arrow-header" translate>widgets.aggregated-value-card.arrow</div>
      <div class="jnks-iot-form-table-header-cell jnks-iot-actions-header"></div>
    </div>
    <div *ngIf="keysFormArray().controls.length; else noKeys" class="jnks-iot-form-table-body">
      <div *ngFor="let keyControl of keysFormArray().controls; trackBy: trackByKey; let $index = index;">
        <jnks-iot-aggregated-data-key-row class="flex-1"
                         [formControl]="keyControl"
                         [index]="$index"
                         [datasourceType]="datasourceType"
                         [keyName]="keyName"
                         (keyRemoved)="removeKey($index)">
        </jnks-iot-aggregated-data-key-row>
      </div>
    </div>
  </div>
  <div>
    <button type="button" mat-stroked-button color="primary" (click)="addKey()">
      {{ 'widgets.aggregated-value-card.add-value' | translate }}
    </button>
  </div>
</div>
<ng-template #noKeys>
  <span class="jnks-iot-prompt flex items-center justify-center">{{ 'widgets.aggregated-value-card.no-values' | translate }}</span>
</ng-template>
