@import '../../../../../../../../scss/constants';

.jnks-iot-aggregated-data-key-row {
  .mat-mdc-form-field.jnks-iot-inline-field.jnks-iot-aggregation-field {
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) {
      padding-left: 8px;
      padding-right: 0;
      .mat-mdc-form-field-infix {
        padding-top: 0;
        padding-bottom: 6px;
        .mdc-evolution-chip-set .mdc-evolution-chip {
          margin: 0;
        }
        input.mat-mdc-chip-input {
          height: 32px;
          margin-left: 0;
        }
      }
    }
    .mat-mdc-chip.mat-mdc-standard-chip.jnks-iot-datakey-chip {
      .jnks-iot-attribute-chip {
        .jnks-iot-chip-labels {
          background: transparent;
        }
      }
    }
  }

  .jnks-iot-position-field {
    width: 132px;
    min-width: 132px;
  }

  .jnks-iot-aggregation-field {
    flex: 1;
    min-width: 120px;
  }

  .jnks-iot-units-field, .jnks-iot-decimals-field, .jnks-iot-font-field, .jnks-iot-color-field, jnks-iot-arrow-field {
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
  }

  .jnks-iot-units-field {
    width: 80px;
    min-width: 80px;
  }

  .jnks-iot-decimals-field {
    width: 60px;
    min-width: 60px;
  }

  .jnks-iot-font-field, .jnks-iot-color-field, .jnks-iot-arrow-field {
    width: 40px;
    min-width: 40px;
    display: none;
    @media #{$mat-gt-xs} {
      display: block;
    }
  }

  .jnks-iot-units-field, .jnks-iot-decimals-field {
    display: none;
    @media #{$mat-gt-sm} {
      display: block;
    }
  }
}
