@import '../../../../../../../../scss/constants';

.jnks-iot-aggregated-data-keys-panel {
  .jnks-iot-form-table-header-cell {
    &.jnks-iot-position-header {
      width: 132px;
      min-width: 132px;
    }

    &.jnks-iot-aggregation-header {
      flex: 1;
      min-width: 120px;
    }

    &.jnks-iot-units-header {
      width: 80px;
      min-width: 80px;
    }

    &.jnks-iot-decimals-header {
      width: 60px;
      min-width: 60px;
    }

    &.jnks-iot-font-header, &.jnks-iot-color-header, &.jnks-iot-arrow-header {
      width: 40px;
      min-width: 40px;
      display: none;
      @media #{$mat-gt-xs} {
        display: block;
      }
    }

    &.jnks-iot-actions-header {
      width: 40px;
      min-width: 40px;
    }

    &.jnks-iot-units-header, &.jnks-iot-decimals-header {
      display: none;
      @media #{$mat-gt-sm} {
        display: block;
      }
    }
  }
  .jnks-iot-form-table-body {
    jnks-iot-aggregated-data-key-row {
      overflow: hidden;
    }
  }
}

