<ng-container [formGroup]="progressBarWidgetConfigForm">
  <jnks-iot-timewindow-config-panel *ngIf="displayTimewindowConfig"
                              [onlyHistoryTimewindow]="onlyHistoryTimewindow()"
                              formControlName="timewindowConfig">
  </jnks-iot-timewindow-config-panel>
  <jnks-iot-datasources
    [configMode]="basicMode"
    hideDataKeyLabel
    hideDataKeyColor
    hideDataKeyUnits
    hideDataKeyDecimals
    formControlName="datasources">
  </jnks-iot-datasources>
  <div class="jnks-iot-form-panel">
    <div class="jnks-iot-form-panel-title" translate>widget-config.appearance</div>
    <jnks-iot-image-cards-select rowHeight="2:1"
                           [cols]="{columns: 2,
                                    breakpoints: {
                                      'lt-sm': 1
                                    }}"
                           label="{{ 'widgets.progress-bar.layout' | translate }}" formControlName="layout">
      <jnks-iot-image-cards-select-option *ngFor="let layout of progressBarLayouts"
                                    [value]="layout"
                                    [image]="progressBarLayoutImageMap.get(layout)">
        {{ progressBarLayoutTranslationMap.get(layout) | translate }}
      </jnks-iot-image-cards-select-option>
    </jnks-iot-image-cards-select>
    <div class="jnks-iot-form-row">
      <mat-slide-toggle class="mat-slide" formControlName="autoScale">
        {{ 'widgets.progress-bar.auto-scale' | translate }}
      </mat-slide-toggle>
    </div>
    <div class="jnks-iot-form-row column-xs">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showTitle">
        {{ 'widget-config.title' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-1 flex-row items-center justify-start gap-2">
        <mat-form-field class="flex" appearance="outline" subscriptSizing="dynamic">
          <input matInput formControlName="title" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
        <jnks-iot-font-settings formControlName="titleFont"
                          clearButton
                          [previewText]="progressBarWidgetConfigForm.get('title').value"
                          [initialPreviewStyle]="widgetConfig.config.titleStyle">
        </jnks-iot-font-settings>
        <jnks-iot-color-input asBoxInput
                        colorClearButton
                        formControlName="titleColor">
        </jnks-iot-color-input>
      </div>
    </div>
    <div class="jnks-iot-form-row column-xs">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showIcon">
        {{ 'widgets.progress-bar.icon' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-1 flex-row items-center justify-start gap-2">
        <mat-form-field appearance="outline" class="number flex" subscriptSizing="dynamic">
          <input matInput type="number" min="0" formControlName="iconSize" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
        <jnks-iot-css-unit-select class="flex-1" formControlName="iconSizeUnit"></jnks-iot-css-unit-select>
        <jnks-iot-material-icon-select asBoxInput
                                 iconClearButton
                                 [color]="progressBarWidgetConfigForm.get('iconColor').value"
                                 formControlName="icon">
        </jnks-iot-material-icon-select>
        <jnks-iot-color-input asBoxInput
                        colorClearButton
                        formControlName="iconColor">
        </jnks-iot-color-input>
      </div>
    </div>
    <div class="jnks-iot-form-row column-xs">
      <mat-slide-toggle class="mat-slide fixed-title-width" formControlName="showValue">
        {{ 'widgets.progress-bar.value' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-1 flex-row items-center justify-start gap-2">
        <jnks-iot-unit-input class="flex" formControlName="units"></jnks-iot-unit-input>
        <mat-form-field appearance="outline" class="number flex" subscriptSizing="dynamic">
          <input matInput formControlName="decimals" type="number" min="0" max="15" step="1" placeholder="{{ 'widget-config.set' | translate }}">
          <div matSuffix class="lt-md:!hidden" translate>widget-config.decimals-suffix</div>
        </mat-form-field>
        <jnks-iot-font-settings formControlName="valueFont"
                          [previewText]="valuePreviewFn">
        </jnks-iot-font-settings>
        <jnks-iot-color-settings formControlName="valueColor"
                           [minValue]="progressBarWidgetConfigForm.get('tickMin').value"
                           [maxValue]="progressBarWidgetConfigForm.get('tickMax').value"
                           settingsKey="{{'widgets.progress-bar.value' | translate }}">
        </jnks-iot-color-settings>
      </div>
    </div>
    <div class="jnks-iot-form-row space-between column-xs">
      <div>{{ 'widgets.progress-bar.range' | translate }}</div>
      <div class="flex flex-row items-center justify-start gap-2">
        <div class="jnks-iot-small-label" translate>widgets.progress-bar.min</div>
        <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
          <input matInput formControlName="tickMin" type="number" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
        <div class="jnks-iot-small-label" translate>widgets.progress-bar.max</div>
        <mat-form-field appearance="outline" class="number" subscriptSizing="dynamic">
          <input matInput formControlName="tickMax" type="number" placeholder="{{ 'widget-config.set' | translate }}">
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="progressBarWidgetConfigForm.get('layout').value === progressBarLayout.default" class="jnks-iot-form-row space-between">
      <mat-slide-toggle class="mat-slide" formControlName="showTicks">
        {{ 'widgets.progress-bar.range-ticks' | translate }}
      </mat-slide-toggle>
      <div class="flex flex-row items-center justify-start gap-2">
        <jnks-iot-font-settings formControlName="ticksFont"
                          previewText="100">
        </jnks-iot-font-settings>
        <jnks-iot-color-input asBoxInput
                        colorClearButton
                        formControlName="ticksColor">
        </jnks-iot-color-input>
      </div>
    </div>
  </div>
  <div class="jnks-iot-form-panel">
    <div class="jnks-iot-form-panel-title" translate>widgets.progress-bar.bar</div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widgets.progress-bar.bar-color' | translate }}</div>
      <jnks-iot-color-settings formControlName="barColor"
                         [minValue]="progressBarWidgetConfigForm.get('tickMin').value"
                         [maxValue]="progressBarWidgetConfigForm.get('tickMax').value"
                         settingsKey="{{'widgets.progress-bar.bar-color' | translate }}">
      </jnks-iot-color-settings>
    </div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widgets.progress-bar.bar-background' | translate }}</div>
      <jnks-iot-color-input asBoxInput
                      colorClearButton
                      formControlName="barBackground">
      </jnks-iot-color-input>
    </div>
  </div>
  <div class="jnks-iot-form-panel">
    <div class="jnks-iot-form-panel-title" translate>widget-config.card-appearance</div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widgets.background.background' | translate }}</div>
      <jnks-iot-background-settings formControlName="background">
      </jnks-iot-background-settings>
    </div>
    <div class="jnks-iot-form-row space-between column-lt-md">
      <div translate>widget-config.show-card-buttons</div>
      <mat-chip-listbox multiple formControlName="cardButtons">
        <mat-chip-option value="fullscreen">{{ 'fullscreen.fullscreen' | translate }}</mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widget-config.card-border-radius' | translate }}</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput formControlName="borderRadius" placeholder="{{ 'widget-config.set' | translate }}">
      </mat-form-field>
    </div>
    <div class="jnks-iot-form-row space-between">
      <div>{{ 'widget-config.card-padding' | translate }}</div>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input matInput formControlName="padding" placeholder="{{ 'widget-config.set' | translate }}">
      </mat-form-field>
    </div>
  </div>
  <jnks-iot-widget-actions-panel
    formControlName="actions">
  </jnks-iot-widget-actions-panel>
</ng-container>
